.hero {
    .commonHeader {
        padding: 0 70px;
        background-color: transparent;
        &__logo {
            padding: 50px 0 0;
        }
    }
    .commonMenu {
        float: right;
        cursor: pointer;
        padding: 80px 0 0;
    }
    .MenuContent {
        float: right;
        background-color: #E1D7F4;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 280px;
        z-index: 1;
        padding: 80px 0 0;
        display: none;
        &__close {
            margin-right: 70px;
            float: right;
            cursor: pointer;
        }
    }
    .MenuList {
        list-style: none;
        margin-top: 0;
        padding: 60px 0 0;
        &__ele {
            margin-bottom: 5px;
            padding: 8px 20px;
            &:hover, &:active, &:focus {
               /*  border-left: 5px solid #EC1944;
                padding: 8px 20px 8px 15px; */
            }
        }
        &__attr {
            font-size: 14px;
            font-family: $secondary-titlefamily;
            text-transform: uppercase;
            color: #5858B9;
            &:hover, &:active, &:focus {
                color: #EC1944;
            }
        }
        &__main {
            font-size: 22px;
            font-family: $ternary-titlefamily;
            &:hover, &:active, &:focus {
                color: #5858B9;
            }
        }
        &__underline {
            border-bottom:1px solid #5858B9;
            width: 100px;
            margin-left:20px;
        }
        &__cnc {
            padding:0 20px;
        }
        &__bottom {
            position: absolute;
            bottom:85px;
        }
    }
    .menuMob {
        display: none;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        .commonHeader {
            padding: 0 50px;
        }
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
        .commonHeader {
            padding: 0 30px;
            &__logo {
                padding: 20px 0 0;
                height: 55px;
            }
        }
        .commonMenu {
            padding: 35px 0 0;
            img {
                height: 20px
            }
        }
        .MenuContent {
            width: 100%;
            text-align: center;
        }
        .MenuList {
            padding: 30px 0 0;
            &__ele {
                &:hover,&:active,&:focus {
                    border-left: none;
                }
            }
            &__attr {
                &:hover,&:active,&:focus {
                    // border-bottom: 1px solid #ec1944;
                    // padding-bottom: 8px;
                }
            }
            &__underline {
            margin:0 auto;
        }
        }
        .menuMob {
            display: block;
            padding-top: 25px;
        }
    }
}