 .service {
	padding:45px 0 175px;
	 background-color: rgb(238, 86, 72);
    color: white;
	text-align: center;
&__title {
	font-family:  montserrat-bold;
	font-size: 48px;
	text-transform: uppercase;
    margin: 30px 0;
	}
&__para {
	font-size: 16px;
	line-height: 24px;
	font-family: raleway-medium;
	width: 570px;
	margin:0 auto;
}
&__img {
	text-align:right;
}
&__content {
	text-align:left;
}
&__all-design {
	padding :75px 0;
}
}
.service-Bg {
	background: rgb(238, 86, 72);
}
.service-page {
	text-align: center;
	text-transform: uppercase;
	padding: 80px;

&__title {
	font-family:  montserrat-bold;
	font-size: 32px;
	color: rgb(55, 55, 55);
	    margin: 10px 0 20px;
}
&__underline {
	border-bottom: rgb(55, 55, 55) 5px solid;
	width: 60px;
	margin: auto;
}
&__subtitle {
	font-family:  montserrat-bold;
	font-size: 24px;
	color: rgb(55, 55, 55);
	margin-bottom: 3px;
}
&__subtitle-underline {
	border-bottom: rgb(251, 74, 68) 5px solid;
	width: 60px;
}
&__unordered-list {
	padding: 0;
	 width: 450px;
}
&__link {
	color: rgb(251, 74, 68);
	font-family: montserrat-regular;
	font-size: 14px;
	text-decoration: none;
}
&__list {
	font-size: 18px;
	font-family:  montserrat-light;
	color: rgb(102, 102, 102);
	display: inline-block;
	margin:0  29px 20px 0;
	height: 30px;
}
&__list-anchor {
	padding-bottom: 10px;
	border-bottom:rgba(128, 128, 128, 0.61) 1px solid;
	text-decoration: none;
	color: rgb(102, 102, 102);
	pointer-events: none;
}
}
@media screen and (min-width:1866px) {
	.service {
	    
    &__title {
    	font-size: 66px;
    }
    &__para {
    	font-size: 22px;
    	line-height: 36px;
    	width: 795px;
    }
}
}
@media screen and (min-width:1366px) {
	.service-page {
		&__unordered-list {
    padding: 0;
    width: 640px;
		}
	}
}
@media screen and (max-width: 1365px) {
	.service{
		&__all-design {
  	padding :75px 0 33px;
    }
    }
}

@media screen and (max-width: 1023px) {
	.service{
	&__title {
    	font-size: 36px; 	
    }
    &__all-img {
    	width: 152px;
    }
    &__content {
    	
    	padding:0;
    }
    &__all-design {
  	padding :60px 0 10px;
    }
}
    .service-page{
     padding: 65px;
    &__title {
    	font-size: 24px;
    }
   &__subtitle {
    	font-size: 18px;
    }
    &__unordered-list {
    	width: 360px;
    }
    &__list {
    	font-size: 14px;
    	height: 27px;
    }
	&__link {
		font-size: 12px;
	}
	&__subtitle-underline {
	border-bottom: rgb(251, 74, 68) 4px solid;
	width: 50px;
    }
}
  }  
@media screen and (max-width: 767px) {
	.service {
	padding:70px 0 140px;
	&__title {
		font-size: 24px;
	}
	&__img {
	text-align:center;
    }
    &__content {
    	text-align: center;
    }
	&__all-img {
    	width: 102px;
    }
    &__top-image {
    	width: 102px;
    }
	&__para {
		font-size: 14px;
		line-height: 21px;
		width: 240px;
	}
	&__all-design{
		border-bottom: rgba(128, 128, 128, 0.61) 1px solid;	
		padding:27px 0;
	}
}
	.service-page{
		padding:25px 25px 0;
	&__title {
		font-size: 16px;
	}
	&__subtitle {
		font-size: 14px;
	}
    &__unordered-list {
    	width: 100%;
    }
	&__list {
		font-size: 12px;
		margin-right: 0;
		display: block;
	}
	 &__subtitle-underline {
    	margin: auto;
    }
}
}

