<footer class="commonFooter commonSection" id="commonFooter">
	<div class="footerMargin">
		<div class="row footerRow">
			<div class="col-lg-2 col-md-4 col-sm-4 col-xs-7 footerVerticalSeparator">
				<div class="row footer_innerRow">
					<div class="footerColumn">
						<a href="/"><img src="/assets/img/FOOTER/LOGO.png" class="footerColumn__img"></a>
						<a href="/aboutus/" class="footerColumn__heading">CREATIVE STUDIO</a>
						<a href="/aboutus/" class="footerColumn__heading">ABOUT US</a>
						<a href="/aboutus/#our_mission" class="footerColumn__heading">MISSION</a>
						<a href="/aboutus/valuable_clients" class="footerColumn__heading">CLIENTS</a>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4 col-xs-5 footerVerticalSeparator">
				<div class="row footer_innerRow footer_challenge-eshop">
					<div class="footerColumn">
						<a href="" class="footerColumn__heading">CHALLENGES</a>
						<a href="" class="footerColumn__list">COMMING SOON</a>
					</div>
					</div>
					</div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-7 footerVerticalSeparator">
				<div class="row footer_innerRow footer_challenge-eshop  footer_eshop">
					<div class="footerColumn">
						<a href="" class="footerColumn__heading">E-SHOP</a>
						<a href="" class="footerColumn__list">COMMING SOON</a>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4 col-xs-5 footerVerticalSeparator">
				<div class="row footer_innerRow">
					<div class="footerColumn">
					<a href="/aboutus/" class="footerColumn__heading">ABOUT US</a>
					    <a href="" class="footerColumn__heading">LIFE AT LITTLE BRAHMA</a>
					    <a href="/process/" class="footerColumn__heading">OUR PROCESS</a>
					    <a href="/service/" class="footerColumn__heading">OUR SERVICES</a>
						<a href="/portfolio/" class="footerColumn__heading">PORTFOLIO</a>
						<a href="/casestudy/" class="footerColumn__heading">CASESTUDIES</a>
						<a href="/blog/" class="footerColumn__heading"><BLOG></a>
					</div>
					</div>
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-xs-7 footerVerticalSeparator">
				<div class="row footer_innerRow footer_justify">
					<div class="footerColumn">
					    <a href="/contact/" class="footerColumn__heading">CONTACT US</a>
						<a href="/career/" class="footerColumn__heading">CAREERS</a>
						    <div class="imageBorder">
			                    <a href="" class="footerColumn__image"><img src="/assets/img/FOOTER/insta.png"></a>
                                <a href="" class="footerColumn__image"><img src="/assets/img/FOOTER/dribb.png"></a>
                                <a href="" class="footerColumn__image"><img src="/assets/img/FOOTER/behance.png"></a>
                                <a href="" class="footerColumn__image"><img src="/assets/img/FOOTER/twit.png"></a>
			                </div>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4 col-xs-5 footerVerticalSeparator">
				<div class="row footer_innerRow footer_justify">
			<div class="footerColumn">
				<h5 class="footerColumn__title">GET OUR<br>NEWS LETTERS!</h5>
				<div><input type="email" placeholder="ENTER YOUR EMAIL" class="footerColumn__border" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></div>
				<button class="footerColumn__button">SUBSCRIBE</button>
			</div>
			</div>
			</div>
		</div>
		<p class="footerMargin__para">Privacy Policy @copyright 2016, Little Brahma</p>
	</div>
	<div class="footerMob">
			<a href="/aboutus/" class="footerColumn__heading">CREATIVE STUDIO</a>
			<a href="" class="footerColumn__heading">CHALLENGES</a>
			<a href="" class="footerColumn__heading">E-SHOP</a>
			<a href="/aboutus/" class="footerColumn__heading">ABOUT US</a>
			<a href="" class="footerColumn__heading">LIFE AT LITTLE BRAHMA</a>
			<a href="/process/" class="footerColumn__heading">OUR PROCESS</a>
			<a href="/service/" class="footerColumn__heading">OUR SERVICES</a>
			<a href="/portfolio/" class="footerColumn__heading">PORTFOLIO</a>
			<a href="/casestudy/" class="footerColumn__heading">CASESTUDY</a>
			<a href="/blog/" class="footerColumn__heading">BLOG</a>
			<a href="/contact/" class="footerColumn__heading">CONTACT US</a>
			<a href="/career/" class="footerColumn__heading">CAREERS</a>
			<div class="imageBorder">
			<img src="/assets/img/FOOTER/insta.png" class="footerColumn__image">
			<img src="/assets/img/FOOTER/dribb.png" class="footerColumn__image">
			<img src="/assets/img/FOOTER/behance.png" class="footerColumn__image">
			<img src="/assets/img/FOOTER/twit.png" class="footerColumn__image">
			</div>
			<div class="footerColumn">
				<h5 class="footerColumn__title">GET OUR<br>NEWS LETTERS!</h5>
				<div><input type="email" placeholder="ENTER YOUR EMAIL" class="footerColumn__border" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></div>
				<button class="footerColumn__button">SUBSCRIBE</button>
			</div>
			<div class="footerMob__border"></div>
			<p class="footerMob__para">Privacy Policy</p>
			<p class="footerMob__para">@copyright 2016, Little Brahma</p>
		</div>
</footer>