.portfolioDetailBg{
  background-color:#1a1746;
}
  
.middle-section1{
  margin: 3% 5%;
  &__hr1{
  margin-right: 91%;
  margin-bottom: 30px;
    border-top: 6px solid #414143;
  }
  &__hr2{
  margin-right: 82%;
  margin-bottom: 30px;
    border-top: 6px solid #414143;
  }
  &__algn{
  margin-right: 13%;
   font-family: 'Raleway-Medium';
   font-size:14px;
  }
  &__algn1{
  font-family: 'Raleway-SemiBold';
   font-size:14px;
  padding:0;
  margin:0;
  }
  &__centerdiv{
  padding:0;
  }
  &__img1{
  width:100%;
  padding-top: 3%;
    padding-bottom: 1%;
  }
}
.middle-section2{
  
  background-color:#ff9541;
  padding: 10% 0;
  &__img1{
    width:27%;
    margin-left:3%;
    margin-right:3%
  }
}
.middle-section3{
  margin: 5% 5%;
  &__img1{
    width:100%;
    height:100%;
  }
  &__allign{
    padding-left:4%;
  }
  &__title2{
    margin:0;
    color: #414143;
    font-family: Montserrat-bold;
    font-size: 26px;
  }
  &__algn{
    font-family: 'Raleway-Medium';
    font-size:14px;
    height: 273px;
  }
  &__hr3{
  margin-bottom: 40px;
    margin-right: 87%;
    border-top: 6px solid #414143;
    margin-bottom: 20px;
  }
  &__img2{
    width:100%;
  }
  }
  .italic {
  font-family: 'raleway-italic';
  font-size:14px;
}
  
.middle-section4{
  position: relative;
  &__imgbg{

  width:100%;
  }
  &__title3{
    color: #414143;
    font-family: Montserrat-bold;
    font-size: 26px;
  }
  &__algn{
    font-family: 'Raleway-Medium';
    font-size:14px;
  }
  &__pragrph{
  position: absolute;
  top: 36%;
    left: 61%;
    right: 5%;
  }
  &__hr4{
  margin-right: 82%;
  border-top: 6px solid #414143;
  margin-bottom: 40px;
  }

}
.middle-section5{
  background-color: #231f20;
  color:#fff;
  text-align: center;
  padding-top: 3%;
    padding-bottom: 5%;
  &__btn{
    background-color: #ff1b46;
      border: none;
      padding: 15px;
      font-weight: bolder;
      font-size: 22px;
      border-radius: 16px;
  }
  &__headng{
    font-family: Montserrat-bold;
    font-size: 25px;
    padding-bottom:3%;
  }
}
.heading{
  font-family: Montserrat-bold;
  font-size: 26px;
  color: #414143;
}
@media screen and (min-width : 768px) and (max-width : 1024px) {
.header{
  height: 450px;
  .banner{
    padding-top: 150px;
    &__logo{
      height:62px;
      width:50px;
      padding-bottom:12px;
    }
    &__title{
      font-size: 40px;
    }
    
    &__himg{
      padding:7px;
    }
     &__subtitle{
      font-size: 16px;
      padding-bottom:32px;
     }
      &__mintitle{
      font-size: 12px;
      }
      &__himg{
      padding:7px 17px;
    }
  }
}
.middle-section1{
  &__hr1{
  margin-right: 82%;
  }
    &__algn{
     font-size:12px;
    }
    &__algn1{
     font-size:12px;
    }
    &__img1 {
        padding-top: 6%;
        padding-bottom: 1%;
    }
  &__hr2{
  margin-right: 64%;
  }
}
.middle-section2{
  margin:6% 0;
  padding-bottom: 4%;
  padding-top: 13%;
  &__img1{
    width:76%;
    margin-left:12%;
    margin-right:12%;
    margin-bottom: 9%;
  }

}
.middle-section3{
margin: 8% 5%;
  &__hr3{
  margin-right: 72%;
  }
  &__title2{
  font-size:26px;
  }
  &__algn {
    font-size: 12px;
    height: 205px;
}
}
.middle-section4{
  &__pragrph{
  top: 27%;
  left: 61%;
  right: 6%;
  }
  &__title3{
  font-size:26px;
  }
  &__algn {
    font-size: 12px;
}
  &__hr4{
  margin-right: 64%;
  margin-bottom: 30px;
  }
  &__pragrph{
  top: 21%;
    left: 59%;
    right: 4%;
  }

}
.middle-section5{
padding-top: 5%;
padding-bottom: 7%;
  &__btn{
      padding: 10px;
      font-size: 17px;
      border-radius: 13px;

  }
  &__headng{
    font-size:18px;
  }
}
.heading{
  font-size:26px;
}
}
@media screen and (min-width : 320px) and (max-width : 767px) {
.header{
  height:300px;

  .banner{
    padding-top: 90px;
      &__logo{
      height:32px;
      width:31px;
      padding-bottom:1px;
    }
    &__title{
      font-size: 22px;
      padding-bottom: 3px;
    }
    &__himg{
      padding:4px;
    }
    &__subtitle{
      font-size: 13px;
      font-family: 'raleway-regular';
      padding-bottom:23px;
     }
      &__mintitle{
      font-size: 11px;
      }
      &__himg{
      padding:2px 11px;
    }
  }
}
.middle-section1{

  &__hr1{
  margin-right: 34%;
  margin-left: 34%;
  margin-bottom: 12px;
  }
  &__hr2{
  margin-right: 34%;
  margin-left: 34%;
  margin-bottom: 12px;
  }
  &__img1{
  padding-top:11%;
  }
  &__algn{
  font-size: 11px;
  text-align: justify;
  margin-right: 0;

  }
  &__algn1{
  font-size: 11px;
  }
}
.middle-section2{
  margin-top:15%;
  margin-bottom:13%;
  padding-bottom: 11px;
  padding-top:40px;
  &__img1{
    width:76%;
    margin-left:12%;
    margin-right:12%;
    padding-bottom: 9%;
  }
}
.italic {
  font-size:11px;
}

.middle-section3{
  &__img1{
    padding:9% 0;
  }
  &__allign{
    padding-left:0;
  }
  &__title2{
    font-size:16px;

    font-weight: bolder;
  }
  &__hr3{
    margin-right:35%;
    margin-left:35%;
    margin-top: 22px;
    margin-bottom: 18px;
  }
  &__algn{
  text-align: justify;
  font-size: 11px;
  height: 125px;
  }
  &__img2{
    padding-top: 3%;
  }
  }
.middle-section4{
  &__imgbg{

  width:100%;
  }
  &__pragrph{
  position: static;
  margin: 6% 5%;
  }
  &__title3{
  font-size:16px;
  text-align:center;
  }
  &__algn{
  font-size:11px;
  text-align: justify;

  }
  &__hr4{
  margin-right: 35%;
  margin-left: 35%;
  margin-top: 22px;
    margin-bottom: 18px;
  }

}
.middle-section5{
padding: 6% 5% 12%;
  &__btn{
      padding: 8px;
      font-size: 14px;
      border-radius: 10px;
  }
  &__headng{
    font-size:16px;
  }
}
.heading{
  font-size:16px;
  }
}
