<header class="commonHeader">
    {% if page.layout == "service_detail" or page.layout == "contact" or page.layout == "career" %}
        <a href="/"><img src="/assets/img/service/LOGO_RED.png" class="commonHeader__logo"></a>
    {% else %}
        <a href="/"><img src="/assets/img/common/LOGO_WHITE.png" class="commonHeader__logo"></a>
    {% endif %}
    {% if page.layout == "service_detail" or page.layout == "contact" or page.layout == "career" %}
    <span class="commonMenu">
            <img src="/assets/img/common/MENU_RED.png" class="commonMenu__icon">
    </span>
    {% else %}
    <span class="commonMenu">
            <img src="/assets/img/common/MENU_WHITE.png" class="commonMenu__icon">
    </span>
    {% endif %}
    <div class="MenuContent">
        <img src="/assets/img/common/CLOSE.png" class="MenuContent__close">
        <!-- <div class="menuMob"><img src="/assets/img/common/menu_close.png" class="menuMob__img"></div> -->
        <ul class="MenuList">
            <li class="MenuList__ele">
            <a href="javascript:void(0)" class="MenuList__attr MenuList__main MenuList__wwa">who we are<div class="arrow MenuList__arrowDown"></div></a>
            </li>
            <li class="MenuList__ele MenuList__common">
                <a href="/aboutus/" class="MenuList__attr">about us</a> 
            </li>
            <li class="MenuList__ele MenuList__common">
                <a href="" class="MenuList__attr">life at little brahma</a>
            </li>
            <li class="MenuList__ele MenuList__common">
                <a href="/process/" class="MenuList__attr">our process</a>
            </li>
            <li class="MenuList__ele MenuList__common">
                <a href="/service/" class="MenuList__attr">our services</a>
            </li>
            <li class="MenuList__ele MenuList__common">
                <a href="/portfolio/" class="MenuList__attr">portfolio</a>
            </li>
            <li class="MenuList__ele MenuList__common">
                <a href="/casestudy/" class="MenuList__attr">casestudy</a>
            </li>
            <li class="MenuList__ele MenuList__common">
                <a href="/blog/" class="MenuList__attr">blog</a>
            </li>
            <li class="MenuList__ele">
                <a href="" class="MenuList__attr MenuList__main">challenges</a>
            </li>
            <li class="MenuList__ele">
                <a href="" class="MenuList__attr MenuList__main">e-shop</a>
            </li>
            </ul>
            <ul class="MenuList MenuList__bottom">
            <li class="MenuList__cnc">
                <a href="/contact/" class="MenuList__attr">contact us</a>
            </li>
            <li class="MenuList__ele">
                <a href="/career/" class="MenuList__attr">careers</a>
            </li>
            <div class="MenuList__underline"></div>
             <li class="MenuList__ele">
                                <a href="" class="footerColumn__image"><img src="/assets/img/common/icon_instagram.png"></a>
                                <a href="" class="footerColumn__image"><img src="/assets/img/common/icon_dribble.png"></a>
                                <a href="" class="footerColumn__image"><img src="/assets/img/common/icon_behance.png"></a>
                                <a href="" class="footerColumn__image"><img src="/assets/img/common/icon_twitter.png"></a>
                            </li>
        </ul>
    </div>
</header>