<footer class="commonFooter commonSection" id="commonFooter">
	<div class="footerMargin">
		<div class="row footerRow">
			<div class="col-lg-2 col-md-4 col-sm-4 col-xs-7 footerVerticalSeparator">
				<div class="row footer_innerRow">
					<div class="footerColumn">
						<a href="/"><img src="/assets/img/FOOTER/LOGO.png" class="footerColumn__img">
						<a href="/aboutus/"><h5 class="footerColumn__heading">CREATIVE STUDIO</h5></a>
						<a href="/aboutus/"><h6 class="footerColumn__list">ABOUT US</h6></a>
						<a href="/aboutus/#our_mission"><h6 class="footerColumn__list">MISSION</h6></a>
						<a href="/aboutus/valuable_clients"><h6 class="footerColumn__list">CLIENTS</h6></a>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4 col-xs-5 footerVerticalSeparator">
				<div class="row footer_innerRow footer_challenge-eshop">
					<div class="footerColumn">
						<a href=""><h5 class="footerColumn__heading">CHALLENGES</h5></a>
						<a href=""><h6 class="footerColumn__list">COMMING SOON</h6></a>
					</div>
					</div>
					</div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-7 footerVerticalSeparator">
				<div class="row footer_innerRow footer_challenge-eshop  footer_eshop">
					<div class="footerColumn">
						<a href=""><h5 class="footerColumn__heading">E-SHOP</h5>
						<a href=""><h5 class="footerColumn__list">COMMING SOON</h5></a>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4 col-xs-5 footerVerticalSeparator">
				<div class="row footer_innerRow">
					<div class="footerColumn">
					<a href="/aboutus/"><h5 class="footerColumn__heading">ABOUT US</h5></a>
					    <a href=""><h5 class="footerColumn__heading">LIFE AT LITTLE BRAHMA</h5></a>
					    <a href="/process/"><h5 class="footerColumn__heading">OUR PROCESS</h5></a>
					    <a href="/service/"><h5 class="footerColumn__heading">OUR SERVICES</h5></a>
						<a href="/portfolio/"><h5 class="footerColumn__heading">PORTFOLIO</h5></a>
						<a href="/casestudy/"><h5 class="footerColumn__heading">CASESTUDIES</h5></a>
						<a href="/blog/"><h5 class="footerColumn__heading">BLOG</h5></a>
					</div>
					</div>
					</div>
					<div class="col-lg-2 col-md-4 col-sm-4 col-xs-7 footerVerticalSeparator">
				<div class="row footer_innerRow footer_justify">
					<div class="footerColumn">
					    <a href="/contact/"><h5 class="footerColumn__heading">CONTACT US</h5></a>
						<a href="/career/"><h5 class="footerColumn__heading">CAREERS</h5></a>
						    <div class="imageBorder">
			                    <a href="" class="footerColumn__image"><img src="/assets/img/FOOTER/insta.png"></a>
                                <a href="" class="footerColumn__image"><img src="/assets/img/FOOTER/dribb.png"></a>
                                <a href="" class="footerColumn__image"><img src="/assets/img/FOOTER/behance.png"></a>
                                <a href="" class="footerColumn__image"><img src="/assets/img/FOOTER/twit.png"></a>
			                </div>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4 col-xs-5 footerVerticalSeparator">
				<div class="row footer_innerRow footer_justify">
			<div class="footerColumn">
				<h5 class="footerColumn__title">GET OUR<br>NEWS LETTERS!</h5>
				<div><input type="email" placeholder="ENTER YOUR EMAIL" class="footerColumn__border" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></div>
				<button class="footerColumn__button">SUBSCRIBE</button>
			</div>
			</div>
			</div>
		</div>
		<p class="footerMargin__para">Privacy Policy @copyright 2016, Little Brahma</p>
	</div>
	<div class="footerMob">
			<a href="/aboutus/"><h5 class="footerColumn__heading">CREATIVE STUDIO</h5></a>
			<a href=""><h5 class="footerColumn__heading">CHALLENGES</h5></a>
			<a href=""><h5 class="footerColumn__heading">E-SHOP</h5></a>
			<a href="/aboutus/"><h5 class="footerColumn__heading">ABOUT US</h5></a>
			<a href=""><h5 class="footerColumn__heading">LIFE AT LITTLE BRAHMA</h5></a>
			<a href="/process/"><h5 class="footerColumn__heading">OUR PROCESS</h5></a>
			<a href="/service/"><h5 class="footerColumn__heading">OUR SERVICES</h5></a>
			<a href="/portfolio/"><h5 class="footerColumn__heading">PORTFOLIO</h5></a>
			<a href="/casestudy/"><h5 class="footerColumn__heading">CASESTUDY</h5></a>
			<a href="/blog/"><h5 class="footerColumn__heading">BLOG</h5></a>
			<a href="/contact/"><h5 class="footerColumn__heading">CONTACT US</h5></a>
			<a href="/career/"><h5 class="footerColumn__heading">CAREERS</h5></a>
			<div class="imageBorder">
			<img src="/assets/img/FOOTER/insta.png" class="footerColumn__image">
			<img src="/assets/img/FOOTER/dribb.png" class="footerColumn__image">
			<img src="/assets/img/FOOTER/behance.png" class="footerColumn__image">
			<img src="/assets/img/FOOTER/twit.png" class="footerColumn__image">
			</div>
			<div class="footerColumn">
				<h5 class="footerColumn__title">GET OUR<br>NEWS LETTERS!</h5>
				<div><input type="email" placeholder="ENTER YOUR EMAIL" class="footerColumn__border" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></div>
				<button class="footerColumn__button">SUBSCRIBE</button>
			</div>
			<div class="footerMob__border"></div>
			<p class="footerMob__para">Privacy Policy</p>
			<p class="footerMob__para">@copyright 2016, Little Brahma</p>
		</div>
</footer>