<header class="commonHeader">
    <img src="/assets/img/common/LOGO_WHITE.png" class="commonHeader__logo">
    <span class="commonMenu">
        <img src="/assets/img/common/MENU_WHITE.png" class="commonMenu__icon">
    </span>
    <div class="MenuContent">
        <img src="/assets/img/common/CLOSE.png" class="MenuContent__close">
        <div class="menuMob"><img src="/assets/img/common/LOGO_RED.png" class="menuMob__img"></div>
        <ul class="MenuList">
            <li class="MenuList__ele">
                <a href="" class="MenuList__attr">creative studio</a>
            </li>
            <li class="MenuList__ele">
                <a href="" class="MenuList__attr">life at little brahma</a>
            </li>
            <li class="MenuList__ele">
                <a href="" class="MenuList__attr">our services</a>
            </li>
            <li class="MenuList__ele">
                <a href="" class="MenuList__attr">our process</a>
            </li>
            <li class="MenuList__ele">
                <a href="/portfolio" class="MenuList__attr">portfolio</a>
            </li>
            <li class="MenuList__ele">
                <a href="" class="MenuList__attr">casestudy</a>
            </li>
            <li class="MenuList__ele">
                <a href="" class="MenuList__attr">challenges</a>
            </li>
            <li class="MenuList__ele">
                <a href="" class="MenuList__attr">e-shop</a>
            </li>
            <li class="MenuList__ele">
                <a href="" class="MenuList__attr">careers</a>
            </li>
            <li class="MenuList__ele">
                <a href="" class="MenuList__attr">news</a>
            </li>
            <li class="MenuList__ele">
                <a href="" class="MenuList__attr">contact us</a>
            </li>
        </ul>
    </div>
</header>