{% for post in site.casestudy %}
    {% if post.category %}
        {% capture tmp %}{{ tmp }}#{{ post.category }}{% endcapture %}
    {% endif %}
{% endfor %}

{% assign allprojects = tmp | remove_first: '#' | split: '#' %}


{% for category in allprojects %}
    {% unless tmp2 contains category %}
        {% capture tmp2 %}{{ tmp2 }}#{{ category | strip }}{% endcapture %}
    {% endunless %}
{% endfor %}

{% assign uniqueprojects = tmp2 | remove_first: '#' | split: '#' %}

<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 selectSection">
			<h5 class="selectSection__title">SELECT CATEGORY</h5>
			<div class="selectSection__border"></div>
			<div class="radioSection">
			{% for category in uniqueprojects %}
			<div class="selectInput">
	  			<input id="r-option{{forloop.index}}" type="radio" name="field" value="{{radios.value}}" data-id="{{forloop.index}}" data-category="{{category}}" class="radio">
	  			<label for="r-option{{forloop.index}}" class="branding"><span class="select__radio"><span></span></span><span class="select__title">{{category}}</span></label>
  			</div>
  			{% endfor %}
  			</div>
</div>