.about-us {
    background-color: #1a1746;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 0 0;
    height: 100vh;

 &__button {
    color: white;
    font-family: montserrat-bold;
    background-color: rgb(252, 0, 67);
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
}   
}
.about-us-left,.our-mission-left {
    text-align: right;
&__img {
    height: 520px;
    width: 420px;
}
}
.about-us-right,.our-mission-right {
    padding-top: 120px;

&__heading {
    font-family: montserrat-bold;
    text-transform: uppercase;
    font-size: 48px;
    margin: 0 0 9px;
    line-height: 48px;
    color: white;
}
&__underline{
    border-bottom: rgb(249, 210, 0) 5px solid;
    width: 65px;
       }
&__para {
    font-family: raleway-light;
    font-size: 13px;
    line-height: 25px;
    height: 120px;
    color: white;
    width: 420px;
}
}
.our-mission {
    background-color: rgb(232, 52, 99);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;   
    // padding:100px 0;
    height: 100vh;
}

.our-mission-left__img {
    height: 520px;
    width: 420px;
}
.valuable-clients {
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;  
    color: grey;
    padding:100px 0;
    height: 100vh;
    align-items:center;

&__heading {
    color: rgb(69, 65, 69);
    width: 400px;
    font-family: montserrat-bold;
    text-transform: uppercase;
    font-size: 48px;
    margin: 0 0 9px;
    line-height: 48px;
}  
&__underline {
    border-bottom: rgb(232, 52, 99) 5px solid;
    width: 65px;
}
}
.valuable-clients-left {
    width: 500px;
    margin-right: 70px;
    float:right;
&__para{
    height: 100px;
    font-family: raleway-light;
    font-size: 13px;
    line-height: 25px;
    width: 420px;
}
&__unorder-list {
    width: 100%;
    padding: 30px 0 0;
    margin: 0;
    border-top: rgb(216, 210, 210) 1px solid;
}
&__list {
    width: 24%;
    display: inline-block;
    height: 70px;
}
&__logo {
    width: 120px;
    cursor: pointer;
}
}
.valuable-clients-right {
    width: 270px;
    &__list {
        cursor: pointer;
    }
&__billgates-img {
    width: 270px;
    height:270px;
}
&__microsoft-img {
    width: 113px;
    height: 40px;
    margin: 20px 0 0px 80px;
}
&__para {
    width: 90%;
    text-align: center;
    font-size: 10px;
    margin: auto;
    font-family: raleway-light;
    line-height: 14px;
    font-style: italic;
    
}
&__para-author {
    
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    font-style: italic;
    
    font-family: raleway-light;
    line-height: 25px;
}
&__inverted-comma {
    font-size: 16px;
    font-family: sans-serif;
}
&__unorder-list {
    width: 490px;
    padding: 30px 0 0;
    margin: auto;
    border-top: rgb(216, 210, 210) 1px solid;
    display: none;
}
&__list {
    width: 24%;
    display: inline-block;
    height: 70px;
}
&__logo {
    width: 120px;
}
}
.tab-indicators,.tab-indicators1,.tab-indicators2 {
    list-style: none;
    position: fixed;
    right: 50px;
    text-align: right;
    top: 50%;
    li {
        margin-bottom: 10px;
        a {
            color: #fff;
            opacity: 0.5;
            font-family: $ternary-titlefamily;
            font-size: $ternary-contentfont;
        &.active {
            color: #FFDE17;
            opacity: 1;
        }
        }
    }
}
.about-indicators {
        position: fixed;
        right: 70px;
        top: 48%;
        list-style: none;
        li a {
            background-color: #fff;
            border-radius: 50%;
            display: block;
            height: 10px;
            margin-bottom: 20px;
            width: 10px;
            cursor: pointer;
            &.active {
                background-color: #f1123e;
            }
        }
    }
    .about_us-Bg{
    background-color:#1A1746;
    }
    #about_us-Bg{   
    background-color:#1A1746;
     overflow-y: hidden;
     height: 100vh;
    
}
.about-us-height {
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutScroll {
    margin: 0 auto;
    width: 14px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    opacity: .5;
    img {
        margin: 0 0 40px;
    }
}
#about_usMob {
    display: none;
}
#about_us {
    display: block;
}
@media screen and (min-width: 1866px){
    .about-us,.valuable-clients,.our-mission {
        height: 1050px;
    }
    .about-us-left__img {
    height: 692px;
    width: 504px;
    }
    .our-mission-left__img {
    height: 692px;
    width: 504px;
    }
    .about-us-right,.our-mission-right {
        padding-top: 180px;
    
    &__heading {
        font-size: 66px;
        margin-bottom: 15px;
    }
    &__para {
        font-size: 16px;
        line-height: 34px;
        width: 550px;
    }
    &__underline {
        width: 83px;
        border-bottom: rgb(249, 210, 0) 7px solid;
    }
}
     .valuable-clients-left {
        width: 700px;
    }
    .valuable-clients__heading {
        font-size: 66px;
        line-height: 66px;
    }  
    .valuable-clients__underline {
        border-bottom: rgb(232, 52, 99) 7px solid;
        width: 83px;
    }
    .valuable-clients-left__para {
        font-size: 16px;
        line-height: 34px;
        width: 550px;
    }
    .valuable-clients-left__logo{
        width: 170px;
        height: 70px;
    }
    .valuable-clients-right {
        width: 368px;
        display: none;
    }
    .valuable-clients-right__billgates-img {
        width: 368px;
        height:368px;
    }
    .valuable-clients-right__microsoft-img {
        width: 160px;
        height: 55px;
        margin: 20px 0 0px 100px;
    }
    .valuable-clients-right__para {
       font-size: 12px;
       font-weight: normal;
    }
    .valuable-clients-right__para-author{
       font-size: 12px;
    }
    .valuable-clients-right__inverted-comma{
       font-size: 25px;
    }   
}
@media screen and (max-width: 1365px){
    .valuable-clients-left {
        width: 420px;
        margin-right: 55px;   
    &__list {
        width: 32%;
    }
    &__heading {
        width: 100%;
    }
    &__para {
        width: 100%;
    }
}
    .about-us-left {
        width: 420px;
        height: 520px;
    &__img {
        height: 520px;
        width: 420px;
    }
}
    .about-us-right,.our-mission-right {
        width: 380px;
    &__para {
        width: 420px;
    } 
    } 
    .our-mission-left {
        height: 520px;
        width: 420px;
        margin: 0 auto;
    &__img {
        height: 520px;
        width: 420px;
    }
}
    
    .valuable-clients-right__billgates-img{
        width: 100%;
        height: 100%;
    }
    .valuable-clients-right__microsoft-img{
        margin-left: 27%;
    }   
}
@media screen and (max-width: 1023px){
#company1 {
    display: block;
}
    #about_usMob {
    display: block;
}
#about_us {
    display: none;
}
    .about-indicators {
        display: none;
    }
    .about-us {
         display: block;
        height: auto;
        // padding:0 0 120px ;
      &__button {
        padding: 8px 20px;
        font-size: 12px;
    }  
    }
    .our-mission,.valuable-clients{
        display: block;
        height: auto;
        padding: 120px 0;
    }
    .about-us-left {
        margin:0 auto;
        position: relative;
        max-width: 100%;
    }
    .about-us-left__img {
        position:absolute;
        left:-150px;
    }
    .about-us-right {
        margin: 0 auto 10px;
        padding: 0px;
        max-width: 100%;
    }
    .our-mission-right {
        margin:0 auto;
        padding: 0px;
    }
    .about-us-right__para, .our-mission-right__para {
        height: 90px;
    }
    
    .valuable-clients-left {
        width: 490px;
        margin:0 auto;
        text-align: center;
        float: none;
      &__unorder-list {
        display: none;
    }  
    }
    .valuable-clients-block {
        margin: 0 auto;
        padding:0;
    }
    .valuable-clients__underline {
        margin: auto;
    }
    .valuable-clients__heading {
        width: 100%;
    }
    .valuable-clients-right {
        margin:0 auto;
    &__microsoft-img {
        margin: 20px 0 0px 55px;
        width: 170px;
        height: 65px;
    }
    &__para {
        font-size: 12px;
        width: 100%;
    }
    &__para-author {
        font-size: 12px;
    }
    &__unorder-list {
        display: block;
    }
}
.about-us-height {
padding-bottom: 50px;
position: relative;
}
.aboutScroll {
img {
    margin: 0 0 15px;
}
}
}
@media screen and (max-width:767px) {
    .about-us-right,.our-mission-right {
        text-align: center;  
        width: 241px;   
    &__underline  {
        margin:0 auto;
         border-bottom: rgb(249, 210, 0) 4px solid;
        width: 40px;
    }
    &__heading {
       font-size: 18px;
        line-height: 18px; 
    }
    &__para {
         font-size: 11px;
        line-height: 16px;
        height: 80px;
        width: 100%;
    }
}
    .valuable-clients__heading {
        font-size: 18px;
        line-height: 18px;
    }
    .about-us__button {
        padding: 7px 16px;
        font-size: 10px;
    }
    .valuable-clients-left{
        width: 241px;
    &__para {
        font-size: 11px;
        line-height: 16px;
        height: 80px;
    }
}
.valuable-clients-right {
    &__list {
        width: 48%;
    }
    &__microsoft-img {
        margin-left: 35px;
    }
    &__logo {
        width: 130px;
    }
}
    .valuable-clients-right__unorder-list,.valuable-clients-right{
        width: 241px;
    }
    
    .about-us-left,.our-mission-left {
        width: 241px;
        height: 290px;
        position:static;
        &__img {
            width: 100%;
            height: 100%;
            position:initial;
        }
    }
    // .about-us{
    //     padding:0 0 50px;
    // }
        .our-mission,.valuable-clients {
        height: auto;
        padding: 50px 0;
    }  
    .valuable-clients__underline {
        border-bottom: rgb(67, 66, 69) 5px solid;
        width: 65px;
}
.aboutScroll {
    img {
        margin: 0 0 2px;
    }
}

.aboutScroll {
    left: 3%;
    right: 3%;
    bottom: 2%;
}
}
