#service-detail .commonHeader {
	position:static;
	padding:0 70px;
}
.service-detailBg {
	background-color: #f0f1f1;
}
.service-detail-all {
	background-color: #f0f1f1;
}
.service-detail {
	padding:78px 50px;
	background-color: #f0f1f1;
&__img {
	width :191px;
}
&__title {
	text-transform :uppercase;
	font-family:montserrat-bold;
	font-size:35px;
	margin-bottom:0;
	color:rgb(66,64,67);
}
&__underline {
    border-bottom: 3px rgb(66,64,67) solid;
    width: 60px;
}
&__subtitle {
	text-transform :uppercase;
	font-family:montserrat-bold;
	font-size:21px;
	color:#F69320;
}
&__para {
	font-family:raleway-medium;
	font-size:14px;
	line-height:25px;
	text-align: justify;
    margin-bottom: 57px;
}
&__link {
	text-decoration: none;
    color: white;
    font-family: raleway-bold;
    text-transform: uppercase;
    background-color: rgb(255, 27, 70);
    padding: 13px 20px;
    border-radius: 10px;
    font-size :14px;
}
}
@media screen and (min-width:1866px) {
	.service-detail {
	     padding:78px 50px;
	 &__img {
	width :250px;
    } 
    /* &__title {
    font-size: 46px;  
	} */
	&__subtitle {
		font-size: 24px;
	}
	&__para {
		font-size: 16px;
	}
	&__underline {
		border-bottom: 5px rgb(66,64,67) solid;
    width: 78px;
	}
}
}
@media screen and (max-width:1365px) {
	.service-detail {
	     padding:78px 35px;
}
}
@media screen and (min-width:1090px) {
	.service-detail {
		width: 1090px;
		margin: 0 auto;
	}
}
@media screen and (max-width:1023px) {
	.service-detail {
	     padding:78px 20px;
	&__img {
		width: 170px;
	}  
	 &__title {
    font-size: 32px;  
	}
	&__underline {
		width: 55px;
	}
	&__para {
		font-size: 12px;
		line-height: 21px;
	}   
}
}
@media screen and (max-width:767px) {
	.service-detail {
	     padding:40px 0px 60px;
	     text-align: center;
	&__img {
		width: 130px;
	}  
	 &__title {
    font-size: 25px;  
    margin-top: 20px;
	}
	&__subtitle {
		font-size: 16px;
	}
	&__para {
		font-size: 11px;
	}  
	&__underline {
		margin: 0 auto 30px;
		width: 40px;
		border-bottom: 2px rgb(66,64,67) solid;
	}
}
}