.hero {
	#deskProcess {
		display: block;
	}
	#TabMobProcess {
		display: none;
	}
	.processBg {
		background-color: #B93961;
	}
	.processBgContent {
		background-color: #1A1746;
		padding: 120px 90px;
		&__img {
			width: 100%;
		}
		.processContent {
			width: 320px;
			color: $secondary-color;
			padding-top: 150px;
			&__heading {
				font-size: 26px;
				font-family: $ternary-titlefamily;
				letter-spacing : 0.65px;
  				color : #FFDD17;
			}
			&__para {
				font-size: $secondary-contentfont;
				font-family: $secondary-contentfamily;
				line-height : 25px;
  				letter-spacing : 0.24px;
			}
		}
		.alignRight {
			text-align: right;
			float: right;
		}
	}
	.processSvg {
		position: absolute;
		width: 40%;
		left: 39%;
		top: 192%;
	}
	.processSvg1 {
		position: absolute;
		width: 40%;
		left: 21%;
		top: 264%;
	}
	.processSvg2 {
		position: absolute;
		width: 40%;
		left: 39%;
		top: 335%;
	}
	.processSvg3 {
		position: absolute;
		width: 40%;
		left: 21%;
		top: 410%;
	}
	@media screen and (max-width: 1199px){
		.line {
	        margin: 0 auto;
	    }
	    #deskProcess {
			display: none;
		}
		#TabMobProcess {
			display: block;
			padding-bottom: 10px;
		}
		.processBgContent {
			.processContent {
	    		padding-top: 120px;
	    	}
	    }
    }
    @media screen and (max-width: 767px){
		.line {
	        display: none;
	    }
	    .processBgContent {
    		padding: 0;
    		.processContent {
			    padding: 25px 0 0;
			    text-align: center;
			    width: 270px;
			    &__heading {
    				font-size: $ternary-headingfont;
    			}
			}
    	}
    	.mobRow {
    		border-bottom: 1px solid #FFC700;
		    height: 500px;
		    margin: 0 auto 25px;
		    width: 300px;
		    &:last-child {
		    	border-bottom: none;
		    }
    	}
    }
}



