.hero {
	.processBg {
		background-color: #B93961;
	}
	.processContent__lg {
		background-color: #1A1746;
	}
	.img{
		float: right;
	}
	.headimg{
		padding-left: 33px;
	}
	.processBgContent {
		background-color: #1A1746;
		padding: 120px 0;
		max-width: 1866px;
        margin: 0 auto;
		&__img {
			width: 80%;
			margin-left: 3rem;
		}
		.processContent {
			width: 320px;
			color: $secondary-color;
			// transform: translatey(55px);
			&__heading {
				font-size: 26px;
				font-family: $ternary-titlefamily;
				letter-spacing : 0.65px;
			}
			&__para {
				font-size: $secondary-contentfont;
				font-family: $secondary-contentfamily;
				line-height : 25px;
  				letter-spacing : 0.24px;
			}
			&__hr1{
				border-bottom: 4px solid #ffc600;
				margin-right: 304px;
			}
			&__hr2{
				border-bottom: 4px solid #ffc600;
				margin-left: 304px;
			}
			&__nmbr{
				font-family: $ternary-titlefamily;
				letter-spacing : 0.65px;
				font-size: 26px;
				color: #ffc600;
			}
			&__line{
			    width: 150px;
			    position: absolute;
			}
			&__line1{
			    width: 150px;
			    position: absolute;
			    right: 10px;
			    
			}

		}
		&__allign{
				padding-bottom: 90px;
			}
			&__allign1{
				padding-right: 100px;
			}
			&__allign2{
				padding-right: 50px;
			}
		&__alignRight {
			text-align: right;
			float: right;
			position: relative;

		}
		&__adjust{
			// padding: 0;
			position: relative;
			right: 2rem;
			@media only screen and (min-width:1366px) {
				img {
					// margin-left: 1.4rem;
				}
			}
		}
	}
	
	@media screen and (max-width: 1199px){
		.processBgContent {
		padding: 120px 0 120px 40px;
		
		}
		.line {
	        margin: 0 auto;
	    }
	    .img1{
	    	width: 200px;
	    }
	    .headimg{
			padding-left: 25px;
		}

		.processBgContent {

			.processContent {
    			width: 200px;
    			transform: translatey(23px);
	    	&__heading {
				font-size: 20px;
			}
			&__para {
				line-height : 20px;
				font-size:10px;
			}
			&__nmbr{
				font-size: 24px;
			}
	    	&__hr1 {
			    margin-right: 182px;
			}
			&__hr2 {
			    margin-left: 182px;
			}
			&__line{
			    width: 110px;
			}
			&__line1{
			    width: 110px;
			    right: 0;
			    
			}
			}
			&__allign{
				padding-bottom: 60px;
			}
	    }
    }
    @media screen and (max-width: 767px){
    .processBgContent {
    
		padding: 120px 0;
		}
    	.processBg {
	
	}
	.headimg{
		padding-left: 15px;
		
	}
	.headpara{
		line-height: 18px;
	}
	.img1{
	    	width: 150px;
	    }
	 
	.processBgContent {
			padding: 100px 0;
			.processContent {
			transform: translatey(0);
			width: 100%;
	    &__line{
	    	display: none;
			}
			&__line1{
			    display: none;
			}
			&__heading {
				font-size: 12px;
			}
			&__para {
				font-size: 9px;
				line-height : 16px;
  				letter-spacing : 0.24px;
			}
			&__hr1{
				margin-right: 93%;
			}
			&__hr2{
				margin-left: 94%;
			}
			&__nmbr{
				letter-spacing : 0.65px;
				font-size: 15px;
			}
	    }
	    &__allign1{
				padding-right: 0;
			}
			 &__adjust1{
	  	padding: 0;
	  }
	  &__allign{
				padding: 0 15px 60px;
			}
	    }
    }
}





