
$mobileHeading: 14px;
$tabHeading:16px;
$laptopHeading:18px;
$desktopHeading:18px;
$highresHeading:22px;
$primary-titlefamily: "montserrat-regular";
$secondary-titlefamily: "montserrat-light";
$ternary-titlefamily: "montserrat-bold";
$primary-contentfamily: "raleway-regular";
$secondary-contentfamily: "raleway-light";
$ternary-contentfamily: "raleway-bold";
.lifeContainer {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    &__video { 
        margin-bottom: 30px;
        img {
            width: 100%;
        }
    }
    &__content {}
    &__details {
        padding:80px 0px;
        h1 {
            font-family: $ternary-titlefamily;
            font-size: $desktopHeading;
            color: #333;
            letter-spacing: 0.02em;
            text-align: center;
            text-transform: uppercase;
            margin-bottom:40px;
        
        }
        p {
            font-family: $primary-contentfamily;
            font-size: 15px;
            color: #666;
            line-height: 24px;
            margin-bottom: 40px;
            text-align: center;
        }
    }
}
.middle-section3{
&__midimg{
    display: flex;
    &--class1{
    height: 500px;
    width: 620px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    }
    &--class2{
    width: 384px;
    }
    &--class2-1{
      height: 240px;
    width: 384px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    }
    &--class2-2{
    margin-top:20px;
    height: 240px;
    width: 384px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    }
  }
}
.contentContainer {
    h1 {
        font-family: $ternary-titlefamily;
        font-size: $desktopHeading;
        color: #333;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        margin-bottom:35px;
        margin-top: 0;
    }
    p {
        font-family: $primary-contentfamily;
        font-size: 15px;
        color: #666;
        line-height: 24px;
        margin-bottom: 80px;
        margin-top: 0;
    }
}

.imageSecondLayout {
    &__first {}
    &__second {
        margin-top: 11px;
        margin-bottom: 80px;
    }
    &__fLeft {
        img {
            width: 100%;
        }
    }
    &__fRight {
        img {
            width: 100%;
        }
    }
}

.imageFirstLayout {
    .img_cont:first-child {
        margin-bottom: 3px;
    }
    .img_cont0 {
        display: inline;
        width: 800px;
        // background-color: gree;
    }
    .img_cont1 {
        display: inline;
        width: 400px;
        // background-color: red;
    }
    .img_cont2 {
        display: inline;
        width: 400px;
        // background-color: red;
        margin-left: 20px;
    }
    #image {
        display: inline-block;
        width: 100%;
        font-size: 0;
        line-height: 0;
        vertical-align: middle;
        background-size: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
       
    }
    #image1 {
        display: inline-block;
        width: 100%;
        font-size: 0;
        line-height: 0;
        vertical-align: middle;
        background-size: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
       
    }
    #image2 {
        display: inline-block;
        width: 100%;
        font-size: 0;
        line-height: 0;
        vertical-align: middle;
        background-size: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        
    }
    .img_test {
        display: flex;
    }
    .bg_layout {
        background-color: red;
    }
    #image-inner {
        display: block;
        height: 0;
        padding-top: 67%;
    }
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .imageFirstLayout .img_cont:first-child {
    /* margin-bottom: 3px; */
    margin-top: -12px;
}
    .imageSecondLayout {
        &__fLeft {
            margin-bottom: 12px;
        }
        &__second {
            margin-top: 15px; 
            margin-bottom: 25px;
        }
    }
    .middle-section3{
    &__midimg{
    //margin-bottom: 22%;
    display:block;
    &--class1{
  width: 280px;
    height: 226px;
    padding: 0;
    background-size: 100% 100%;
    }
    &--class2{
      width:100%;
    }
    &--class2-1{
      padding:0px;
    width: 280px;
    height: 172px;
    margin-top: 10px;
    background-size: 100% 100%;
    }
    &--class2-2{
      padding:0px;
       width: 280px;
    height: 172px;
    margin-top: 10px;
    background-size: 100% 100%;
    }
  }
}
    .lifeContainer {
        width:280px;
        margin-left: auto;
        margin-right:auto;
        padding-top: 100px;
        &__details {
            padding:25px 0px 30px;
            h1 {
                font-family: $ternary-titlefamily;
                font-size: 14px;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0.02em;
                margin-bottom:15px;
                margin-top: 0;
            }
            p {
                font-family: $primary-contentfamily;
                font-size: 12px;
                color: #666;
                line-height: 20px;
                margin-bottom:0px;
                text-align: center;
            }
        }
    }
    .contentContainer {
        h1 {
            font-family: $ternary-titlefamily;
            font-size: 14px;
            color: #333;
            letter-spacing: 0.02em;
            text-align: center;
            margin-bottom: 15px;
            margin-top: 0;  
        }
        p {
            font-family: $primary-contentfamily;
            font-size: 12px;
            color: #666;
            line-height: 20px;
            margin-bottom: 20px;
            margin-top: 0;
            text-align: center;
        }
    }
    .imageFirstLayout {
        .img_test {
            display: inline;
        }
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .imageFirstLayout #image {
        margin-bottom:-12px;
    }
    .imageSecondLayout {
        &__fLeft {
            margin-bottom: 0px;
        }
        &__second {
            margin-top: 9px;
            margin-bottom: 40px;
        }
    }
    .middle-section3{
&__midimg{
    &--class1{
    height: 260px;
    width: 305px;
    margin-right: 10px;
    }
    &--class2{
    width: 205px;
    }
    &--class2-1{
      height: 125px;
    width: 205px;
    }
    &--class2-2{
    margin-top:10px;
    height: 125px;
    width: 205px;
    }
  }
}
    .lifeContainer {
        width:520px;
        margin-left: auto;
        margin-right:auto;
        &__details {
            padding:40px 0px;
            h1 {
                font-family: $ternary-titlefamily;
                font-size: 15px;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0.02em;
                margin-bottom:20px;
            }
            p {
                font-family: $primary-contentfamily;
                font-size: 13px;
                color: #666;
                line-height: 21px;
                margin-bottom: 40px;
                margin-top: 0;
                margin-bottom:0px;
            }
        }
    }
    .contentContainer {
        h1 {
            font-family: $ternary-titlefamily;
            font-size: 15px;
            color: #333;
            letter-spacing: 0.02em;
            margin-bottom: 20px;
            margin-top: 0;
        }
        p {
            font-family: $primary-contentfamily;
            font-size: 13px;
            color: #666;
            line-height: 21px;
        }
    }
    .imageFirstLayout {
        .img_test {
            display: inline;
        }
    }
}

@media only screen and (min-width:1024px) and (max-width:1366px) {
    .imageFirstLayout .img_cont2 {
    display: inline;
    width: 400px;
    margin-left: 12px;
}
.middle-section3{
&__midimg{
    display:flex;
    &--class1{
    height: 355px;
    width: 440px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    }
    &--class2{
    width: 270px;
    }
    &--class2-1{
      height: 173px;
    width: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 50%;
    }
    &--class2-2{
    margin-top:10px;
    height: 172px;
    width: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    }
  }
}
    .lifeContainer {
        width:720px;
        margin-left: auto;
        margin-right:auto;
        &__details {
            padding:55px 0px;
            h1 {
                font-family: $ternary-titlefamily;
                font-size: 17px;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0.02em;
                margin-bottom:30px;
                margin-top: 0;
            }
            p {
                font-family: $primary-contentfamily;
                font-size: 14px;
                color: #666;
                line-height: 22px;
                margin-bottom: 0px;
                margin-top: 0;
            }
        }
    }
    .contentContainer {
        h1 {
            font-family: $ternary-titlefamily;
            font-size: 17px;
            color: #333;
            letter-spacing: 0.02em;
            margin-top: 0;
            margin-bottom:30px;

        }
        p {
            font-family: $primary-contentfamily;
            font-size: 14px;
            color: #666;
            line-height: 22px;
            margin-top: 0;
        }
    }
}

@media only screen and (min-width:1866px) {
    .imageFirstLayout {
        .img_cont0 {
            display: inline;
            width:1600px;
        }
        .img_cont2 {
            display: inline;
            width:800px;
        }
    }
     .middle-section3{
&__midimg{
    &--class1{
    height: 676px;
    width: 834px;
    margin-right: 20px;
    }
    &--class2{
    width: 514px;
    }
    &--class2-1{
      height: 323px;
    width: 514px;
    }
    &--class2-2{
    margin-top:20px;
    height: 333px;
    width: 514px;
    }
  }
 }
    .lifeContainer {
        width:1380px;
        margin-left:auto ;
        margin-right:auto;
        &__details {
            padding:100px 0px;
            h1 {
                font-family: $ternary-titlefamily;
                font-size: 24px;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0.02em;
                line-height: 34px;
                margin-bottom:55px;
            }
            p {
                font-family: $primary-contentfamily;
                font-size: 16px;
                color: #666;
                line-height: 25px;
                margin-bottom: 40px;
            }
        }
    }
    .contentContainer {
        h1 {
            font-family: $ternary-titlefamily;
            font-size: 24px;
            color: #333;
            letter-spacing: 0.02em;
            line-height: 34px;
            margin-bottom:40px;
        }
        p {
            font-family: $primary-contentfamily;
            font-size: 16px;
            color: #666;
            line-height: 25px;
        }
    }
}