.hero {
	.blogBg {
		background-color: #27AAE1;
		.blogHeight {
			height: 307px;
			text-align: center;
			padding-top: 48px;
			color: $secondary-color;
		&__heading {
			font-size: $secondary-headingfont;
			font-family: $ternary-titlefamily;
		}
		&__para {
			font-family: 'raleway-medium';
			font-size: $primary-contentfont;
		}
	}
	}
	
}