.hero {
	.blogBg {
		background-color: #27AAE1;
	}
	.blog-row {
		padding: 80px 20px 80px 35px;
		max-width: 1866px;
        margin: 0 auto;
		.selectSection {
			&__title {
				font-family: $ternary-titlefamily;
				font-size: $ternary-headingfont;
				line-height: 42px;
			}
			&__border {
				border-bottom: $border-bottom;
				width: 60px;
				margin-bottom: 50px;
				margin-top: 5px;
			}
		}
	}
	.blog-filter {
			padding-bottom : 40px;
			&__img {
				width: $common-width;
				vertical-align: middle;
			}
		}
		.blogWholeBG {
			background-color: #f1f2f2;
			.blogDetail {
				margin: 0 30px;
				color: #5D5D5D;
				&__title {
					font-family: $ternary-titlefamily;
					font-size: $primary-contentfont;
					line-height: 20px;
					padding: 12px 0 3px;
				}
				&__border {
					width: 40px;
					border-bottom: 2px solid #5D5D5D;
				}
				&__para {
					font-family: $primary-contentfamily;
					font-size: $secondary-contentfont;
					margin-bottom: 20px;
					line-height: 20px;
				}
			}
			.authorSection {
				padding: 7px 0 0;
				&__title {
					font-size: $secondary-contentfont;
					font-family: $ternary-titlefamily;
					color: #5D5D5D;
				}
				&__para {
					font-size: $ternary-contentfont;
					font-family: $primary-contentfamily;
					margin: 4px 0;
					color: #333;
				}
				&__date {
					font-size: $ternary-contentfont;
					font-family: $secondary-titlefamily;
					color: #808285;
					vertical-align: middle;
					padding-right: 30px;
				}
			}
		}
		.blogClock {
			padding: 0 0 20px;
			text-align: right;
			& img {
				margin: 1px 5px 0;
	    		width: 12px;
	    		vertical-align: middle;
			}
			.blog__pad {
				margin-bottom: 20px;
			}
		}
	.blog__pad-img {
				padding:0 15px;
			}
	.blog-pad__img {
		width: 46px;
	}
	@media screen and (min-width: 1866px) {
		.blog-row {
			.selectSection {
				&__title {
					font-size: 28px;
				}
			}
		}
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		.blog-row {
			padding: 40px 20px 0px 35px;
			.selectSection {
				&__title {
	    			font-size: 20px;
	    		}
	    	}
    	}
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
		.blog-row {
			padding: 40px 0 0px;
			.selectSection {
				&__title {
	    			font-size: 18px;
	    			text-align: center;
	    		}
	    		&__border {
	    			margin: 5px auto 25px;
	    		}
	    	}
    	}
    	.blog-filter {
    		padding-left: 0;
    		padding-right: 0;
    	}
    	.blogBg {
    	height: 100vh;
    	}
    }
}