.hero {
	.blogBg {
		background-color: #27AAE1;
	}
	.rightDiv{
			position: relative; 
		left: 33.3%;
		 top: 0px;
	}
	.blog-row{
		position:relative;
	}
		.blogWholeBG {
			background-color: #f1f2f2;
			.blogDetail {
				margin: 0 20px;
				color: #5D5D5D;
				&__title {
					font-family: $ternary-titlefamily;
					font-size: $primary-contentfont;
					line-height: 20px;
					padding: 12px 0 3px;
					text-transform: uppercase;
				}
				&__border {
					width: 40px;
					border-bottom: 2px solid #5D5D5D;
				}
				&__para {
					font-family: $primary-contentfamily;
					font-size: $secondary-contentfont;
					margin-bottom: 20px;
					line-height: 20px;
					letter-spacing: .01em;
					height: 58px;
				}
			}
			.authorSection {
				padding: 7px 0 0;
				&__title {
					font-size:11px;
					font-family: $ternary-titlefamily;
					color: #5D5D5D;
					text-transform: uppercase;
				}
				&__para {
					font-size: 8px;
					font-family: $primary-contentfamily;
					margin: 4px 0;
					color: #333;
					text-transform: uppercase;
				}
				&__date {
					font-size: $ternary-contentfont;
					font-family: $secondary-titlefamily;
					color: #808285;
					vertical-align: middle;
					padding-right: 30px;
				}
			}
		}
		.blogClock {
			padding: 0 0 20px; 
			text-align: right;
			& img {
				margin: 1px 5px 0;
	    		width: 12px;
	    		vertical-align: middle;
			}
			.blog__pad {
				margin-bottom: 20px;
			}
		}
	.blog__pad-img {
				padding:0 15px;
			}
	.blog-pad__img {
		width: 40px;  
		height: 40px;
	}
@media screen and (min-width: 1866px) and (max-width: 2560px) {
	.blog-pad__img {
		width: 50px; 
		height: 50px; 
	} 
	.blogWholeBG {
			.blogDetail {
				&__title {
					font-size: 18px;
				}
			&__para {
					font-size: 14px;
					line-height: 24px;
					height: 72px;
				}	
			}
			.authorSection {
				&__para {
					font-size: 8px;
				}
				&__date {
					font-size:12px ;
				}
				&__title {
					font-size:13px;
				}
			}
		}  	
    	}
@media screen and (min-width: 1366px) and (max-width: 1865px) {
	.blog-pad__img {
		width: 50px;
		height: 50px;  
	} 
	.blogWholeBG {
			.blogDetail {
				&__title {
					font-size: 16px;
				}
			&__para {
					font-size: 13px;
					line-height: 22px;
					height: 72px;
				}	
			}
			.authorSection {
				&__para {
					font-size: 8px;
				}
				&__date {
					font-size:11px ;
				}
				&__title {
					font-size:12px;
				}
			}
		} 
	} 	
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.blog-pad__img {
		width: 50px;
		height: 50px;  
	}
	.blogWholeBG {
			.blogDetail {
				&__title {
					font-size: 13px;
				}
			&__para {
					font-size: 11px;
					line-height: 19px;
					height: 32px;
				}	
			}
			.authorSection {
				&__para {
					font-size: 8px;
				}
				&__date {
					font-size:12px ;
				}
				&__title {
					font-size:11px;
				}
			}
		}
}
@media screen and (min-width: 320px) and (max-width: 767px) {
	.blog-pad__img {
		width: 32px; 
		height: 32px; 
	}
	.blogWholeBG {
			.blogDetail {
				&__title {
					font-size: 12px;
				}
			&__para {
					font-size: 10px;
					line-height: 18px;
					height: 52px;
				}	
			}
			.authorSection {
				&__para {
					font-size: 7px;
				}
				&__date {
					font-size:7px ;
				}
				&__title {
					font-size:10px;
				}
			}
		} 
	}	 	
}	