.career__detail-jobcard {
	position:relative;
}
.career__img2 {
	position:absolute;
	top:30px;
	right:30px;
}
.career__img3 {
	margin:15px 0 0 ;
}
.career__detail-heading {
	font-size:21px;
	font-family:montserrat-regular;
}
.career__detail-para{
	font-size:12px;
	font-family:montserrat-regular;
	line-height:20px;
}
@media screen and (max-width:991px){
	.career__detail-para{
	font-size:12px;
}
.career__detail-heading {
	font-size:16px;
}
}
@media screen and (max-width:767px){
	.career__img2 {
	width:14px;
     }
     .career__detail-para{
	font-size:10px;
	margin:0px;
}
.career__detail-heading {
	font-size:12px;
}
.career__img3 {
	width:100px;
}
}