{% include header.html %}
<div id="about_us">
<section class="about_us-Bg commonSection" id="about_us-Bg">
    {% include common_header.html %}
 
 <div class="about-us-height">
<div class="row about-us about-us-all" id="about-us">
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 about-us-left">
      <img class="about-us-left__img" src="/assets/img/about_us/ANIMATIONS/1.gif">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 about-us-right">
     <h1 class="about-us-right__heading">about us</h1>
      <div class="about-us-right__underline"></div>
      <p class="about-us-right__para">Little Brahma is a family of artists, designers, sculptors and technologist.
We adapt human experience through art & simplicity.</p>
      <a class="about-us__button" href="/lifeAtLittleBrahma/">know more</a>
      </div>        
</div>
</div>

<div class="our-mission commonSection" id="our_mission">
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 our-mission-left">
       <img class="our-mission-left__img" src="/assets/img/about_us/ANIMATIONS/2.gif"> 
       </div>
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 our-mission-right">
       <h1 class="our-mission-right__heading">our mission</h1>
       <div class="our-mission-right__underline"></div>
       <p class="our-mission-right__para">Little brahma is our ultimate design karma.
We aspire to become a creative almanac for the artistic souls</p>
       </div>
       
</div>

<div class="row valuable-clients commonSection" id="valuable_clients">
     <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 valuable-clients-block">
       <div class=" valuable-clients-left">
       <h1 class="valuable-clients__heading">valuable clients</h1>
       <div class="valuable-clients__underline"></div>
       <p class="valuable-clients-left__para">We throb for excellence in everything we manifest to our valuable customers. 
Our clientele range from the simple to the extreme and we adore them.</p>
       <ul class="valuable-clients-left__unorder-list">
        <li class="valuable-clients-left__list" id="abt-img1" data-id="1"><img class="valuable-clients-left__logo" src="/assets/img/about_us/LOGO/1.png"></li>
        <li class="valuable-clients-left__list" id="abt-img2" data-id="2"><img class="valuable-clients-left__logo" src="/assets/img/about_us/LOGO/2.png"></li>
        <li class="valuable-clients-left__list" id="abt-img3" data-id="3"><img class="valuable-clients-left__logo" src="/assets/img/about_us/LOGO/3.png"></li>
        <li class="valuable-clients-left__list" id="abt-img4" data-id="4"><img class="valuable-clients-left__logo" src="/assets/img/about_us/LOGO/4.png"></li>
        <li class="valuable-clients-left__list" id="abt-img5" data-id="5"><img class="valuable-clients-left__logo" src="/assets/img/about_us/LOGO/5.png"></li>
        <li class="valuable-clients-left__list" id="abt-img6" data-id="6"><img class="valuable-clients-left__logo" src="/assets/img/about_us/LOGO/6.png"></li>
        <li class="valuable-clients-left__list" id="abt-img7" data-id="7"><img class="valuable-clients-left__logo" src="/assets/img/about_us/LOGO/7.png"></li>
        <li class="valuable-clients-left__list" id="abt-img8" data-id="8"><img class="valuable-clients-left__logo" src="/assets/img/about_us/LOGO/8.png"></li>
       </ul>
       </div>
       </div>
       <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 valuable-clients-block">
       <div class=" valuable-clients-right" id="company1" data-id="1">
       <img src="/assets/img/about_us/ANIMATIONS/billgates.jpeg" class="valuable-clients-right__billgates-img"> 
       <img src="/assets/img/about_us/LOGO/1.png" class="valuable-clients-right__microsoft-img">
       <p  class="valuable-clients-right__para"><span class="valuable-clients-right__inverted-comma">"</span>Lorem ipsum dolor sit amet,
       consectetur adipiscing elit<span class="valuable-clients-right__inverted-comma">"</span></p>
       <p class="valuable-clients-right__para-author">-Billgates</p>
       </div>

       <div class=" valuable-clients-right" id="company2" data-id="2">
       <img src="/assets/img/about_us/ANIMATIONS/billgates.jpeg" class="valuable-clients-right__billgates-img"> 
       <img src="/assets/img/about_us/LOGO/2.png" class="valuable-clients-right__microsoft-img">
       <p  class="valuable-clients-right__para"><span class="valuable-clients-right__inverted-comma">"</span>Lorem ipsum dolor sit amet,
       consectetur adipiscing elit<span class="valuable-clients-right__inverted-comma">"</span></p>
       <p class="valuable-clients-right__para-author">-Billgates</p>
       </div>

       <div class=" valuable-clients-right" id="company3" data-id="3">
       <img src="/assets/img/about_us/ANIMATIONS/billgates.jpeg" class="valuable-clients-right__billgates-img"> 
       <img src="/assets/img/about_us/LOGO/3.png" class="valuable-clients-right__microsoft-img">
       <p  class="valuable-clients-right__para"><span class="valuable-clients-right__inverted-comma">"</span>Lorem ipsum dolor sit amet,
       consectetur adipiscing elit<span class="valuable-clients-right__inverted-comma">"</span></p>
       <p class="valuable-clients-right__para-author">-Billgates</p>
       </div>

       <div class=" valuable-clients-right" id="company4" data-id="4">
       <img src="/assets/img/about_us/ANIMATIONS/billgates.jpeg" class="valuable-clients-right__billgates-img"> 
       <img src="/assets/img/about_us/LOGO/4.png" class="valuable-clients-right__microsoft-img">
       <p  class="valuable-clients-right__para"><span class="valuable-clients-right__inverted-comma">"</span>Lorem ipsum dolor sit amet,
       consectetur adipiscing elit<span class="valuable-clients-right__inverted-comma">"</span></p>
       <p class="valuable-clients-right__para-author">-Billgates</p>
       </div>

       <div class=" valuable-clients-right" id="company5" data-id="5">
       <img src="/assets/img/about_us/ANIMATIONS/billgates.jpeg" class="valuable-clients-right__billgates-img"> 
       <img src="/assets/img/about_us/LOGO/5.png" class="valuable-clients-right__microsoft-img">
       <p  class="valuable-clients-right__para"><span class="valuable-clients-right__inverted-comma">"</span>Lorem ipsum dolor sit amet,
       consectetur adipiscing elit<span class="valuable-clients-right__inverted-comma">"</span></p>
       <p class="valuable-clients-right__para-author">-Billgates</p>
       </div>

       <div class=" valuable-clients-right" id="company6" data-id="6">
       <img src="/assets/img/about_us/ANIMATIONS/billgates.jpeg" class="valuable-clients-right__billgates-img"> 
       <img src="/assets/img/about_us/LOGO/6.png" class="valuable-clients-right__microsoft-img">
       <p  class="valuable-clients-right__para"><span class="valuable-clients-right__inverted-comma">"</span>Lorem ipsum dolor sit amet,
       consectetur adipiscing elit<span class="valuable-clients-right__inverted-comma">"</span></p>
       <p class="valuable-clients-right__para-author">-Billgates</p>
       </div>

       <div class=" valuable-clients-right" id="company7" data-id="7">
       <img src="/assets/img/about_us/ANIMATIONS/billgates.jpeg" class="valuable-clients-right__billgates-img"> 
       <img src="/assets/img/about_us/LOGO/7.png" class="valuable-clients-right__microsoft-img">
       <p  class="valuable-clients-right__para"><span class="valuable-clients-right__inverted-comma">"</span>Lorem ipsum dolor sit amet,
       consectetur adipiscing elit<span class="valuable-clients-right__inverted-comma">"</span></p>
       <p class="valuable-clients-right__para-author">-Billgates</p>
       </div>

       <div class=" valuable-clients-right" id="company8" data-id="8">
       <img src="/assets/img/about_us/ANIMATIONS/billgates.jpeg" class="valuable-clients-right__billgates-img"> 
       <img src="/assets/img/about_us/LOGO/8.png" class="valuable-clients-right__microsoft-img">
       <p  class="valuable-clients-right__para"><span class="valuable-clients-right__inverted-comma">"</span>Lorem ipsum dolor sit amet,
       consectetur adipiscing elit<span class="valuable-clients-right__inverted-comma">"</span></p>
       <p class="valuable-clients-right__para-author">-Billgates</p>
       </div>
       </div>
       <ul class="valuable-clients-right__unorder-list">
        <li class="valuable-clients-right__list" id="about-img1" data-id="1"><img class="valuable-clients-right__logo" src="/assets/img/about_us/LOGO/1.png"></li>
        <li class="valuable-clients-right__list" id="about-img2" data-id="2"><img class="valuable-clients-right__logo" src="/assets/img/about_us/LOGO/2.png"></li>
        <li class="valuable-clients-right__list" id="about-img3" data-id="3"><img class="valuable-clients-right__logo" src="/assets/img/about_us/LOGO/3.png"></li>
        <li class="valuable-clients-right__list" id="about-img4" data-id="4"><img class="valuable-clients-right__logo" src="/assets/img/about_us/LOGO/4.png"></li>
        <li class="valuable-clients-right__list" id="about-img5" data-id="5"><img class="valuable-clients-right__logo" src="/assets/img/about_us/LOGO/5.png"></li>
        <li class="valuable-clients-right__list" id="about-img6" data-id="6"><img class="valuable-clients-right__logo" src="/assets/img/about_us/LOGO/6.png"></li>
        <li class="valuable-clients-right__list" id="about-img7" data-id="7"><img class="valuable-clients-right__logo" src="/assets/img/about_us/LOGO/7.png"></li>
        <li class="valuable-clients-right__list" id="about-img8" data-id="8"><img class="valuable-clients-right__logo" src="/assets/img/about_us/LOGO/8.png"></li>
       </ul>            
  </div>

<ul class="about-indicators">
            <li><a href="#" class="active" data-id="1"></a></li>
            <li><a href="#" data-id="2"></a></li>
            <li><a href="#" data-id="3"></a></li>
              
            
        </ul>

</section>
</div>
<div id="about_usMob">
<section class="about_us-Bg commonSection" id="header">
    {% include common_header.html %}
 
 <div class="about-us-height">
<div class="row about-us about-us-all" id="about-us">
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 about-us-left">
      <img class="about-us-left__img" src="/assets/img/about_us/ANIMATIONS/1.gif">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 about-us-right">
     <h1 class="about-us-right__heading">about us</h1>
      <div class="about-us-right__underline"></div>
<p class="about-us-right__para">Little Brahma is a family of artists, designers, sculptors and technologist.
We adapt human experience through art & simplicity.</p>
      <a class="about-us__button" href="/lifeAtLittleBrahma/">know more</a>
      </div>       
</div>
</div>
</section>
<div class="our-mission commonSection" id="our_mission">
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 our-mission-left">
       <img class="our-mission-left__img" src="/assets/img/about_us/ANIMATIONS/2.gif"> 
       </div>
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 our-mission-right">
       <h1 class="our-mission-right__heading">our mission</h1>
       <div class="our-mission-right__underline"></div>
  <p class="our-mission-right__para">Little brahma is our ultimate design karma.
We aspire to become a creative almanac for the artistic souls</p>
       </div>
</div>
<div class="row valuable-clients commonSection" id="valuable_clients">
     <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 valuable-clients-block">
       <div class=" valuable-clients-left">
       <h1 class="valuable-clients__heading">valuable clients</h1>
       <div class="valuable-clients__underline"></div>
 <p class="valuable-clients-left__para">We throb for excellence in everything we manifest to our valuable customers. 
Our clientele range from the simple to the extreme and we adore them.</p>
       <ul class="valuable-clients-left__unorder-list">
        <li class="valuable-clients-left__list" id="abt-img1" data-id="1"><img class="valuable-clients-left__logo" src="/assets/img/about_us/LOGO/1.png"></li>
        <li class="valuable-clients-left__list" id="abt-img2" data-id="2"><img class="valuable-clients-left__logo" src="/assets/img/about_us/LOGO/2.png"></li>
        <li class="valuable-clients-left__list" id="abt-img3" data-id="3"><img class="valuable-clients-left__logo" src="/assets/img/about_us/LOGO/3.png"></li>
        <li class="valuable-clients-left__list" id="abt-img4" data-id="4"><img class="valuable-clients-left__logo" src="/assets/img/about_us/LOGO/4.png"></li>
        <li class="valuable-clients-left__list" id="abt-img5" data-id="5"><img class="valuable-clients-left__logo" src="/assets/img/about_us/LOGO/5.png"></li>
        <li class="valuable-clients-left__list" id="abt-img6" data-id="6"><img class="valuable-clients-left__logo" src="/assets/img/about_us/LOGO/6.png"></li>
        <li class="valuable-clients-left__list" id="abt-img7" data-id="7"><img class="valuable-clients-left__logo" src="/assets/img/about_us/LOGO/7.png"></li>
        <li class="valuable-clients-left__list" id="abt-img8" data-id="8"><img class="valuable-clients-left__logo" src="/assets/img/about_us/LOGO/8.png"></li>
       </ul>
       </div>
       </div>
       <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 valuable-clients-block valuable_whole">
       <div class=" valuable-clients-right" id="company9" data-id="9">
       <img src="/assets/img/about_us/ANIMATIONS/billgates.jpeg" class="valuable-clients-right__billgates-img"> 
       <img src="/assets/img/about_us/LOGO/1.png" class="valuable-clients-right__microsoft-img">
       <p  class="valuable-clients-right__para"><span class="valuable-clients-right__inverted-comma">"</span>Lorem ipsum dolor sit amet,
       consectetur adipiscing elit<span class="valuable-clients-right__inverted-comma">"</span></p>
       <p class="valuable-clients-right__para-author">-Billgates</p>
       </div>

       <div class=" valuable-clients-right" id="company10" data-id="10">
       <img src="/assets/img/about_us/ANIMATIONS/billgates.jpeg" class="valuable-clients-right__billgates-img"> 
       <img src="/assets/img/about_us/LOGO/2.png" class="valuable-clients-right__microsoft-img">
       <p  class="valuable-clients-right__para"><span class="valuable-clients-right__inverted-comma">"</span>Lorem ipsum dolor sit amet,
       consectetur adipiscing elit<span class="valuable-clients-right__inverted-comma">"</span></p>
       <p class="valuable-clients-right__para-author">-Billgates</p>
       </div>

       <div class=" valuable-clients-right" id="company11" data-id="11">
       <img src="/assets/img/about_us/ANIMATIONS/billgates.jpeg" class="valuable-clients-right__billgates-img"> 
       <img src="/assets/img/about_us/LOGO/3.png" class="valuable-clients-right__microsoft-img">
       <p  class="valuable-clients-right__para"><span class="valuable-clients-right__inverted-comma">"</span>Lorem ipsum dolor sit amet,
       consectetur adipiscing elit<span class="valuable-clients-right__inverted-comma">"</span></p>
       <p class="valuable-clients-right__para-author">-Billgates</p>
       </div>

       <div class=" valuable-clients-right" id="company12" data-id="12">
       <img src="/assets/img/about_us/ANIMATIONS/billgates.jpeg" class="valuable-clients-right__billgates-img"> 
       <img src="/assets/img/about_us/LOGO/4.png" class="valuable-clients-right__microsoft-img">
       <p  class="valuable-clients-right__para"><span class="valuable-clients-right__inverted-comma">"</span>Lorem ipsum dolor sit amet,
       consectetur adipiscing elit<span class="valuable-clients-right__inverted-comma">"</span></p>
       <p class="valuable-clients-right__para-author">-Billgates</p>
       </div>

       <div class=" valuable-clients-right" id="company13" data-id="13">
       <img src="/assets/img/about_us/ANIMATIONS/billgates.jpeg" class="valuable-clients-right__billgates-img"> 
       <img src="/assets/img/about_us/LOGO/5.png" class="valuable-clients-right__microsoft-img">
       <p  class="valuable-clients-right__para"><span class="valuable-clients-right__inverted-comma">"</span>Lorem ipsum dolor sit amet,
       consectetur adipiscing elit<span class="valuable-clients-right__inverted-comma">"</span></p>
       <p class="valuable-clients-right__para-author">-Billgates</p>
       </div>

       <div class=" valuable-clients-right" id="company14" data-id="14">
       <img src="/assets/img/about_us/ANIMATIONS/billgates.jpeg" class="valuable-clients-right__billgates-img"> 
       <img src="/assets/img/about_us/LOGO/6.png" class="valuable-clients-right__microsoft-img">
       <p  class="valuable-clients-right__para"><span class="valuable-clients-right__inverted-comma">"</span>Lorem ipsum dolor sit amet,
       consectetur adipiscing elit<span class="valuable-clients-right__inverted-comma">"</span></p>
       <p class="valuable-clients-right__para-author">-Billgates</p>
       </div>

       <div class=" valuable-clients-right" id="company15" data-id="15">
       <img src="/assets/img/about_us/ANIMATIONS/billgates.jpeg" class="valuable-clients-right__billgates-img"> 
       <img src="/assets/img/about_us/LOGO/7.png" class="valuable-clients-right__microsoft-img">
       <p  class="valuable-clients-right__para"><span class="valuable-clients-right__inverted-comma">"</span>Lorem ipsum dolor sit amet,
       consectetur adipiscing elit<span class="valuable-clients-right__inverted-comma">"</span></p>
       <p class="valuable-clients-right__para-author">-Billgates</p>
       </div>

       <div class=" valuable-clients-right" id="company16" data-id="16">
       <img src="/assets/img/about_us/ANIMATIONS/billgates.jpeg" class="valuable-clients-right__billgates-img"> 
       <img src="/assets/img/about_us/LOGO/8.png" class="valuable-clients-right__microsoft-img">
       <p  class="valuable-clients-right__para"><span class="valuable-clients-right__inverted-comma">"</span>Lorem ipsum dolor sit amet,
       consectetur adipiscing elit<span class="valuable-clients-right__inverted-comma">"</span></p>
       <p class="valuable-clients-right__para-author">-Billgates</p>
       </div>
       </div>
       <ul class="valuable-clients-right__unorder-list">
        <li class="valuable-clients-right__list" id="about-img9" data-id="9"><img class="valuable-clients-right__logo" src="/assets/img/about_us/LOGO/1.png"></li>
        <li class="valuable-clients-right__list" id="about-img10" data-id="10"><img class="valuable-clients-right__logo" src="/assets/img/about_us/LOGO/2.png"></li>
        <li class="valuable-clients-right__list" id="about-img11" data-id="11"><img class="valuable-clients-right__logo" src="/assets/img/about_us/LOGO/3.png"></li>
        <li class="valuable-clients-right__list" id="about-img12" data-id="12"><img class="valuable-clients-right__logo" src="/assets/img/about_us/LOGO/4.png"></li>
        <li class="valuable-clients-right__list" id="about-img13" data-id="13"><img class="valuable-clients-right__logo" src="/assets/img/about_us/LOGO/5.png"></li>
        <li class="valuable-clients-right__list" id="about-img14" data-id="14"><img class="valuable-clients-right__logo" src="/assets/img/about_us/LOGO/6.png"></li>
        <li class="valuable-clients-right__list" id="about-img15" data-id="15"><img class="valuable-clients-right__logo" src="/assets/img/about_us/LOGO/7.png"></li>
        <li class="valuable-clients-right__list" id="about-img16" data-id="16"><img class="valuable-clients-right__logo" src="/assets/img/about_us/LOGO/8.png"></li>
       </ul>            
  </div>
</div>
{% include footer.html %}
