{% include header.html %}
  
    <div class="blogDetailBg">
    {% include common_header.html %}
      <div class="banner">
      <div>
      <div class="banner__title">
        {{page.title}}
      </div>
      <div class="banner__subtitle allign">
      {{page.blog_description}}
      </div>
      </div>
      </div>
      </div>
      <div class="middleSection1">
      <div class="row">
      <div class="col-lg-9 col-sm-10 col-md-10 col-xs-12 middleSection1__iconAlign">
       <div class="row center-lg  start-md  start-sm  center-xs">
         <div class="col-lg-4 col-sm-10 col-md-10 col-xs-12 middleSection1__algnn">
         <div class="middleSection1__profile1">
         <img class="middleSection1__img1" src="/assets/img/blog/images.png" alt=""><br>
         <img class="middleSection1__pimg" src="{{page.author_image}}" alt="author image">
         <div class="middleSection1__profile">
         <div class="middleSection1__profileName">
           {{page.author_name}}
         </div>
         <div class="middleSection1__profileName1">
          {{page.author_title}}
         </div>
         </div>
         </div>
         </div>
         <div class="col-lg-7 col-sm-10 col-md-10 col-xs-12 middleSection1__detail middleSection1__algnn">
         <div class="row start-lg start-md start-sm center-xs">
           <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 middleSection1__algnn middleSection1__para">
           {{page.blog_highlight}}
             <hr class="middleSection1__hr1">
            
           </div>
         </div>
         </div>
         </div>
         </div>
         <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12">
         <div class="row center-xs middleSection1__icons1">
         <div class="col-lg-12 col-sm-12 col-md-12 col-xs-6 middleSection1__like">
         <img src="/assets/img/blog/like.png" class="middleSection1__likeimg"><br>
         likes(56)
         </div>
         <div class="col-lg-12 col-sm-12 col-md-12 col-xs-6 middleSection1__view">
         <img src="/assets/img/blog/view.png" class="middleSection1__viewimg"><br>
         view(120)
         </div>
         </div> 
         </div>
      </div>
      <div class="row center-lg start-md start-sm center-xs">
         <div class="col-lg-9 col-sm-12 col-md-12 col-xs-12  middleSection1__iconAlgn middleSection1__iconAlign">
         <div class="row  center-lg start-md start-sm center-xs middleSection1__icons2">
             <div  class="col-lg-2 col-sm-3 col-md-3 col-xs-3 middleSection1__iconAlgn middleSection1__iconAlign">
               <button id="shareBtn">
               <img src="/assets/img/blog/facebook.png" class="middleSection1__img2  middleSection1__icondsply">
               <span class="middleSection1__icondsply">Facebook</span>
             </button>
               </div>
               <div class="col-lg-2 col-sm-3 col-md-3 col-xs-3 middleSection1__iconAlgn middleSection1__iconAlign">
               <img src="/assets/img/blog/twitter.png" class="middleSection1__img2 middleSection1__icondsply">
               <span class="middleSection1__icondsply">Twitter</span>
               </div>
               <div class="col-lg-2 col-sm-3 col-md-3 col-xs-3 middleSection1__iconAlgn middleSection1__iconAlign">
               <img src="/assets/img/blog/google.png" class="middleSection1__img2 middleSection1__algn1 middleSection1__icondsply">
              <span class="middleSection1__algn middleSection1__icondsply">Google Plus</span>
               </div>
               <div class="col-lg-2 col-sm-3 col-md-3 col-xs-3 middleSection1__iconAlgn">
               <img src="/assets/img/blog/matter.png" class="middleSection1__img2 middleSection1__icondsply">
               <span class="middleSection1__icondsply">Medium</span>
             </div>
           </div>
           </div>
      </div>
      </div>
      <div class="middleSection2">
      

      {{ content }}
          
         
      
        <div class="middleSection2__backgroundimg middleSection2__align">
        <img class="middleSection2__likeimg" src="/assets/img/blog/react_like.png">Like
           <img class="middleSection2__dslikeimg" src="/assets/img/blog/react_dislike.png">DisLike
        </div>
        </div>
        {% if content and page.related %}
        <div class="middleSection4">
        <hr class="middleSection4__hr6">
          <div class="middleSection4__rltdHadng">RELATED STORIES</div>
          <hr class="middleSection4__hr4">
          <div class="row">
            {% for post in site.posts %}
            {% if page.related contains post.blog_category %}
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 blog-filter {{post.blog_category}}">
          <img src="{{ post.thumbnail}}" class="blog-filter__img">
          <div class="blogWholeBG">
          <div class="blogDetail">
            <h5 class="blogDetail__title">{{ post.title}}</h5>
            <div class="blogDetail__border"></div>
            <p class="blogDetail__para">{{ post.blog_description}}</p>
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row blog__pad">
                <div class="blog__pad-img">
                  <img src="{{ post.author_image}}" class="blog-pad__img">
                </div>
                <div class="authorSection">
                  <h5 class="authorSection__title middleSection4__title">{{ post.author_name}}</h5>
                  <p class="authorSection__para middleSection4__para">{{ post.author_title}}</p>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blogClock">
              <span><img src="/assets/img/blog/clock.png"></span><span class="authorSection__date">{{ post.date}}</span>
            </div>
          </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        </div>
          </div>
          {% endif %}
           <div class="middleSection4">
<div id="disqus_thread"></div>
</div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

// var disqus_config = function () {
// this.page.url = {{page.url}};  // Replace PAGE_URL with your page's canonical URL variable
// this.page.identifier = {{page.url}}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
// };
var disqus_developer = 1;
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://littlebrahma.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


{% include common_footer.html %}
{% include footer.html %}
<script type="text/javascript">
  if (screen.width >= 1199) {
    $(window).scroll(function() {
if ($(this).scrollTop() > $(".blogDetailBg").height() - $(".commonHeader").height()){  
    $('.commonHeader').css({"background-color":"transparent"}).addClass("animated fadeIn");
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_RED.png");
        $('.commonHeader__logo').attr("src", "/assets/img/service/LOGO_RED.png");
  }
  else {
    $('.commonHeader').css({"background-color":"transparent"}).removeClass("animated fadeIn");
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_WHITE.png");
        $('.commonHeader__logo').attr("src", "/assets/img/common/LOGO_WHITE.png");
  }
});
}
else if(screen.width >= 768 && screen.width < 1199) {
    $(window).scroll(function() {
if ($(this).scrollTop() > $(".blogDetailBg").height() - $(".commonHeader").height()){  
    $('.commonHeader').css({"background-color":"transparent"}).addClass("animated fadeIn");
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_RED.png");
        $('.commonHeader__logo').attr("src", "/assets/img/service/LOGO_RED.png");
  }
  else {
    $('.commonHeader').css({"background-color":"transparent"}).removeClass("animated fadeIn");
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_WHITE.png");
        $('.commonHeader__logo').attr("src", "/assets/img/common/LOGO_WHITE.png");
  }
});
}
// else if (screen.width < 768) {
//     $(window).scroll(function() {
// if ($(this).scrollTop() > 420){  
//     $('.commonHeader').css({"background-color":"#fff","padding-top":"10px","padding-bottom":"10px"});
//     $(".selectSection").css({"position":"static","top":"0%"});
//     $(".portDetail").css({"position":"relative","top":"0"});
//     $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_RED.png");
//         $('.commonHeader__logo').attr("src", "/assets/img/service/LOGO_RED.png");
//   }
//   else {
//     $('.commonHeader').css({"background-color":"transparent","padding-top":"20px","padding-bottom":"20px"});
//     $(".selectSection").css({"position":"static","top":"0%"});
//     $(".portDetail").css({"position":"static","left":"0%"});
//     $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_WHITE.png");
//         $('.commonHeader__logo').attr("src", "/assets/img/common/LOGO_WHITE.png");
//   }
// });
// }
$(window).resize(function() {
  if (screen.width >= 768) {
    $(window).scroll(function() {
if ($(this).scrollTop() > $(".blogDetailBg").height() - $(".commonHeader").height()){  
    $('.commonHeader').css({"background-color":"transparent"}).addClass("animated fadeIn");
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_RED.png");
        $('.commonHeader__logo').attr("src", "/assets/img/service/LOGO_RED.png");
  }
  else {
    $('.commonHeader').css({"background-color":"transparent"});
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_WHITE.png");
        $('.commonHeader__logo').attr("src", "/assets/img/common/LOGO_WHITE.png");
  }
});
}
else if(screen.width >= 768 && screen.width < 1199) {
    $(window).scroll(function() {
if ($(this).scrollTop() > $(".blogDetailBg").height() - $(".commonHeader").height()){  
    $('.commonHeader').css({"background-color":"transparent"}).addClass("animated fadeIn");
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_RED.png");
        $('.commonHeader__logo').attr("src", "/assets/img/service/LOGO_RED.png");
  }
  else {
    $('.commonHeader').css({"background-color":"transparent"});
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_WHITE.png");
        $('.commonHeader__logo').attr("src", "/assets/img/common/LOGO_WHITE.png");
  }
});
}
// else if (screen.width < 768) {
//     $(window).scroll(function() {
// if ($(this).scrollTop() > 420){  
//     $('.commonHeader').css({"background-color":"#fff","padding-top":"10px","padding-bottom":"10px"});
//     $(".selectSection").css({"position":"static","top":"0%"});
//     $(".portDetail").css({"position":"relative","top":"0"});
//     $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_RED.png");
//         $('.commonHeader__logo').attr("src", "/assets/img/service/LOGO_RED.png");
//   }
//   else {
//     $('.commonHeader').css({"background-color":"transparent","padding-top":"20px","padding-bottom":"20px"});
//     $(".selectSection").css({"position":"static","top":"0%"});
//     $(".portDetail").css({"position":"static","left":"0%"});
//     $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_WHITE.png");
//         $('.commonHeader__logo').attr("src", "/assets/img/common/LOGO_WHITE.png");
//   }
// });
// }
});



 </script>
 <script>

 $(document).ready(function() {
  

  document.getElementById('shareBtn').onclick = function() {
  console.log('share');
  FB.ui({
    method: 'share',
    display: 'popup',
    href: "https://littlebrahma.netlify.com"+"{{site.url}}{{page.url}}",
  }, function(response){});
}


  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1988892508005210',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
});

</script>