{% include header.html %}
<section class="service-detailBg">
    {% include common_header.html %}
    </section>
 <div class="career-all">
 <div class="row career">
 {% include radio3.html %}
 	<div class="col-lg-8 col-md-7 col-sm-7 col-xs-12 ">
 	    <div class="row">
 	    	{% assign item = site.career | sort: 'date' %}
			{% for careers in item %}
 		     <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 career__card blog-filter {{careers.category}}">
 		     <div class="career__job-card">
 		     	 <img class="career__img" src="/assets/img/career/Icons/Location-Pin.png">
 		     	 <h1 class="career__location">{{careers.location}}</h1>
 		     	 <h1 class="career__title">{{careers.title}}</h1>
 		     	 <h1 class="career__experience">{{careers.years}}</h1>
 		     	 <a class="career__link" href="#">Know More</a>
 		     </div>
 		     </div>
 		     {% endfor %}
 		</div>
 	</div>	
 </div>
 </div>
 {% include common_footer.html %}
{% include footer.html %}
