{% include header.html %}
<script>
UPLOADCARE_PUBLIC_KEY = "44f596123137ea7c3c23";
UPLOADCARE_LOCALE_TRANSLATIONS = {
  buttons: {
    choose: {
      files: {
        one: 'Upload the resume',
        other: 'Upload the resume'
      },
      images: {
        one: 'Upload the resume',
        other: 'Upload the resume'
      }
    }
  }
};
</script>
<script src="https://ucarecdn.com/libs/widget/2.10.2/uploadcare.full.min.js" charset="utf-8"></script>
<section class="service-detailBg">
    {% include common_header.html %}
</section>
<div class="career-all">
   
    <div class="row career career-row">
        {% include careers-radio.html %}
        <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12 career_right">
            <div class="row">

                {% assign item = site.career | sort: 'date' %} 
                
                {% for careers in item %} 
               
                {% capture category %}
                {{ careers.category | array_to_sentence_string | downcase |replace:'/',' '  }}
                {% endcapture %}
               
 

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 job career__card blog-filter {{ category}} {{forloop.index}} career__link" data-id="{{forloop.index}}" data-category="{{careers.category | downcase}}">
                 
                    <div class="career__job-card {{careers.location}}">
                        <img class="career__img" src="/assets/img/career/Icons/Location-Pin.png">
                        <h1 class="career__location">{{careers.location}} </h1>
                        <h1 class="career__title">{{careers.title}}</h1>
                        <h1 class="career__experience">{{careers.years}}</h1>
                        <a class="career__link career__link--text" href="#" data-id="{{forloop.index}}">Know More <span class=" career__link--text">>></span></a>
                    </div>
                  
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 career__card blog-filter job_detail job_detail{{forloop.index}} career__img2" data-id="{{forloop.index}}">
                   
                    <div class="career__job-card career__detail-jobcard {{careers.location}}">
                        <img class="career__img" src="/assets/img/career/Icons/Location-Pin.png">
                        <h1 class="career__location">{{careers.location}}</h1>
                        <h1 class="career__title">{{careers.title}}</h1>
                        <h1 class="career__experience">{{careers.years}}</h1>
                        <a class="career__img2 career__link--text" href="#" data-id="{{forloop.index}}">Less <span class=" career__link--text"><<</span></a>
                    </div>
                  
                    <h2 class="career__detail-heading">Job Description</h2>
                    {% for job_descr in careers.Job_Description %}
                    <p class="career__detail-para">{{job_descr}}</p>
                    {% endfor %}
                    <h2 class="career__detail-heading">Responsibilities</h2>
                    {% for job_resp in careers.Responsibilities %}
                    <p class="career__detail-para">{{job_resp}}</p>
                    {% endfor %}
                    <h2 class="career__detail-heading">Skills</h2>
                    {% for job_skill in careers.Skills %}
                    <p class="career__detail-para">{{job_skill}}</p>
                    {% endfor %}
                    <div>
                    <a data-remodal-target="modal"><button class="career__detail-action">APPLY</button></a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
  <div class="remodal-bg">
<div class="remodal applyCareers" data-remodal-id="modal">
  <h1>Apply For Job</h1>
  <form action="https://formspree.io/careers@littlebrahma.com"
      method="POST">
<div class="row applyCareers__container">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 applyCareers__left">
            <label>Name:</label>
            <input type="text" name="name" required>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 applyCareers__right">
 <label>Email:</label>
            <input type="email" name="_replyto" required>
        </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 applyCareers__left">
            <label>Designation:</label>
            <input type="text" name="designation" required>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 applyCareers__right">
 <label>Phone Number:</label>
            <input type="number" name="number" required>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 applyCareers__left">
 <label>Address:</label>
        <textarea class="applyCareers__left--address" required>
</textarea>
            <!-- input type="text" name="Address"> -->
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 applyCareers__left applyCareers__upload start-lg start-md start-sm start-xs">
            <img src="../assets/img/career/Icons/insert.png"/>
            <input type="hidden" role="uploadcare-uploader"
       data-images-only="true" id="fileupload"/>
        </div>
    </div>
  <button class="remodal-confirm" type="submit" value="Send">SUBMIT</button>
  </form>
</div>
</div>


</div>

{% include common_footer.html %} {% include footer.html %}