{% include header.html %}
<section class="service-detailBg">
    {% include common_header.html %}
    </section>
 <div class="career-all">
 <div class="row career">
 	<div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 ">
 	<h1 class="career__header">CAREERS AT LITTLE BRAHMA</h1>
 	<div class="career__underline"></div>
 	</div>
 	<div class="col-lg-8 col-md-7 col-sm-7 col-xs-12 ">
 	    <div class="row">
 		     <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 career__card">
 		     <div class="career__job-card">
 		     	 <img class="career__img" src="/assets/img/career/Icons/Location-Pin.png">
 		     	 <h1 class="career__location">Bangalore</h1>
 		     	 <h1 class="career__title">UI/UX Designer</h1>
 		     	 <h1 class="career__experience">2-4 Years Exp.</h1>
 		     	 <a class="career__link" href="#">Know More</a>
 		     </div>
 		     </div>
 		     <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 career__card">
 		     <div class="career__job-card">
 		     	<img class="career__img" src="/assets/img/career/Icons/Location-Pin.png">
 		     	 <h1 class="career__location">Mumbai</h1>
 		     	 <h1 class="career__title">UI/UX Designer</h1>
 		     	 <h1 class="career__experience">2-4 Years Exp.</h1>
 		     	 <a class="career__link" href="#">Know More</a>
 		     </div>
 		     </div>
 		</div>
 		<div class="row">     
 		     <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 career__card">
 		     <div class="career__job-card">
 		     	<img class="career__img" src="/assets/img/career/Icons/Location-Pin.png">
 		     	 <h1 class="career__location">Chennai</h1>
 		     	 <h1 class="career__title">UI/UX Designer</h1>
 		     	 <h1 class="career__experience">2-4 Years Exp.</h1>
 		     	 <a class="career__link" href="#">Know More</a>
 		     </div>
 		     </div>
 		     <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 career__card">
 		     <div class="career__job-card">
 		     	<img class="career__img" src="/assets/img/career/Icons/Location-Pin.png">
 		     	 <h1 class="career__location">Hyderabad</h1>
 		     	 <h1 class="career__title">UI/UX Designer</h1>
 		     	 <h1 class="career__experience">2-4 Years Exp.</h1>
 		     	 <a class="career__link" href="#">Know More</a>
 		     </div>
 		     </div>
 	    </div>
 	</div>	
 </div>
 </div>
 {% include common_footer.html %}
{% include footer.html %}
