{% include header.html %}
   
    <section class="detailBg">
    {% include common_header.html %}
      
       <div class="commonHeight comHeight">
       <div>
        <img src="{{page.bannerImg}}" class="commonHeight__mainImg">
        <h5 class="commonHeight__heading">{{page.porject_title}}</h5>
        <h5 class="commonHeight__para">{{page.porject_subtitle}}</h5>
       <p class="commonHeight__footer">DOWNLOAD FOR </p>
        <img src="/assets/img/casestudy/apple.png" class="commonHeight__apple">
        <span><img src="/assets/img/casestudy/android.png" class="commonHeight__android"></span>
      </div>
      </div>
    </section>

    <div class="info">
      <p class="info__text1">{{page.project_detail}}</p>
      <p class="info__text2">FEATURED ON <span><img src="{{page.img}}" class="info__dock"></span></p>
    </div>
    <div class="chip col-lg-12">
      <img src="{{page.img1}}" class="chip__logo">
      <img src="/assets/img/casestudy/comma.png" class="chip__comma">
      <p class="chip__content">{{page.img1Content}}</p>
      <img src="/assets/img/casestudy/comma1.png" class="chip__comma1">
      <p class="chip__read">Read Full Artical</p>
    </div>
    <div class="challenge">
      <h1 class="challenge__heading">CHALLENGE</h1>
    <hr>
    <div class="challenge__content">{{page.challengeDesc}}<p>

</p></div>
<img src="{{page.img2}}" class="challenge__img col-lg-12">
<p>{{page.img2Content}}</p>
    </div>
    <div class="solution">
      <h4 class="solution__heading"> SOLUTION </h4>
      <hr>
      <div class="solution__content">{{page.solutionDesc}}<p> 
      </p></div>
      
      <div class="solution__circle">
      <div>
        <img src="{{page.solutionImg}}" class="solution__img">
        </div>
        <div>
        <img src="{{page.solutionImg}}" class="solution__img">
        </div>
        <div>
        <img src="{{page.solutionImg}}" class="solution__img">
        </div>
        <div>
        <img src="{{page.solutionImg}}" class="solution__img">
        </div>
        <div>
        <img src="{{page.solutionImg}}" class="solution__img">
        </div>
      </div>
    </div>

    <div class="GIT">
      <div class="GIT__heading">PROJECT STATS</div>
      <hr>
      <div class="GIT__boxes">
      <div class="GIT__box">
        <div class="GIT__box1">
          <p class="GIT__num">{{page.projectStatsNum}}</p><hr>
          <p>{{page.projectStatspara}}</p>
          </div>
          <div class="GIT__box2">
          <p class="GIT__num">{{page.projectStatsNum1}}</p><hr>
          <p>{{page.projectStatspara1}}</p>
          </div>
          <div class="GIT__box3">
          <p class="GIT__num">{{page.projectStatsNum2}}</p><hr>
          <p>{{page.projectStatspara2}}</p>
          </div>
        </div>
      </div>
        <div class="GIT__last">
          <p> WANT TO GET SOME AWESOME PRODUCTS LIKE THIS?</p>
          <img src="/assets/img/casestudy/CTA.png" class="GIT__img2">
        </div>


    
{% include common_footer.html %}
 {% include footer.html %}
 <script type="text/javascript">
  if (screen.width >= 1199) {
    $(window).scroll(function() {
if ($(this).scrollTop() > $(".detailBg").height() - $(".commonHeader").height()){  
    $('.commonHeader').css({"background-color":"transparent"}).addClass("animated fadeIn");
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_RED.png");
        $('.commonHeader__logo').attr("src", "/assets/img/service/LOGO_RED.png");
  }
  else {
    $('.commonHeader').css({"background-color":"transparent"});
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_WHITE.png");
        $('.commonHeader__logo').attr("src", "/assets/img/common/LOGO_WHITE.png");
  }
});
}
else if(screen.width >= 768 && screen.width < 1199) {
    $(window).scroll(function() {
if ($(this).scrollTop() > $(".detailBg").height() - $(".commonHeader").height()){  
    $('.commonHeader').css({"background-color":"#fff"}).addClass("animated fadeIn");
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_RED.png");
        $('.commonHeader__logo').attr("src", "/assets/img/service/LOGO_RED.png");
  }
  else {
    $('.commonHeader').css({"background-color":"transparent"});
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_WHITE.png");
        $('.commonHeader__logo').attr("src", "/assets/img/common/LOGO_WHITE.png");
  }
});
}
// else if (screen.width < 768) {
//     $(window).scroll(function() {
// if ($(this).scrollTop() > 420){  
//     $('.commonHeader').css({"background-color":"#fff","padding-top":"10px","padding-bottom":"10px"});
//     $(".selectSection").css({"position":"static","top":"0%"});
//     $(".portDetail").css({"position":"relative","top":"0"});
//     $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_RED.png");
//         $('.commonHeader__logo').attr("src", "/assets/img/service/LOGO_RED.png");
//   }
//   else {
//     $('.commonHeader').css({"background-color":"transparent","padding-top":"20px","padding-bottom":"20px"});
//     $(".selectSection").css({"position":"static","top":"0%"});
//     $(".portDetail").css({"position":"static","left":"0%"});
//     $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_WHITE.png");
//         $('.commonHeader__logo').attr("src", "/assets/img/common/LOGO_WHITE.png");
//   }
// });
// }
$(window).resize(function() {
  if (screen.width >= 768) {
    $(window).scroll(function() {
if ($(this).scrollTop() > $(".detailBg").height() - $(".commonHeader").height()){  
    $('.commonHeader').css({"background-color":"transparent"}).addClass("animated fadeIn");
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_RED.png");
        $('.commonHeader__logo').attr("src", "/assets/img/service/LOGO_RED.png");
  }
  else {
    $('.commonHeader').css({"background-color":"transparent"}).removeClass("animated fadeIn");
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_WHITE.png");
        $('.commonHeader__logo').attr("src", "/assets/img/common/LOGO_WHITE.png");
  }
});
}
else if(screen.width >= 768 && screen.width < 1199) {
    $(window).scroll(function() {
if ($(this).scrollTop() > $(".detailBg").height() - $(".commonHeader").height()){  
    $('.commonHeader').css({"background-color":"#fff"}).addClass("animated fadeIn");
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_RED.png");
        $('.commonHeader__logo').attr("src", "/assets/img/service/LOGO_RED.png");
  }
  else {
    $('.commonHeader').css({"background-color":"transparent"}).removeClass("animated fadeIn");
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_WHITE.png");
        $('.commonHeader__logo').attr("src", "/assets/img/common/LOGO_WHITE.png");
  }
});
}
// else if (screen.width < 768) {
//     $(window).scroll(function() {
// if ($(this).scrollTop() > 420){  
//     $('.commonHeader').css({"background-color":"#fff","padding-top":"10px","padding-bottom":"10px"});
//     $(".selectSection").css({"position":"static","top":"0%"});
//     $(".portDetail").css({"position":"relative","top":"0"});
//     $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_RED.png");
//         $('.commonHeader__logo').attr("src", "/assets/img/service/LOGO_RED.png");
//   }
//   else {
//     $('.commonHeader').css({"background-color":"transparent","padding-top":"20px","padding-bottom":"20px"});
//     $(".selectSection").css({"position":"static","top":"0%"});
//     $(".portDetail").css({"position":"static","left":"0%"});
//     $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_WHITE.png");
//         $('.commonHeader__logo').attr("src", "/assets/img/common/LOGO_WHITE.png");
//   }
// });
// }
});



 </script>