 {% include header.html %}
 <section class="casestudyBg">
 {% include common_header.html %}
 	<div class="commonHeight">
  <div>
 		<img src="/assets/img/service/Mudras/casestudy.png" class="commonHeight__img">
		<h5 class="commonHeight__heading">CASESTUDY</h5>
		<p class="commonHeight__para">User interface in the eyes of the beholder, Technical specifications is what it is made of. User experience is in their mind.</p>
    </div>
	</div>
 </section>

 <div class="row blog-row">
		{% include radio.html %}
		<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 caseDet">
			<div class="row">
				{% assign item = site.casestudy | sort: 'date' %}
				{% for case in item %}
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 blog-filter {{case.categories}}">
          <a href="{{case.url}}">
							<img src="{{case.landing_image}}" class="blog-filter__img">
						<div class="caseDetail">
							<h5 class="caseDetail__title">{{case.title}}</h5>
							<div class="caseDetail__border"></div>
							<p class="caseDetail__para">{{case.description}}</p>
						</div>
            </a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
 {% include common_footer.html %}
 {% include footer.html %}
 