 {% include header.html %}
 <section class="casestudyBg">
 {% include common_header.html %}
 	<div class="commonHeight">
 		<img src="/assets/img/service/Mudras/1.png">
		<h5 class="commonHeight__heading">CASESTUDY</h5>
		<p class="commonHeight__para">User interface in the eyes of the beholder, Technical specifications is what it is made of. User experience is in their mind.</p>
	</div>
 </section>

 <div class="row blog-row">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 selectSection">
			<h5 class="selectSection__title">SELECT CATEGORY</h5>
			<div class="selectSection__border"></div>
			<div class="selectInput">
	  			<input id="branding" type="radio" name="field" value="BRANDING" data-id="1">
	  			<label for="branding" class="branding"><span class="select__radio"><span></span></span><span class="select__title" value="BRANDING">BRANDING</span></label>
  			</div>
  			<div class="selectInput">
	  			<input id="web" type="radio" name="field" value="WEB & MOBILE APP DESIGN" data-id="2">
	  			<label for="web"><span class="select__radio"><span></span></span><span class="select__title" value="WEB & MOBILE APP DESIGN">WEB & MOBILE APP DESIGN</span></label>
  			</div>
  			<div class="selectInput">
	  			<input id="illustration" type="radio" name="field" value="ILLUSTRATION & ART" data-id="3">
	  			<label for="illustration" class="branding"><span class="select__radio"><span></span></span><span class="select__title" value="ILLUSTRATION & ART">ILLUSTRATION & ART</span></label>
  			</div>
  			<div class="selectInput">
	  			<input id="animation" type="radio" name="field" value="ANIMATION" data-id="4">
	  			<label for="animation"><span class="select__radio"><span></span></span><span class="select__title" value="ANIMATION">ANIMATION</span></label>
  			</div>
  			<div class="selectInput">
	  			<input id="packaging" type="radio" name="field" value="PACKAGING & LABEL" data-id="5">
	  			<label for="packaging" class="branding1"><span class="select__radio"><span></span></span><span class="select__title" value="PACKAGING & LABEL">PACKAGING & LABEL</span></label>
  			</div>
  			<div class="selectInput">
	  			<input id="magazine" type="radio" name="field" value="MAGAZINE & BOOK" data-id="6">
	  			<label for="magazine"><span class="select__radio"><span></span></span><span class="select__title" value="MAGAZINE & BOOK">MAGAZINE & BOOK</span></label>
  			</div>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
			<div class="row">
				{% assign item = site.casestudy | sort: 'date' %}
				{% for case in item %}
					<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 paddingLeftRight blog-filter {{case.whole-class}}">
							<img src="{{case.landing_image}}" class="blog-filter__img">
						<div class="caseDetail">
							<h5 class="caseDetail__title {{case.class}}" tab-id="{{case.tab}}">{{case.title}}</h5>
							<div class="caseDetail__border"></div>
							<p class="caseDetail__para">{{case.description}}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
 {% include common_footer.html %}
 {% include footer.html %}