 {% include header.html %}
 <section class="casestudyBg">
 {% include common_header.html %}
 	<div class="commonHeight">
 		<img src="/assets/img/service/Mudras/casestudy.png" class="commonHeight__img">
		<h5 class="commonHeight__heading">CASESTUDY</h5>
		<p class="commonHeight__para">User interface in the eyes of the beholder, Technical specifications is what it is made of. User experience is in their mind.</p>
	</div>
 </section>

 <div class="row blog-row">
		{% include radio.html %}
		<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 caseDet">
			<div class="row">
				{% assign item = site.casestudy | sort: 'date' %}
				{% for case in item %}
					<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 blog-filter {{case.category}}">
							<img src="{{case.landing_image}}" class="blog-filter__img">
						<div class="caseDetail">
							<h5 class="caseDetail__title">{{case.title}}</h5>
							<div class="caseDetail__border"></div>
							<p class="caseDetail__para">{{case.description}}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
 {% include common_footer.html %}
 {% include footer.html %}
 <script type="text/javascript">
   if ($(window).width() >= 1199) {
    $(window).scroll(function() {
if ($(this).scrollTop() > 800){  
    $('.commonHeader').css({"background-color":"#fff"}).addClass("animated fadeIn");
    $(".selectSection").css({"position":"fixed","top":"140px"});
    $(".caseDet").css({"position":"relative","left":"26%"});
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_RED.png");
        $('.commonHeader__logo').attr("src", "/assets/img/service/LOGO_RED.png");
  }
  else {
    $('.commonHeader').css({"background-color":"transparent"});
    $(".selectSection").css({"position":"static","top":"0%"});
    $(".caseDet").css({"position":"static","left":"0%"});
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_WHITE.png");
        $('.commonHeader__logo').attr("src", "/assets/img/common/LOGO_WHITE.png");
  }
});
}
else if($(window).width() >= 768 && $(window).width() < 1199) {
    $(window).scroll(function() {
if ($(this).scrollTop() > 800){  
    $('.commonHeader').css({"background-color":"#fff"}).addClass("animated fadeIn");
    $(".selectSection").css({"position":"fixed","top":"140px"});
    $(".caseDet").css({"position":"relative","left":"34%"});
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_RED.png");
        $('.commonHeader__logo').attr("src", "/assets/img/service/LOGO_RED.png");
  }
  else {
    $('.commonHeader').css({"background-color":"transparent"});
    $(".selectSection").css({"position":"static","top":"0%"});
    $(".caseDet").css({"position":"static","left":"0%"});
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_WHITE.png");
        $('.commonHeader__logo').attr("src", "/assets/img/common/LOGO_WHITE.png");
  }
});
}
// else if (screen.width < 768) {
//     $(window).scroll(function() {
// if ($(this).scrollTop() > 420){  
//     $('.commonHeader').css({"background-color":"#fff","padding-top":"10px","padding-bottom":"10px"});
//     $(".selectSection").css({"position":"static","top":"0%"});
//     $(".portDetail").css({"position":"relative","top":"0"});
//     $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_RED.png");
//         $('.commonHeader__logo').attr("src", "/assets/img/service/LOGO_RED.png");
//   }
//   else {
//     $('.commonHeader').css({"background-color":"transparent","padding-top":"20px","padding-bottom":"20px"});
//     $(".selectSection").css({"position":"static","top":"0%"});
//     $(".portDetail").css({"position":"static","left":"0%"});
//     $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_WHITE.png");
//         $('.commonHeader__logo').attr("src", "/assets/img/common/LOGO_WHITE.png");
//   }
// });
// }
$(window).resize(function() {
  if ($(window).width() >= 1200) {
    $(window).scroll(function() {
if ($(this).scrollTop() > 800){  
    $('.commonHeader').css({"background-color":"#fff"}).addClass("animated fadeIn");
    $(".selectSection").css({"position":"fixed","top":"140px"});
    $(".caseDet").css({"position":"relative","left":"26%"});
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_RED.png");
        $('.commonHeader__logo').attr("src", "/assets/img/service/LOGO_RED.png");
  }
  else {
    $('.commonHeader').css({"background-color":"transparent"});
    $(".selectSection").css({"position":"static","top":"0%"});
    $(".caseDet").css({"position":"static","left":"0%"});
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_WHITE.png");
        $('.commonHeader__logo').attr("src", "/assets/img/common/LOGO_WHITE.png");
  }
});
}
else if($(window).width() >= 768 && $(window).width() < 1199) {
    $(window).scroll(function() {
if ($(this).scrollTop() > 800){  
    $('.commonHeader').css({"background-color":"#fff"}).addClass("animated fadeIn");
    $(".selectSection").css({"position":"fixed","top":"140px"});
    $(".caseDet").css({"position":"relative","left":"34%"});
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_RED.png");
        $('.commonHeader__logo').attr("src", "/assets/img/service/LOGO_RED.png");
  }
  else {
    $('.commonHeader').css({"background-color":"transparent"});
    $(".selectSection").css({"position":"static","top":"0%"});
    $(".caseDet").css({"position":"static","left":"0%"});
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_WHITE.png");
        $('.commonHeader__logo').attr("src", "/assets/img/common/LOGO_WHITE.png");
  }
});
}
// else if (screen.width < 768) {
//     $(window).scroll(function() {
// if ($(this).scrollTop() > 420){  
//     $('.commonHeader').css({"background-color":"#fff","padding-top":"10px","padding-bottom":"10px"});
//     $(".selectSection").css({"position":"static","top":"0%"});
//     $(".portDetail").css({"position":"relative","top":"0"});
//     $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_RED.png");
//         $('.commonHeader__logo').attr("src", "/assets/img/service/LOGO_RED.png");
//   }
//   else {
//     $('.commonHeader').css({"background-color":"transparent","padding-top":"20px","padding-bottom":"20px"});
//     $(".selectSection").css({"position":"static","top":"0%"});
//     $(".portDetail").css({"position":"static","left":"0%"});
//     $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_WHITE.png");
//         $('.commonHeader__logo').attr("src", "/assets/img/common/LOGO_WHITE.png");
//   }
// });
// }
});
</script>