{% include header.html %}
<section class="contact-Bg">
    {% include common_header.html %}
 </section>
 <div class="row contact">
 	<div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 contact__map">
 		<iframe class="contact__map__iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.987139996555!2d77.64925091491172!3d12.908540590897266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae149dcff09977%3A0x68e7a723fa86323b!2sHashworks+2+IT+Services+Pvt+ltd!5e0!3m2!1sen!2sin!4v1485897218994" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
 	</div>
 	<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 contact__content">
 	  <div class="row">
 		<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 contact-us">
 		<h1 class="contact__title">contact us</h1>
 		<div class="contact__underline"></div>
 			<pre class="contact__address"><span class="contact__span">#1677, Uma Maheshwari Complex, Sector-2, HSR 
Layout,Bangalore-560102</span>

Phone: 080000000000/35
EMAIL: samplmailaddress@littlebrahma.com
WEBSITE: littlebrahma.com
FAX: 4589 78412</pre>
 		</div>
 		<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 write-to-us">
 			<h1 class="contact__title">write to us</h1>
 			<div class="contact__underline"></div>
 			 <form class="contact__form">     
             <input type="text" name="name" placeholder="Your Name" class="contact__form-inside"/>
             <input type="text" name="e-mail" placeholder="Your Mail" class="contact__form-inside" />
             <input name="subject" type="text" placeholder="Your Subject" class="contact__form-inside"/>
             <textarea name="message" placeholder="Enter your Query..." class="contact__msg contact__form-inside"></textarea>	       
		     
		     </form>
		     <a href="#" class="contact__submit">send</a>
 		</div>
 		</div>
 	</div>
 	</div>
 {% include common_footer.html %}
{% include footer.html %}