{% include header.html %}
<header class="lilHeader">
                <img src="img/LOGO_WHITE.png" class="lilHeader__logo">
                <span class="lilMenu">
                    <img src="img/MENU_WHITE.png" class="lilMenu__icon">
                </span>
                <div class="lilMenuCnt">
                    <img src="img/CLOSE.png" class="lilMenuCnt__close">
                    <ul class="lilMenuCntlist">
                        <li class="lilMenuCntlist__ele">
                        <a href="" class="lilMenuCntlist__attr">creative studio</a>
                        </li>
                        <li class="lilMenuCntlist__ele">
                        <a href="" class="lilMenuCntlist__attr">life at little brahma</a>
                        </li>
                        <li class="lilMenuCntlist__ele">
                            <a href="" class="lilMenuCntlist__attr">our services</a>
                        </li>
                        <li class="lilMenuCntlist__ele">
                            <a href="" class="lilMenuCntlist__attr">our process</a>
                        </li>
                        <li class="lilMenuCntlist__ele">
                            <a href="" class="lilMenuCntlist__attr">portfolio</a>
                        </li>
                        <li class="lilMenuCntlist__ele">
                            <a href="" class="lilMenuCntlist__attr">casestudy</a>
                        </li>
                        <li class="lilMenuCntlist__ele">
                            <a href="" class="lilMenuCntlist__attr">challenges</a>
                        </li>
                        <li class="lilMenuCntlist__ele">
                            <a href="" class="lilMenuCntlist__attr">e-shop</a>
                        </li>
                        <li class="lilMenuCntlist__ele">
                            <a href="" class="lilMenuCntlist__attr">careers</a>
                        </li>
                        <li class="lilMenuCntlist__ele">
                            <a href="" class="lilMenuCntlist__attr">news</a>
                        </li>
                        <li class="lilMenuCntlist__ele">
                            <a href="" class="lilMenuCntlist__attr">contact us</a>
                        </li>
                    </ul>
                </div>
            </header>
{% include footer.html %}