{% include header.html %}
<section class="homepageBg">
    {% include common_header.html %}
    <section class="hopageDesk">
    <div class="row homepageRow">
        <div class="homepageCln">
            <div class="homepageBgImg animated fadeInUp" id="background_image">
                
            </div>
            <div class="homepageBgImg animated fadeInUp" id="background_image1">
                
            </div>
            <div class="homepageBgImg animated fadeInUp" id="background_image2">
                
            </div>
            <div class="homepageBgImg animated fadeInUp" id="background_image3">
                
            </div>
            <div class="homepageBgImg animated fadeInUp" id="background_image4">
                
            </div>
            <div id="slideshow" class="homepageBgImg__img animated fadeInUp"></div>
        </div>
       <div class="homepageContent animated fadeInUp" id="text">
            <div class="homepageContent__border"></div>
            <h1 class="homepageContent__heading">CREATIVE STUDIO</h1>
            <p class="homepageContent__para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the ulorem Ipsum.</p>
            <a href="aboutus" class="homepageContent__link"><button class="homepageContent__button">Explore more</button></a>
        </div>
        <div class="animated fadeInUp homepageContent" id="text1">
        <div class="homepageContent__border"></div>
            <h1 class="homepageContent__heading">OUR PORTFOLIO </h1>
            <p class="homepageContent__para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the ulorem Ipsum.</p>
            <a href="portfolio" class="homepageContent__link"><button class="homepageContent__button">Explore more</button></a>
        </div>
        <div class="animated fadeInUp homepageContent" id="text2">
        <div class="homepageContent__border"></div>
            <h1 class="homepageContent__heading">CONTEST</h1>
            <p class="homepageContent__para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the ulorem Ipsum.</p>
            <a href="#" class="homepageContent__link tooltip"><button class="homepageContent__button">Explore more</button><span>Coming Soon...</span></a>
        </div>
        <div class="animated fadeInUp homepageContent" id="text3">
            <div class="homepageContent__border"></div>
            <h1 class="homepageContent__heading">E-SHOP</h1>
            <p class="homepageContent__para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the ulorem Ipsum.</p>
            <a href="#" class="homepageContent__link tooltip"><button class="homepageContent__button">Explore more</button><span>Coming Soon...</span></a>
        </div>
        <div class="animated fadeInUp homepageContent" id="text4">
            <div class="homepageContent__border"></div>
            <h1 class="homepageContent__heading">OUR SERVICE</h1>
            <p class="homepageContent__para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the ulorem Ipsum.</p>
            <a href="service" class="homepageContent__link"><button class="homepageContent__button">Explore more</button></a>
        </div>
        <ul class="scroll-indicators">
            <li data-id="1" class="active">
            </li>
            <li data-id="2">
            </li>
            <li data-id="3">
            </li>
            <li data-id="4">
            </li>
            <li data-id="5">
            </li>
        </ul>
    </div>
    <footer class="homepageFooter">
            <span class="homepageFooter__margin">Privacy Policy</span>
            <span class="homepageFooter__margin">@copyright 2016, Little Brahma</span>
        </footer>
    </section>

    <section class="mobTabSection">
        <div class="mobTabSection__division">
            <div class="homepageContent">
                <div class="homepageContent__img" id="bg1">
                    <img id="img1" src="/assets/img/homepage/CREATIVESTUDIO/7.png" class="homepageBgImg__img1"/>
                </div>
                <h1 class="homepageContent__heading">CREATIVE STUDIO</h1>
                <p class="homepageContent__para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the ulorem Ipsum.</p>
                <a href="aboutus" class="homepageContent__link"><button class="homepageContent__button">Explore more</button></a>
            </div>
            <div class="homepageContent">
                <div class="homepageContent__img" id="bg2">
                    <img id="img2" src="/assets/img/homepage/PORTFOLIO/7.png" class="homepageBgImg__img1"/>
                </div>
                <h1 class="homepageContent__heading">OUR PORTFOLIO </h1>
                <p class="homepageContent__para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the ulorem Ipsum.</p>
                <a href="portfolio" class="homepageContent__link"><button class="homepageContent__button">Explore more</button></a>
            </div>
                <div class="homepageContent">
                <div class="homepageContent__img" id="bg3">
                    <img id="img3" src="/assets/img/homepage/CONTEST/1.png" class="homepageBgImg__img1"/>
                </div>
                <h1 class="homepageContent__heading">CONTEST</h1>
                <p class="homepageContent__para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the ulorem Ipsum.</p>
                <a href="#" class="homepageContent__link tooltip"><button class="homepageContent__button">Explore more</button><span>Coming Soon...</span></a>
            </div>
            <div class="homepageContent">
                <div class="homepageContent__img" id="bg4">
                    <img id="img4" src="/assets/img/homepage/E-STORE/7.png" class="homepageBgImg__img1"/>
                </div>
                <h1 class="homepageContent__heading">E-SHOP</h1>
                <p class="homepageContent__para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the ulorem Ipsum.</p>
                <a href="#" class="homepageContent__link tooltip"><button class="homepageContent__button">Explore more</button><span>Coming Soon...</span></a>
            </div>
            <div class="homepageContent">
                <div class="homepageContent__img" id="bg5">
                    <img id="img5" src="/assets/img/homepage/SERVICES/7.png" class="homepageBgImg__img1"/>
                </div>
                <h1 class="homepageContent__heading">OUR SERVICE</h1>
                <p class="homepageContent__para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the ulorem Ipsum.</p>
                <a href="service" class="homepageContent__link"><button class="homepageContent__button">Explore more</button></a>
            </div>
        </div>
    </section>

</section>

{% include footer.html %}
<script type="text/javascript">
var myimages=[
    "-76px -70px",
    "-406px -70px",
    "-736px -70px",
    "-1058px -70px",
    "-1382px -70px",
    "-1710px -50px",
    "-2032px -50px",
    "-68px -960px",
    "-398px -960px",
    "-727px -960px",
    "-1050px -960px",
    "-1379px -960px",
    "-1704px -960px",
    "-2031px -960px",
    "-2034px -265px",
    "-1710px -265px",
    "-1377px -265px",
    "-1046px -265px",
    "-724px -265px",
    "-395px -265px",
    "-65px -265px",
    "-56px -556px",
    "-387px -556px",
    "-715px -556px",
    "-1032px -556px",
    "-1350px -556px",
    "-1679px -556px",
    "-1981px -556px",
    "-76px -1276px",
    "-408px -1276px",
    "-740px -1276px",
    "-1060px -1276px",
    "-1388px -1276px",
    "-1710px -1276px",
    "-2032px -1276px"
    ];
var slideshow=document.getElementById("slideshow");
var nextslideindex=0;
var background=document.getElementById("background_image");
function myFunction() {
    if(nextslideindex >= 7 && nextslideindex <= 13) 
    {
        $('#background_image1').show().addClass("animated fadeInUp");
        $('#background_image').hide().addClass("animated fadeInUp");
        $('#background_image2').hide().addClass("animated fadeInUp");
        $('#background_image3').hide().addClass("animated fadeInUp");
        $('#background_image4').hide().addClass("animated fadeInUp");
        $('#slideshow').addClass("animated fadeInUp");
        $(".homepageBg").css("background-color","#211042");
        $("#text4").hide();
        $("#text").hide();
        $("#text2").hide();
        $("#text3").hide();
        $("#text1").show().addClass("animated fadeInUp");
        $(".scroll-indicators li[data-id=2]").addClass('active');
        $(".scroll-indicators li[data-id=1]").removeClass('active');
        $(".scroll-indicators li[data-id=3]").removeClass('active');
        $(".scroll-indicators li[data-id=4]").removeClass('active');
        $(".scroll-indicators li[data-id=5]").removeClass('active');
        $("#slideshow").css({"height": "280px", "left": "86%", "top": "185px", "width":"214px","opacity":"1"}).addClass("animated fadeIn"); 
    }
    else if(nextslideindex >= 14 && nextslideindex <= 20)
    {
        $('#background_image2').show().addClass("animated fadeInUp");
        $('#background_image').hide().addClass("animated fadeInUp");
        $('#background_image1').hide().addClass("animated fadeInUp");
        $('#background_image3').hide().addClass("animated fadeInUp");
        $('#background_image4').hide().addClass("animated fadeInUp");
        $('#slideshow').addClass("animated fadeInUp");
        $(".homepageBg").css("background-color","#230F42");
        $("#text4").hide();
        $("#text1").hide();
        $("#text").hide();
        $("#text3").hide();
        $("#text2").show().addClass("animated fadeInUp");
        $('#slideshow').addClass("animated fadeInUp");
        $(".scroll-indicators li[data-id=3]").addClass('active');
        $(".scroll-indicators li[data-id=1]").removeClass('active');
        $(".scroll-indicators li[data-id=2]").removeClass('active');
        $(".scroll-indicators li[data-id=4]").removeClass('active');
        $(".scroll-indicators li[data-id=5]").removeClass('active');
        $("#slideshow").css({"height": "280px", "left": "61%", "top": "11px", "width":"216px","opacity":"1"}).addClass("animated fadeIn");
    }
    else if(nextslideindex >= 21 && nextslideindex <= 27) 
    {
        $('#background_image3').show().addClass("animated fadeInUp");
        $('#background_image').hide().addClass("animated fadeInUp");
        $('#background_image2').hide().addClass("animated fadeInUp");
        $('#background_image1').hide().addClass("animated fadeInUp");
        $('#background_image4').hide().addClass("animated fadeInUp");
        $('#slideshow').addClass("animated fadeInUp");
        $(".homepageBg").css("background-color","#230F42");
        $("#text4").hide();
        $("#text1").hide();
        $("#text2").hide();
        $("#text").hide();
        $("#text3").show().addClass("animated fadeInUp");
        $(".scroll-indicators li[data-id=4]").addClass('active');
        $(".scroll-indicators li[data-id=1]").removeClass('active');
        $(".scroll-indicators li[data-id=3]").removeClass('active');
        $(".scroll-indicators li[data-id=2]").removeClass('active');
        $(".scroll-indicators li[data-id=5]").removeClass('active');
        $("#slideshow").css({"height": "290px", "left": "51%", "top": "-32px", "width":"296px","opacity":"1"}).addClass("animated fadeIn");
    }
    else if(nextslideindex >= 28 && nextslideindex <= 34) 
    {
        $('#background_image4').show().addClass("animated fadeInUp");
        $('#background_image').hide().addClass("animated fadeInUp");
        $('#background_image2').hide().addClass("animated fadeInUp");
        $('#background_image3').hide().addClass("animated fadeInUp");
        $('#background_image1').hide().addClass("animated fadeInUp");
        $('#slideshow').addClass("animated fadeInUp");
        $(".homepageBg").css("background-color","#211042");
        $("#text").hide();
        $("#text1").hide();
        $("#text2").hide();
        $("#text3").hide();
        $("#text4").show().addClass("animated fadeInUp");
        $(".scroll-indicators li[data-id=5]").addClass('active');
        $(".scroll-indicators li[data-id=1]").removeClass('active');
        $(".scroll-indicators li[data-id=3]").removeClass('active');
        $(".scroll-indicators li[data-id=4]").removeClass('active');
        $(".scroll-indicators li[data-id=2]").removeClass('active');
        $("#slideshow").css({"height": "368px", "left": "76%", "top": "-20px", "width":"200px","opacity":"1"}).addClass("animated fadeIn");
    }
    else if(nextslideindex >= 0 && nextslideindex <= 6) 
    {
        $('#background_image').show().addClass("animated fadeInUp");
        $('#background_image1').hide().addClass("animated fadeInUp");
        $('#background_image2').hide().addClass("animated fadeInUp");
        $('#background_image3').hide().addClass("animated fadeInUp");
        $('#background_image4').hide().addClass("animated fadeInUp");
        $(".homepageBg").css("background-color","#241141");
        $('#slideshow').addClass("animated fadeInUp");
        $("#text4").hide();
        $("#text1").hide();
        $("#text2").hide();
        $("#text3").hide();
        $("#text").show().addClass("animated fadeInUp");
        $(".scroll-indicators li[data-id=1]").addClass('active');
        $(".scroll-indicators li[data-id=2]").removeClass('active');
        $(".scroll-indicators li[data-id=3]").removeClass('active');
        $(".scroll-indicators li[data-id=4]").removeClass('active');
        $(".scroll-indicators li[data-id=5]").removeClass('active');
        $("#slideshow").css({"height": "158px", "left": "140px", "top": "185px", "width":"201px","opacity":"1"}).addClass("animated fadeIn");
    }
}
function rotateimage(e){
    var evt=document.event || e; //equalize event object
    var delta=evt.detail? evt.detail*(-120) : evt.wheelDelta; //delta returns +120 when wheel is scrolled up, -120 when scrolled down
    nextslideindex=(delta<=-120)? nextslideindex+1 : nextslideindex-1;//move image index forward or back, depending on whether wheel is scrolled down or up
    nextslideindex=(nextslideindex<0)? myimages.length-1 : (nextslideindex>myimages.length-1)? 0 : nextslideindex; //wrap image index around when it goes beyond lower and upper boundaries
    $("#slideshow").css('background-position', myimages[nextslideindex]).removeClass("animated fadeIn");
    $(this).addClass("animated fadeIn");
    myFunction();
    console.log(nextslideindex);
    if (evt.preventDefault) //disable default wheel action of scrolling page
        evt.preventDefault();
    else
        return false;
 
}
var mousewheelevt=(/Firefox/i.test(navigator.userAgent))? "DOMMouseScroll" : "mousewheel"; //FF doesn't recognize mousewheel as of FF3.x
if (document.attachEvent) //if IE (and Opera depending on user setting)
    document.attachEvent("on"+mousewheelevt, rotateimage);
else if (document.addEventListener) //WC3 browsers
    document.addEventListener(mousewheelevt, rotateimage, false);

</script>