{% include header.html %}
<section class="homepageBg">
    {% include common_header.html %}
    <section class="hopageDesk">
    <div class="row homepageRow">
        <div class="homepageCln">
            <div class="homepageBgImg animated fadeInUp" id="background_image"></div>
            <div class="homepageBgImg animated fadeInUp" id="background_image1"></div>
            <div class="homepageBgImg animated fadeInUp" id="background_image4"></div>
            <div class="homepageBgImg animated fadeInUp" id="background_image2"></div>
            <div class="homepageBgImg animated fadeInUp" id="background_image3"></div>
            <div id="slideshow" class="homepageBgImg__img animated fadeInUp"></div>
        </div>
       <div class="homepageContent animated fadeInUp" id="text">
            <div class="homepageContent__border"></div>
            <h1 class="homepageContent__heading">CREATIVE STUDIO</h1>
            <p class="homepageContent__para">Little Brahma is the all creating eye in the design cosmos. Inspired by the vast expanse of artistic shastras, complete with UI/UX services, mobile apps and digital innovations, Little Brahma is a fearless trendsetter, leaving a remarkable impression in every new creation.</p>
            <a href="aboutus" class="homepageContent__link"><button class="homepageContent__button">Explore more</button></a>
        </div>
        <div class="animated fadeInUp homepageContent" id="text1">
        <div class="homepageContent__border"></div>
            <h1 class="homepageContent__heading">OUR PORTFOLIO </h1>
            <p class="homepageContent__para">Step into the digital portfolio showcase as you journey into a new yuga of iconic signature designs that speak of our collective obsession with making every pixel and byte detailed, functional and intuitive.</p>
            <a href="portfolio" class="homepageContent__link"><button class="homepageContent__button">Explore more</button></a>
        </div>
        <div class="animated fadeInUp homepageContent" id="text4">
            <div class="homepageContent__border"></div>
            <h1 class="homepageContent__heading">OUR SERVICE</h1>
            <p class="homepageContent__para">As we expand and explore the frontiers of design intelligence, our services are tested on the highest threshold of beauty and utility before we make them available for you. Engage us and take maximum leverage from this design powerhouse. </p>
            <a href="service" class="homepageContent__link"><button class="homepageContent__button">Explore more</button></a>
        </div>
        <div class="animated fadeInUp homepageContent" id="text2">
        <div class="homepageContent__border"></div>
            <h1 class="homepageContent__heading">CONTEST</h1>
            <p class="homepageContent__para">We bring collaboration and competition together on one cosmic plane and what you get is some of the best talents in the world contending to give you cutting edge design and artwork to fulfill your creative needs.</p>
            <a href="#" class="homepageContent__link tooltip"><button class="homepageContent__button">Explore more</button><span>Coming Soon...</span></a>
        </div>
        <div class="animated fadeInUp homepageContent" id="text3">
            <div class="homepageContent__border"></div>
            <h1 class="homepageContent__heading">E-SHOP</h1>
            <p class="homepageContent__para">Explore visionary creative merchandise from the universe of Little Brahma. Curated by the best designers in the industry, the collections include a full suite of product campaigns, tailor-made design solutions and exclusive craftsmanship masterpieces.</p>
            <a href="#" class="homepageContent__link tooltip"><button class="homepageContent__button">Explore more</button><span>Coming Soon...</span></a>
        </div>
        <ul class="about-indicators">
            <li data-id="1" class="active">
            </li>
            <li data-id="2">
            </li>
            <li data-id="3">
            </li>
            <li data-id="4">
            </li>
            <li data-id="5">
            </li>
        </ul>
    </div>
    <!-- <footer class="homepageFooter">
            <span class="homepageFooter__margin">Privacy Policy</span>
            <span class="homepageFooter__margin">@copyright 2016, Little Brahma</span>
        </footer> -->
    </section>
    <section class="mobTabSection">
    <i class = "icon icon ion-ios-arrow-right arrow-right"></i>
    <i class = "icon icon ion-ios-arrow-left arrow-left"></i>
        <div class="mobTabSection__division">
        <div class="homepageContent__commomheight">
            <div class="homepageContent">
            <div>
                <div class="homepageContent__img" id="bg1">
                    <img id="img1" src="/assets/img/homepage/CREATIVESTUDIO/7.png" class="homepageBgImg__img1"/>
                </div>
                <h1 class="homepageContent__heading">CREATIVE STUDIO</h1>
                <p class="homepageContent__para">Little Brahma is the all creating eye in the design cosmos. Inspired by the vast expanse of artistic shastras, complete with UI/UX services, mobile apps and digital innovations, Little Brahma is a fearless trendsetter, leaving a remarkable impression in every new creation.</p>
                <a href="aboutus" class="homepageContent__link"><button class="homepageContent__button">Explore more</button></a>
                </div>
            </div>
            </div>
            <div class="homepageContent__commomheight">
            <div class="homepageContent">
            <div>
                <div class="homepageContent__img" id="bg2">
                    <img id="img2" src="/assets/img/homepage/PORTFOLIO/7.png" class="homepageBgImg__img1"/>
                </div>
                <h1 class="homepageContent__heading">OUR PORTFOLIO </h1>
                <p class="homepageContent__para">Step into the digital portfolio showcase as you journey into a new yuga of iconic signature designs that speak of our collective obsession with making every pixel and byte detailed, functional and intuitive.</p>
                <a href="portfolio" class="homepageContent__link"><button class="homepageContent__button">Explore more</button></a>
                </div>
            </div>
            </div>
             <div class="homepageContent__commomheight">
            <div class="homepageContent">
            <div>
                <div class="homepageContent__img" id="bg5">
                    <img id="img5" src="/assets/img/homepage/SERVICES/7.png" class="homepageBgImg__img1"/>
                </div>
                <h1 class="homepageContent__heading">OUR SERVICE</h1>
                <p class="homepageContent__para">As we expand and explore the frontiers of design intelligence, our services are tested on the highest threshold of beauty and utility before we make them available for you. Engage us and take maximum leverage from this design powerhouse. </p>
                <a href="service" class="homepageContent__link"><button class="homepageContent__button">Explore more</button></a>
                </div>
            </div>
            </div>
            <div class="homepageContent__commomheight">
                <div class="homepageContent">
                <div>
                <div class="homepageContent__img" id="bg3">
                    <img id="img3" src="/assets/img/homepage/CONTEST/1.png" class="homepageBgImg__img1"/>
                </div>
                <h1 class="homepageContent__heading">CONTEST</h1>
                <p class="homepageContent__para">We bring collaboration and competition together on one cosmic plane and what you get is some of the best talents in the world contending to give you cutting edge design and artwork to fulfill your creative needs.</p>
                <a href="#" class="homepageContent__link tooltip"><button class="homepageContent__button">Explore more</button><span>Coming Soon...</span></a>
                </div>
            </div>
            </div>
            <div class="homepageContent__commomheight">
            <div class="homepageContent">
            <div>
                <div class="homepageContent__img" id="bg4">
                    <img id="img4" src="/assets/img/homepage/E-STORE/7.png" class="homepageBgImg__img1"/>
                </div>
                <h1 class="homepageContent__heading">E-SHOP</h1>
                <p class="homepageContent__para">Explore visionary creative merchandise from the universe of Little Brahma. Curated by the best designers in the industry, the collections include a full suite of product campaigns, tailor-made design solutions and exclusive craftsmanship masterpieces.</p>
                <a href="#" class="homepageContent__link tooltip"><button class="homepageContent__button">Explore more</button><span>Coming Soon...</span></a>
                </div>
            </div>
            </div>
        </div>
         <!-- <footer class="homepageFooter">
            <span class="homepageFooter__margin">Privacy Policy</span>
            <span class="homepageFooter__margin">@copyright 2016, Little Brahma</span>
        </footer> -->
    </section>

</section>
{% include footer.html %}
