 {% include header.html %} {% include common_header.html %}
<section class="lifeContainer">
    <section class="lifeContainer__video">
        <img alt="littlebrahma__life-at-lb_video-img" src="/assets/img/lifeAtLittleBrahma/{{site.data.life_at_lb.bannerImage}}"/>
    </section>
    <section class="lifeContainer__content row">
        <div class="col-lg col-md col-sm-12 col-xs-12 contentContainer">
            <h1>{{site.data.life_at_lb.mainTitle1}}</h1>
            <p>{{site.data.life_at_lb.titledes1}}</p>
        </div>
        <div class="col-lg col-md col-sm-12 col-xs-12 contentContainer">
            <h1>{{site.data.life_at_lb.mainTitle2}}</h1>
            <p>{{site.data.life_at_lb.titledes2}}</p>
        </div>
        <div class="col-lg col-md col-sm-12 col-xs-12 contentContainer">
            <h1>{{site.data.life_at_lb.mainTitle3}}</h1>
            <p>{{site.data.life_at_lb.titledes3}}</p>
        </div>
    </section>
    <div class="middle-section3__midimg">
    
     <div class="middle-section3__midimg--class1" alt="littlebrahma__portfolio-logo-font" style="background-image:url('/assets/img/lifeAtLittleBrahma/{{site.data.life_at_lb.lbImg1}}');"></div>
     
     <div class="middle-section3__midimg--class2">
     
      <div class="middle-section3__midimg--class2-1"  alt="littlebrahma__portfolio-logo-color" style="background-image:url('/assets/img/lifeAtLittleBrahma/{{site.data.life_at_lb.lbImg2}}');"></div>
      
      <div class="middle-section3__midimg--class2-2" alt="littlebrahma__portfolio-logo-design" style="background-image:url('/assets/img/lifeAtLittleBrahma/{{site.data.life_at_lb.lbImg3}}');"></div>
     </div>
      </div>
    <section class="lifeContainer__details">
        <h1>{{site.data.life_at_lb.aboutTitle}}</h1>
        <p>{{site.data.life_at_lb.aboutDes}}</p>
    </section>

    <section class="imageSecondLayout">
        <div class="imageSecondLayout__first row">
            <div class=" imageSecondLayout__fLeft">
                <img alt="littlebrahma__playtime_img" src="/assets/img/lifeAtLittleBrahma/{{site.data.life_at_lb.aboutImage1}}" />
            </div>
            <div class=" imageSecondLayout__fRight">
                <img alt="littlebrahma__meeting_img" src="/assets/img/lifeAtLittleBrahma/{{site.data.life_at_lb.aboutImage2}}" />
            </div>
        </div>
        <div class="imageSecondLayout__second row">
            <div class=" imageSecondLayout__fLeft imageSecondLayout__fLeft-bottom">
                <img alt="littlebrahma__work_img" src="/assets/img/lifeAtLittleBrahma/{{site.data.life_at_lb.aboutImage3}}" />
            </div>
        </div>
    </section>

</section>
{% include common_footer.html %} {% include footer.html %}

