
 {% include header.html %}
 {% include common_header.html %}
<!-- <header class="commonHeader">
    {% if page.layout == "service_detail" or page.layout == "contact" or page.layout == "career"  or page.layout == "lifeAtLittleBrahma"%}
        <a href="/"><img src="/assets/img/service/LOGO_RED.png" class="commonHeader__logo"></a>
        <ul class="commonHeader__lists">
        	<li class="commonHeader__list commonHeader__active">CHALLENGES</li>
        	<li class="commonHeader__list">CREATIVES</li>
        	<li class="commonHeader__list">HALL OF FAME</li>
        	<li class="commonHeader__list">EXPLORE <i class="fa fa-sort-desc commonHeader__icons" aria-hidden="true"></i></li>
        </ul>
    {% else %}
        <a href="/"><img src="/assets/img/common/LOGO_WHITE.png" class="commonHeader__logo"></a>
    {% endif %}
    {% if page.layout == "service_detail" or page.layout == "contact" or page.layout == "career" or page.layout == "lifeAtLittleBrahma"  %}
   	 
    <span class="commonMenu">
            <img src="/assets/img/common/MENU_RED.png" class="commonMenu__icon">
    </span>
    <ul class="rightlists">
    	<li class="rightlists__list"><i class="fa fa-bell rightlists__icons" aria-hidden="true"></i></li>
    	<li class="rightlists__list rightlists__lst"><img class="rightlists__img1" src="/assets/img/common/profile1.png"></li>
    	<li class="rightlists__list"><span class="commonHeader__profile"> Philip Jhonson </span> <i class="fa fa-sort-desc commonHeader__icons" aria-hidden="true"></i> </li>
    </ul>
    <hr class="hr1">
    {% else %}
   
    <span class="commonMenu">
            <img src="/assets/img/common/MENU_WHITE.png" class="commonMenu__icon">
    </span>
    {% endif %}
    <div class="MenuContent animated">
        <img src="/assets/img/common/CLOSE.png" class="MenuContent__close"> -->
        <!-- <div class="menuMob"><img src="/assets/img/common/menu_close.png" class="menuMob__img"></div> -->
        <!-- <ul class="MenuList">
            <li class="MenuList__ele">
            <a href="javascript:void(0)" class="MenuList__attr MenuList__main MenuList__wwa">who we are<div class="arrow MenuList__arrowDown"></div></a>
            </li>
            <li class="MenuList__ele MenuList__common animated fadeInDown">
                <a href="/aboutus/" class="MenuList__attr">about us</a> 
            </li>
            <li class="MenuList__ele MenuList__common animated fadeInDown">
                <a href="" class="MenuList__attr">life at little brahma</a>
            </li>
            <li class="MenuList__ele MenuList__common animated fadeInDown">
                <a href="/process/" class="MenuList__attr">our process</a>
            </li>
            <li class="MenuList__ele MenuList__common animated fadeInDown">
                <a href="/service/" class="MenuList__attr">our services</a>
            </li>
            <li class="MenuList__ele MenuList__common animated fadeInDown">
                <a href="/portfolio/" class="MenuList__attr">portfolio</a>
            </li>
            <li class="MenuList__ele MenuList__common animated fadeInDown">
                <a href="/casestudy/" class="MenuList__attr">casestudy</a>
            </li>
            <li class="MenuList__ele MenuList__common animated fadeInDown">
                <a href="/blog/" class="MenuList__attr">blog</a>
            </li>
            <li class="MenuList__ele">
                <a href="" class="MenuList__attr MenuList__main">challenges</a>
            </li>
            <li class="MenuList__ele">
                <a href="" class="MenuList__attr MenuList__main">e-shop</a>
            </li>
            </ul>
            <ul class="MenuList MenuList__bottom">
            <li class="MenuList__cnc">
                <a href="/contact/" class="MenuList__attr">contact us</a>
            </li>
            <li class="MenuList__ele">
                <a href="/career/" class="MenuList__attr">careers</a>
            </li>
            <div class="MenuList__underline"></div>
             <li class="MenuList__ele">
                                <a href="" class="footerColumn__image"><img src="/assets/img/common/icon_instagram.png"></a>
                                <a href="" class="footerColumn__image"><img src="/assets/img/common/icon_dribble.png"></a>
                                <a href="" class="footerColumn__image"><img src="/assets/img/common/icon_behance.png"></a>
                                <a href="" class="footerColumn__image"><img src="/assets/img/common/icon_twitter.png"></a>
                            </li>
        </ul>
    </div>
</header> -->
<section class="middleSection">
<!-- <div class="middleSection__head">LIFE AT LITTLE BRAHMA</div> -->
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<img class="middleSection__img1" src="/assets/img/lifeAtLittleBrahma/img1.png">	
</div>
</div>
<div class="row middleSection__headng">
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
<h1> TITLE</h1>
<div class="middleSection__para">Lorem Ipsum is simply dummy text  of the printing and typesetting  industry. Lorem Ipsum  has been  the industry's standard dummy  text ever since</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
<h1> TITLE</h1>
<div class="middleSection__para">Lorem Ipsum is simply dummy text  of the printing and typesetting  industry. Lorem Ipsum  has been  the industry's standard dummy  text ever since</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
<h1> TITLE</h1>
<div class="middleSection__para">Lorem Ipsum is simply dummy text  of the printing and typesetting  industry. Lorem Ipsum  has been  the industry's standard dummy  text ever since</div>
</div>
</div>
<div class="row middleSection__allign">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
<img class="middleSection__img2" src="/assets/img/lifeAtLittleBrahma/img2.png">
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
<div class="row middleSection__section2">
<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 middleSection__algn1">
<img class="middleSection__img3" src="/assets/img/lifeAtLittleBrahma/img3.png">
</div>
<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 middleSection__algn2">
<img class="middleSection__img4" src="/assets/img/lifeAtLittleBrahma/img4.png">
</div>
</div>	
</div>
</div>
<div class="row middleSection__about">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h1>ABOUT</h1>
		<div  class="middleSection__para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make aleap.Lorem Ipsum is simply dummy text of the printing and typeset.</div>
	</div>
</div>
<div class="row middleSection__allign2">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	<img class="middleSection__img6" src="/assets/img/lifeAtLittleBrahma/img6.png">
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	<img class="middleSection__img5" src="/assets/img/lifeAtLittleBrahma/img5.png">
	</div>
</div>
</section>
 {% include common_footer.html %}
 {% include footer.html %}