 {% include header.html %} {% include common_header.html %}
<section class="lifeContainer">
    <section class="lifeContainer__video">
        <img src="/assets/img/lifeAtLittleBrahma/img1.png" />
    </section>
    <section class="lifeContainer__content row">
        <div class="col-lg col-md col-sm col-xs-12 contentContainer">
            <h1>TITLE</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
        </div>
        <div class="col-lg col-md col-sm col-xs-12 contentContainer">
            <h1>TITLE</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
        </div>
        <div class="col-lg col-md col-sm col-xs-12 contentContainer">
            <h1>TITLE</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
        </div>
    </section>
    <section class="imageFirstLayout">
        <div class="img_test">
            <div class="img_cont0">
                <span id="image">
        <span id="image-inner">
        </span>
                </span>
            </div>
            <div class="img_cont2">
                <div class="img_cont">
                    <span id="image2">
        <span id="image-inner">
        </span>
                    </span>
                </div>

                <div class="img_cont">
                    <span id="image1">
        <span id="image-inner">
        </span>
                    </span>
                </div>
            </div>
        </div>
    </section>
    <section class="lifeContainer__details">
        <h1>About Little Brahma</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make aleap.Lorem Ipsum is
            simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled </p>
    </section>

    <section class="imageSecondLayout">
        <div class="imageSecondLayout__first row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 imageSecondLayout__fLeft">
                <img src="/assets/img/lifeAtLittleBrahma/2_1.png" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 imageSecondLayout__fRight">
                <img src="/assets/img/lifeAtLittleBrahma/2_2.png" />
            </div>
        </div>
        <div class="imageSecondLayout__second row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 imageSecondLayout__fLeft">
                <img src="/assets/img/lifeAtLittleBrahma/2_3.png" />
            </div>
        </div>
    </section>

</section>
{% include common_footer.html %} {% include footer.html %}