 {% include header.html %}
 <section class="portfolioBg">
 {% include common_header.html %}
 	<div class="commonHeight">
 		<img src="/assets/img/service/Mudras/Portfolio.png" class="commonHeight__img">
		<h5 class="commonHeight__heading">PORTFOLIO</h5>
		<p class="commonHeight__para">User interface in the eyes of the beholder, Technical specifications is what it is made of. User experience is in their mind.</p>
	</div>
 </section>

 <div class="row blog-row">
		{% include radio1.html %}
		<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 portDetail">
			<div class="row">
				{% assign item = site.portfolios | sort: 'date' %}
				{% for port in item %}
				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 blog-filter {{port.category}}">
						<div class="{{port.background-class}}">
							<div class="portfolioInner">
								<div class="portInnerPadd">
									<h5 class="portInnerPadd--title">{{port.porject_title}}</h5>
									<div class="portInnerPadd--border"></div>
									<p class="portInnerPadd--para">{{port.description}}</p>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
 {% include common_footer.html %}
 {% include footer.html %}
 <script type="text/javascript">
  if (screen.width >= 1199) {
    $(window).scroll(function() {
if ($(this).scrollTop() > 722){  
    $('.commonHeader').css({"background-color":"#fff"}).addClass("animated fadeIn");
    $(".selectSection").css({"position":"fixed","top":"25%"});
    $(".portDetail").css({"position":"relative","left":"26%"});
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_RED.png");
        $('.commonHeader__logo').attr("src", "/assets/img/service/LOGO_RED.png");
  }
  else {
    $('.commonHeader').css({"background-color":"transparent"});
    $(".selectSection").css({"position":"static","top":"0%"});
    $(".portDetail").css({"position":"static","left":"0%"});
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_WHITE.png");
        $('.commonHeader__logo').attr("src", "/assets/img/common/LOGO_WHITE.png");
  }
});
}
else if(screen.width >= 768 && screen.width < 1199) {
    $(window).scroll(function() {
if ($(this).scrollTop() > 722){  
    $('.commonHeader').css({"background-color":"#fff"}).addClass("animated fadeIn");
    $(".selectSection").css({"position":"fixed","top":"25%"});
    $(".portDetail").css({"position":"relative","left":"34%"});
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_RED.png");
        $('.commonHeader__logo').attr("src", "/assets/img/service/LOGO_RED.png");
  }
  else {
    $('.commonHeader').css({"background-color":"transparent"});
    $(".selectSection").css({"position":"static","top":"0%"});
    $(".portDetail").css({"position":"static","left":"0%"});
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_WHITE.png");
        $('.commonHeader__logo').attr("src", "/assets/img/common/LOGO_WHITE.png");
  }
});
}
// else if (screen.width < 768) {
//     $(window).scroll(function() {
// if ($(this).scrollTop() > 420){  
//     $('.commonHeader').css({"background-color":"#fff","padding-top":"10px","padding-bottom":"10px"});
//     $(".selectSection").css({"position":"static","top":"0%"});
//     $(".portDetail").css({"position":"relative","top":"0"});
//     $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_RED.png");
//         $('.commonHeader__logo').attr("src", "/assets/img/service/LOGO_RED.png");
//   }
//   else {
//     $('.commonHeader').css({"background-color":"transparent","padding-top":"20px","padding-bottom":"20px"});
//     $(".selectSection").css({"position":"static","top":"0%"});
//     $(".portDetail").css({"position":"static","left":"0%"});
//     $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_WHITE.png");
//         $('.commonHeader__logo').attr("src", "/assets/img/common/LOGO_WHITE.png");
//   }
// });
// }
$(window).resize(function() {
  if (screen.width >= 768) {
    $(window).scroll(function() {
if ($(this).scrollTop() > 722){  
    $('.commonHeader').css({"background-color":"#fff"}).addClass("animated fadeIn");
    $(".selectSection").css({"position":"fixed","top":"25%"});
    $(".portDetail").css({"position":"relative","left":"26%"});
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_RED.png");
        $('.commonHeader__logo').attr("src", "/assets/img/service/LOGO_RED.png");
  }
  else {
    $('.commonHeader').css({"background-color":"transparent"});
    $(".selectSection").css({"position":"static","top":"0%"});
    $(".portDetail").css({"position":"static","left":"0%"});
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_WHITE.png");
        $('.commonHeader__logo').attr("src", "/assets/img/common/LOGO_WHITE.png");
  }
});
}
else if(screen.width >= 768 && screen.width < 1199) {
    $(window).scroll(function() {
if ($(this).scrollTop() > 722){  
    $('.commonHeader').css({"background-color":"#fff"}).addClass("animated fadeIn");
    $(".selectSection").css({"position":"fixed","top":"25%"});
    $(".portDetail").css({"position":"relative","left":"34%"});
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_RED.png");
        $('.commonHeader__logo').attr("src", "/assets/img/service/LOGO_RED.png");
  }
  else {
    $('.commonHeader').css({"background-color":"transparent"});
    $(".selectSection").css({"position":"static","top":"0%"});
    $(".portDetail").css({"position":"static","left":"0%"});
    $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_WHITE.png");
        $('.commonHeader__logo').attr("src", "/assets/img/common/LOGO_WHITE.png");
  }
});
}
// else if (screen.width < 768) {
//     $(window).scroll(function() {
// if ($(this).scrollTop() > 420){  
//     $('.commonHeader').css({"background-color":"#fff","padding-top":"10px","padding-bottom":"10px"});
//     $(".selectSection").css({"position":"static","top":"0%"});
//     $(".portDetail").css({"position":"relative","top":"0"});
//     $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_RED.png");
//         $('.commonHeader__logo').attr("src", "/assets/img/service/LOGO_RED.png");
//   }
//   else {
//     $('.commonHeader').css({"background-color":"transparent","padding-top":"20px","padding-bottom":"20px"});
//     $(".selectSection").css({"position":"static","top":"0%"});
//     $(".portDetail").css({"position":"static","left":"0%"});
//     $('.commonMenu__icon').attr("src", "/assets/img/common/MENU_WHITE.png");
//         $('.commonHeader__logo').attr("src", "/assets/img/common/LOGO_WHITE.png");
//   }
// });
// }
});



 </script>