 {% include header.html %}
 <section class="portfolioBg">
 {% include common_header.html %}
 	<div class="commonHeight">
 		<img src="/assets/img/service/Mudras/1.png" class="commonHeight__img">
		<h5 class="commonHeight__heading">PORTFOLIO</h5>
		<p class="commonHeight__para">User interface in the eyes of the beholder, Technical specifications is what it is made of. User experience is in their mind.</p>
	</div>
 </section>

 <div class="row blog-row">
		{% include radio1.html %}
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
			<div class="row">
				{% assign item = site.portfolios | sort: 'date' %}
				{% for port in item %}
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 blog-filter {{port.category}}">
						<div class="{{port.background-class}}">
							<div class="portfolioInner">
								<div class="portInnerPadd">
									<h5 class="portInnerPadd--title">{{port.porject_title}}</h5>
									<div class="portInnerPadd--border"></div>
									<p class="portInnerPadd--para">{{port.description}}</p>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
 {% include common_footer.html %}
 {% include footer.html %}