{% include header.html %}
<section class="portfolioDetailBg">
  {%assign pageCat = page.categories | upcase %}
    {% include common_header.html %}
    {%if pageCat contains "BRANDING" %}
    {%assign bgImg=page.variation_img5 %}
      {%else%}
      {%assign bgImg=page.img %}
      {%endif%}

      <div class="banner" alt="littlebrahma__portfolio-banner-bg" style="background:url('{{bgImg}}') no-repeat center;background-size:cover;">
         <div class="banner__cont">
             {%if page.banner_logo%}          
             <img class="banner__logo" alt="littlebrahma__portfolio-{{page.porject_title}}_img" src="{{page.banner_logo}}">
             {%endif%}
             <h1 class="banner__title">{{page.porject_title | upcase}}</h1>
             <h4 class="banner__subtitle details-italics">{{page.porject_subtitle}}</h4>
             {%if page.appstore_url or page.playstore_url%}
             <h6 class="banner__mintitle">DOWNLOAD FOR</h6>
             {%endif%}
             {%if page.appstore_url%}
             <a href={{page.appstore_url}}><img class="banner__himg" alt="littlebrahma__portfolio-apple_img" src="/assets/img/portfolio/apple.png"></a>
             {%endif%}
             {%if page.playstore_url%}
             <a href={{page.playstore_url}}><img class="banner__himg" alt="littlebrahma__portfolio-android_img" src="/assets/img/portfolio/android.png"></a>
             {%endif%}
        </div>
      </div>
      <div class="scroll-downs">
  <div class="mousey">
    <div class="scroller"></div>
  </div>
</div>
</section>
      <div class="middle-section">
          <div class="middle-section1">
            <div class="row center-xs start-md start-sm start-lg">
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 left-align">
                <h2 class="heading">{{page.porject_title | upcase}}</h2>
                <hr class="middle-section1__hr1">
                <p class="middle-section1__algn">
                {{page.project_detail}}
                </p>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 left-align">
                <h2 class="heading">WHAT WE DID</h2>
                <hr class="middle-section1__hr2"> 
                {% for portfolioList in page.whatWeDoList %}    
                <p class="middle-section1__algn1">{{portfolioList}}</p>
                {% endfor %}   
              </div>
            </div>
            {%if page.img%}
            <img class="middle-section1__img1" alt="littlebrahma__portfolio-section1-1_img" src="{{page.img}}">
            <p class="italic">{{page.imgContent}}</p> 
            {%endif%}
          </div>
      </div>
      {%if page.slide_images.size > 0%}
    <div class="middle-section2">
    <div class="middle-section2__inner logo__variation">
    {%for img in page.slide_images%}
    <div class="middle-section2__allign">
    <img class="middle-section2__img1" alt="littlebrahma__portfolio-section2-{{forloop.index}}_img" src="{{img}}">
    </div>
    {%endfor%}
        </div>
    </div>
    {%endif%}
    <div class="middle-section">
    {%if page.variation_img1 or page.variation_img2 or page.variation_img3 or page.variation_img4 or page.variation_img5%}
    <div class="middle-section3">
    <h2 class="middle-section3__title1">{{page.variation_title}}</h2>
    <hr class="middle-section3__hr">
    <div class="middle-section3__midimg">
    {%if page.variation_img1%}
     <div class="middle-section3__midimg--class1" alt="littlebrahma__portfolio-logo-font" style="background-image:url('{{page.variation_img1}}');"></div>
     {%endif%}
     <div class="middle-section3__midimg--class2">
     {%if page.variation_img2%}
      <div class="middle-section3__midimg--class2-1"  alt="littlebrahma__portfolio-logo-color" style="background-image:url('{{page.variation_img2}}');"></div>
      {%endif%}
      {%if page.variation_img3%}
      <div class="middle-section3__midimg--class2-2" alt="littlebrahma__portfolio-logo-design" style="background-image:url('{{page.variation_img3}}');"></div>
      {%endif%}
     </div>
      </div>
    <div class="middle-section4">
      {%if page.variation_img4%}
      <img class="middle-section4__imgb" alt="littlebrahma__portfolio-section4-1_img" src='{{page.variation_img4}}'>
      {%endif%}
      {%if page.variation_img5%}
     <img class="middle-section4__imgbg" alt="littlebrahma__portfolio-section4-2_img" src="{{page.variation_img5}}">
     {%endif%}
      </div>
      </div>
      {%endif%}
      </div>
      <div class="middle-section5">
      <h2 class="middle-section5__headng">ITS TIME TO GET CREATIVE TOGETHER</h2>
      <a href="/contact/"><button class="middle-section5__btn">LET'S TALK</button></a>
        
      </div>
    {% include common_footer.html %}
 {% include footer.html %} 
