 {% include header.html %}
 <section class="portfolioBg">
 {% include common_header.html %}
 	<div class="commonHeight">
  <div>
 		<img src="/assets/img/service/Mudras/Portfolio.png" class="commonHeight__img">
		<h5 class="commonHeight__heading">{{site.data.portfolio.title}}</h5>
		<p class="commonHeight__para">{{site.data.portfolio.description}}</p>
    </div>
	</div>
 </section>

 <div class="row blog-row">
		{% include radio1.html %}
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 portDetail">
			<div class="row blog_commom-row">
				{% assign item = site.portfolio | sort: 'date' %}
				{% for port in item %}
				<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 blog-filter {{port.categories}}">
						<div class="{{port.background-class}}">
							<div class="portfolioInner">
								<div class="portInnerPadd">
									<h5 class="portInnerPadd--title">{{port.porject_title}}</h5>
									<div class="portInnerPadd--border"></div>
									<p class="portInnerPadd--para">{{port.description}}</p>
                  <a href="{{port.url}}"><button type="button" value="submit" class="portInnerPadd--btn">View Portfolio</button></a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
 {% include common_footer.html %}
 {% include footer.html %}
