{% include header.html %}
<section class="portfolioDetailBg">
  {%assign pageCat = page.categories | upcase %}
    {% include common_header.html %}
    {%if pageCat contains "BRANDING" %}
    {%assign bgImg=page.variation_img5 %}
      {%else%}
      {%assign bgImg=page.img %}
      {%endif%}

      <div class="banner" style="background:url('{{bgImg}}') no-repeat center;background-size:cover;">
         <div class="banner__cont">
             {%if page.banner_logo%}          
             <img class="banner__logo" src="{{page.banner_logo}}" alt="banner-logo">
             {%endif%}
             <h1 class="banner__title">{{page.porject_title | upcase}}</h1>
             <h4 class="banner__subtitle">{{page.porject_subtitle | upcase}}</h4>
             {%if page.appstore_url or page.playstore_url%}
             <h6 class="banner__mintitle">DOWNLOAD FOR</h6>
             {%endif%}
             {%if page.appstore_url%}
             <a href={{page.appstore_url}}><img class="banner__himg" src="/assets/img/portfolio/apple.png"></a>
             {%endif%}
             {%if page.playstore_url%}
             <a href={{page.playstore_url}}><img class="banner__himg" src="/assets/img/portfolio/android.png"></a>
             {%endif%}

      
        
        </div>
    

   
      </div>
      <div class="scroll-downs">
  <div class="mousey">
    <div class="scroller"></div>
  </div>
</div>
</section>
      <div class="middle-section">
          <div class="middle-section1">
            <div class="row center-xs start-md start-sm start-lg">
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 left-align">
                <h2 class="heading">{{page.porject_title | upcase}}</h2>
                <hr class="middle-section1__hr1">
                <p class="middle-section1__algn">
                {{page.project_detail}}
                </p>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 left-align">
                <h2 class="heading">WHAT WE DID</h2>
                <hr class="middle-section1__hr2"> 
                {% for portfolioList in page.whatWeDoList %}    
                <p class="middle-section1__algn1">{{portfolioList}}</p>
                {% endfor %}   
              </div>
            </div>
            {%if page.img%}
            <img class="middle-section1__img1" src="{{page.img}}">
            <p class="italic">{{page.imgContent}}</p> 
            {%endif%}
          </div>
      </div>
      {%if page.slide_images.size > 0%}
    <div class="middle-section2">
    <div class="middle-section2__inner">
    {%for img in page.slide_images%}
    <div class="middle-section2__allign">
    <img class="middle-section2__img1" src="{{img}}">
    </div>
    {%endfor%}
        </div>
    </div>
    {%endif%}
    <!-- <div class="middle-section">
    <h2 class="middle-section3__title2">{{template.title}}</h2>
	  <div class="middle-section3">
    {% for template in page.projectTemplate %}
    <div class="row middle-section3__midimg">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 left-align">
        <img class="middle-section3__img1" src="/assets/img/portfolio/card 1.1.svg">
      </div>
      <div class="col-xs-12 first-xs col-sm-6 last-sm col-md-6 last-md col-lg-6 last-lg left-align">
      <div class="middle-section3__allign">
      <div class="row center-xs start-md start-sm start-lg">
      <div class="col-xs-12 first-xs col-sm-12 first-sm col-md-12 first-md col-lg-12 first-lg  middle-section3__allign1 left-align right-align">
      <h2 class="middle-section3__title2">{{template.title}}</h2>
      <hr class="middle-section3__hr3">
      <p class="middle-section3__algn">{{template.description}}</p>
      <img class="middle-section3__img2" src="{{template.img1}}">
      </div>
      </div>
      </div>
    </div>
    </div>
      {% endfor %} 
    </div>
    </div> -->
    <div class="middle-section">
    {%if page.variation_img1 or page.variation_img2 or page.variation_img3 or page.variation_img4 or page.variation_img5%}
    <div class="middle-section3">
    <h2 class="middle-section3__title1">VARIATIONS</h2>
    <hr class="middle-section3__hr">
    <div class="middle-section3__midimg">
    {%if page.variation_img1%}
     <div class="middle-section3__midimg--class1"  style="background-image:url('{{page.variation_img1}}');"></div>
     {%endif%}
     <div class="middle-section3__midimg--class2">
     {%if page.variation_img2%}
      <div class="middle-section3__midimg--class2-1"  style="background-image:url('{{page.variation_img2}}');"></div>
      {%endif%}
      {%if page.variation_img3%}
      <div class="middle-section3__midimg--class2-2" style="background-image:url('{{page.variation_img3}}');"></div>
      {%endif%}
     </div>
      <!-- <div class="middle-section3__midimg--class1">
        <img class="middle-section3__img1" src="/assets/img/portfolio/card 1.1.svg">
      </div>
      <div class="middle-section3__midimg--class2">
      <div class="middle-section3__midimg--class2-1">
        <img class="middle-section3__img1" src="/assets/img/portfolio/card 1.2.svg">
      </div>
      <div class="middle-section3__midimg--class2-2">
        <img class="middle-section3__img1" src="/assets/img/portfolio/card 1.3.svg">
      </div>
      </div> -->
      </div>
    <div class="middle-section4">
    <!-- <div class="middle-section4__pragrph">
     <h2 class="middle-section4__title3">{{page.porject_title1}}</h2>
      <hr class="middle-section4__hr4">
      <p class="middle-section4__algn">{{page.porject_description1}}</p>
      </div> -->
      {%if page.variation_img4%}
      <img class="middle-section4__imgb" src='{{page.variation_img4}}'>
      {%endif%}
      {%if page.variation_img5%}
     <img class="middle-section4__imgbg" src="{{page.variation_img5}}">
     {%endif%}
      </div>
      </div>
      {%endif%}
      </div>
      <div class="middle-section5">
      <h2 class="middle-section5__headng">WANT TO GET SOME AWESOME PRODUCTS LIKE THIS ?</h2>
      <a href="/contact/"><button class="middle-section5__btn">GET IN TOUCH</button></a>
        
      </div>
    {% include common_footer.html %}
 {% include footer.html %} 
