{% include header.html %}
 <section class="processBg">
 {% include common_header.html %}
 	<div class="commonHeight">
 		<img src="/assets/img/service/Mudras/1.png" class="commonHeight__img">
		<h5 class="commonHeight__heading">OUR PROCESS</h5>
		<p class="commonHeight__para">User interface in the eyes of the beholder, Technical specifications is what it is made of. User experience is in their mind.</p>
	</div>
 </section>

 <section class="processBgContent">
 	<div class="row">
 		<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
 			<img src="/assets/img/process/01_BRIEFING.gif" class="processBgContent__img">
 		</div>
 		<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
 			<div class="processContent">
	 			<h5 class="processContent__heading">1. BRIEFING</h5>
	 			<p class="processContent__para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
 			</div>
 		</div>
 	</div>
 	<div class="row">
 		<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
 			<div class="processContent alignRight">
	 			<h5 class="processContent__heading">2. BRAINSTORMING</h5>
	 			<p class="processContent__para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
 			</div>
 		</div>
 		<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
 			<img src="/assets/img/process/02_BRAINSTORMING.gif" class="processBgContent__img">
 		</div>
 	</div>
 	<div class="row">
 		<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
 			<img src="/assets/img/process/03_CONCEPT.gif" class="processBgContent__img">
 		</div>
 		<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
 			<div class="processContent">
	 			<h5 class="processContent__heading">3. CONCEPT</h5>
	 			<p class="processContent__para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
 			</div>
 		</div>
 	</div>
 	<div class="row">
 		<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
 			<div class="processContent alignRight">
	 			<h5 class="processContent__heading">4. DEVELOPMENT</h5>
	 			<p class="processContent__para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
 			</div>
 		</div>
 		<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
 			<img src="/assets/img/process/04_DEVELOPMENT.gif" class="processBgContent__img">
 		</div>
 	</div>
 	<div class="row">
 		<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
 			<img src="/assets/img/process/05_PRODUCT_RELEASE.gif" class="processBgContent__img">
 		</div>
 		<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
 			<div class="processContent"> 
	 			<h5 class="processContent__heading">5. PRODUCT RELEASE</h5>
	 			<p class="processContent__para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
 			</div>
 		</div>
 	</div>
 </section>
 {% include footer.html %}