{% include header.html %}
<section class="processBg">
    {% include common_header.html %}
    <div class="commonHeight">
        <div>
            <img alt="lb__process-machine_img" src="/assets/img/process/{{site.data.process.bannerImage}}" class="commonHeight__img headimg">
            <h5 class="commonHeight__heading">{{site.data.process.heading}}</h5>
            <p class="commonHeight__para headpara">{{site.data.process.description}} </p>
        </div>
    </div>
</section>
<div class="processContent__lg">
    <section class="processBgContent">

        <div class="row processBgContent__allign">
            <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12 processBgContent__adjust1">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-0"></div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 end-lg end-md end-sm center-xs">
                        <img alt="lb__process-thinking-time_img" src="/assets/img/process/{{site.data.process.image1}}" class="img1 img">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12 processBgContent__adjust1">
                <div class="processContent">
                    <!--<hr class="processContent__hr1">-->
                    <h5 class=""><span class="processContent__hLine">01</span></h5>
                    <h5 class="processContent__heading">{{site.data.process.title1}}</h5>
                    <p class="processContent__para">{{site.data.process.content1}}</p>
                    <img alt="lb__process-right-line_img" src="/assets/img/process/right-01.svg" class="processContent__line">
                </div>

            </div>


        </div>
        <div class="row processBgContent__allign processBgContent__allign1">
            <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12 processBgContent__adjust2">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 first-lg first-md first-sm last-xs processBgContent__leftSpacing">
                        <div class="processContent processBgContent__alignRight">
                            <h5 class=""><span class="processContent__hLine">02</span></h5>
                            <h5 class="processContent__heading">{{site.data.process.title2}}</h5>
                            <p class="processContent__para processContent__mobilePara">{{site.data.process.content2}}</p>
                            <img alt="lb__process-left-line_img" src="/assets/img/process/left-01.svg" class="processContent__line1">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 end-lg end-md end-sm center-xs">
                        <img alt="lb__process-getting-idea_img" src="/assets/img/process/{{site.data.process.image2}}" class="img1 img">
                    </div>
                </div>

            </div>
            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-0 processBgContent__adjust1">
                <!--<img  src="/assets/img/process/2.png" class="imgRight">-->
            </div>
        </div>

        <div class="row processBgContent__allign">
            <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12 processBgContent__adjust1">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-0"></div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 end-lg end-md end-sm center-xs">
                        <img alt="lb__process-prototype_img" src="/assets/img/process/{{site.data.process.image3}}" class="img1 img">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12 processBgContent__adjust1">
                <div class="processContent">
                    <h5 class=""><span class="processContent__hLine">03</span></h5>
                    <h5 class="processContent__heading">{{site.data.process.title3}}</h5>
                    <p class="processContent__para">{{site.data.process.content3}}</p>
                    <img alt="lb__process-right-line_img" src="/assets/img/process/right-01.svg" class="processContent__line">
                </div>

            </div>
        </div>

        <div class="row processBgContent__allign processBgContent__allign2">
            <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12 processBgContent__adjust2">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 first-lg first-md first-sm last-xs processBgContent__leftSpacing">
                        <div class="processContent processBgContent__alignRight">
                            <h5 class=""><span class="processContent__hLine">04</span></h5>
                            <h5 class="processContent__heading">{{site.data.process.title4}}</h5>
                            <p class="processContent__para processContent__mobilePara">{{site.data.process.content4}}</p>
                            <img alt="lb__process-left-line_img" src="/assets/img/process/left-01.svg" class="processContent__line1">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 end-lg end-md end-sm center-xs">
                        <img alt="lb__process-transformation_img" src="/assets/img/process/{{site.data.process.image4}}" class="img1 img">
                    </div>
                </div>

            </div>
            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-0 processBgContent__adjust1">
                <!--<img  src="/assets/img/process/2.png" class="imgRight">-->
            </div>
        </div>


        <div class="row processBgContent__allign">
            <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12 processBgContent__adjust1">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-0"></div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 end-lg end-md end-sm center-xs">
                        <img alt="lb__process-final-product_img" src="/assets/img/process/{{site.data.process.image5}}" class="img1 img">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12 processBgContent__adjust1">
                <div class="processContent">
                    <h5 class=""><span class="processContent__hLine">05</span></h5>
                    <h5 class="processContent__heading">{{site.data.process.title5}}</h5>
                    <p class="processContent__para">{{site.data.process.content5}}</p>
                </div>
            </div>
        </div>
    </section </div>

    {% include common_footer.html %} {% include footer.html %}
    <!--
 <script type="text/javascript">
    var controller = new ScrollMagic.Controller();


//hide img content and line
TweenMax.set("#breiefing-img",{autoAlpha:0});
TweenMax.set("#breiefing-content",{autoAlpha:0});
TweenMax.set("#line1",{autoAlpha:0});
TweenMax.set("#message",{autoAlpha:0});
TweenMax.set("#message1",{autoAlpha:0});


TweenMax.set("#dev-img",{autoAlpha:0});
TweenMax.set("#dev-content",{autoAlpha:0});
TweenMax.set("#line2",{autoAlpha:0});
TweenMax.set("#sparkle1",{autoAlpha:0});
TweenMax.set("#sparkle",{autoAlpha:0});
TweenMax.set("#sparkle2",{autoAlpha:0});


TweenMax.set("#product-img",{autoAlpha:0});
TweenMax.set("#product-content",{autoAlpha:0});
TweenMax.set("#line3",{autoAlpha:0});
TweenMax.set("#pot",{autoAlpha:0});
TweenMax.set("#pot1",{autoAlpha:0});


TweenMax.set("#brainstroming-img",{autoAlpha:0});
TweenMax.set("#brainstroming-content",{autoAlpha:0});
TweenMax.set("#line4",{autoAlpha:0});
TweenMax.set("#chakra",{autoAlpha:0});
TweenMax.set("#chakra1",{autoAlpha:0});
TweenMax.set("#chakra1",{autoAlpha:0});


TweenMax.set("#concept-img",{autoAlpha:0});
TweenMax.set("#concept-content",{autoAlpha:0});


//Create scene1 as tween
var tween_img1=TweenMax.to("#breiefing-img", 0.5, {autoAlpha:1});
var tween_content1=TweenMax.to("#breiefing-content", 0.4, {autoAlpha:1});
var tween_line1=TweenMax.to("#line1", 0.3,{autoAlpha:1});
var tween_message1=TweenMax.to("#message", 0.02,{autoAlpha:1});
var tween_message2=TweenMax.to("#message1", 0.01,{autoAlpha:1});

var t1 = new TimelineMax()
.add(tween_img1)
.add(tween_content1)
.add(tween_line1)
.add(tween_message1)
.add(tween_message2);

var t11 = new TimelineMax()
.add(tween_message1)
.add(tween_message2);

var scene=new ScrollMagic.Scene({
triggerElement:"#breiefing"

})
.setTween(t1) 
.addTo(controller);

var scene0=new ScrollMagic.Scene({
triggerElement:"#line1"

})
.setTween(t11) 
.addTo(controller);



//Scene2
var tween_img2=TweenMax.to("#brainstroming-img", 0.3, {autoAlpha:1});
var tween_content2=TweenMax.to("#brainstroming-content", 0.2, {autoAlpha:1});
var tween_line2=TweenMax.to("#line2", 0.1,{autoAlpha:1});
var tween_sparkle=TweenMax.to("#sparkle", 0.02,{autoAlpha:1});
var tween_sparkle1=TweenMax.to("#sparkle1", 0.01,{autoAlpha:1});
var tween_sparkle2=TweenMax.to("#sparkle2", 0.02,{autoAlpha:1});


var t2 = new TimelineMax()
.add(tween_img2)
.add(tween_content2)
.add(tween_line2)
.add(tween_sparkle)
.add(tween_sparkle1)
.add(tween_sparkle2);

var t22 = new TimelineMax()
.add(tween_sparkle)
.add(tween_sparkle1)
.add(tween_sparkle2);


var scene1=new ScrollMagic.Scene({
triggerElement:"#brainstroming"

})
.setTween(t2) 
.addTo(controller);

var scene11=new ScrollMagic.Scene({
triggerElement:"#line2"

})
.setTween(t22) 
.addTo(controller);



//Scene3
var tween_img3=TweenMax.to("#concept-img", 0.3, {autoAlpha:1});
var tween_content3=TweenMax.to("#concept-content", 0.2, {autoAlpha:1});
var tween_line3=TweenMax.to("#line3", 0.1,{autoAlpha:1});
var tween_pot1=TweenMax.to("#pot", 0.01,{autoAlpha:1});
var tween_pot2=TweenMax.to("#pot1", 0.02,{autoAlpha:1});


var t3 = new TimelineMax()
.add(tween_img3)
.add(tween_content3)
.add(tween_line3)
.add(tween_pot1)
.add(tween_pot2);

var t33 = new TimelineMax()
.add(tween_pot1)
.add(tween_pot2);

var scene2=new ScrollMagic.Scene({
triggerElement:"#concept"

})
.setTween(t3) 
.addTo(controller);


var scene22=new ScrollMagic.Scene({
triggerElement:"#concept"

})
.setTween(t33) 
.addTo(controller);


//scene4
var tween_img4=TweenMax.to("#dev-img", 0.3, {autoAlpha:1});
var tween_content4=TweenMax.to("#dev-content", 0.2, {autoAlpha:1});
var tween_line4=TweenMax.to("#line4", 0.1,{autoAlpha:1});
var tween_chakra=TweenMax.to("#chakra", 0.01,{autoAlpha:1});
var tween_chakra1=TweenMax.to("#chakra1", 0.02,{autoAlpha:1});
var tween_chakra2=TweenMax.to("#chakra2", 0.01,{autoAlpha:1});


var t4 = new TimelineMax()
.add(tween_img4)
.add(tween_content4)
.add(tween_line4)
.add(tween_chakra)
.add(tween_chakra1)
.add(tween_chakra2);

var t44 = new TimelineMax()
.add(tween_chakra)
.add(tween_chakra1)
.add(tween_chakra2);

var scene33=new ScrollMagic.Scene({
triggerElement:"#line4"

})
.setTween(t44) 
.addTo(controller);


//scene5
var tween_img5=TweenMax.to("#product-img", 0.3, {autoAlpha:1});
var tween_content5=TweenMax.to("#product-content", 0.2, {autoAlpha:1});


var t5 = new TimelineMax()
.add(tween_img5)
.add(tween_content5);


new ScrollMagic.Scene({
triggerElement:"#product"

})
.setTween(t5) 
.addTo(controller);


//draw svg http://scrollmagic.io/examples/advanced/svg_drawing.html
function pathPrepare ($el) {
        var lineLength = $el[0].getTotalLength();
        $el.css("stroke-dasharray", lineLength);
        $el.css("stroke-dashoffset", lineLength);
    }

    var $line1 = $("path#line1");
    var $line2 = $("path#line2");
    var $line3 = $("path#line3");
    var $line4 = $("path#line4");
    var $line5 = $("#sparkle");
    var $line6 = $("#sparkle1");
    var $line7 = $("#sparkle2");
    var $line8 = $("#pot");
    var $line9 = $("#pot1");
    var $line10 = $("#chakra");
    var $line11 = $("#chakra1");
    var $line12 = $("#chakra2");

   

    // prepare SVG
    pathPrepare($line1);
    pathPrepare($line2);
    pathPrepare($line3);
    pathPrepare($line4);
   
    var tween1 = new TimelineMax()
        .add(TweenMax.to($line1, 0.9, {strokeDashoffset: 0, ease:Linear.easeNone}))

    new ScrollMagic.Scene({triggerElement: "#Layer_1", duration: 300, tweenChanges: true})
                    .setTween(tween1)
                    .addTo(controller);


var tween2 = new TimelineMax()
        .add(TweenMax.to($line2, 0.9, {strokeDashoffset: 0, ease:Linear.easeNone}))

    new ScrollMagic.Scene({triggerElement: "#Layer_2", duration: 300, tweenChanges: true})
                    .setTween(tween2)
                    .addTo(controller);



var tween3 = new TimelineMax()
        .add(TweenMax.to($line3, 0.9, {strokeDashoffset: 0, ease:Linear.easeNone}))

    new ScrollMagic.Scene({triggerElement: "#Layer_3", duration: 300, tweenChanges: true})
                    .setTween(tween3)
                    .addTo(controller);



var tween4 = new TimelineMax()
        .add(TweenMax.to($line4, 0.9, {strokeDashoffset: 0, ease:Linear.easeNone}))

    new ScrollMagic.Scene({triggerElement: "#Layer_4", duration: 300, tweenChanges: true})
                    .setTween(tween4)
                    .addTo(controller);


    var tween5 = new TimelineMax()
        .add(TweenMax.to($line5, 0.9, {strokeDashoffset: 0, ease:Linear.easeNone}))

    new ScrollMagic.Scene({triggerElement: "#sparkle", duration: 300, tweenChanges: true})
                    .setTween(tween5)
                    .addTo(controller);

    var tween6 = new TimelineMax()
        .add(TweenMax.to($line6, 0.9, {strokeDashoffset: 0, ease:Linear.easeNone}))

    new ScrollMagic.Scene({triggerElement: "#sparkle1", duration: 300, tweenChanges: true})
                    .setTween(tween6)
                    .addTo(controller);

    var tween7 = new TimelineMax()
        .add(TweenMax.to($line7, 0.9, {strokeDashoffset: 0, ease:Linear.easeNone}))

    new ScrollMagic.Scene({triggerElement: "#sparkle2", duration: 300, tweenChanges: true})
                    .setTween(tween7)
                    .addTo(controller);

    var tween8 = new TimelineMax()
        .add(TweenMax.to($line8, 0.9, {strokeDashoffset: 0, ease:Linear.easeNone}))

    new ScrollMagic.Scene({triggerElement: "#pot", duration: 300, tweenChanges: true})
                    .setTween(tween8)
                    .addTo(controller);

    var tween9 = new TimelineMax()
        .add(TweenMax.to($line9, 0.9, {strokeDashoffset: 0, ease:Linear.easeNone}))

    new ScrollMagic.Scene({triggerElement: "#pot1", duration: 300, tweenChanges: true})
                    .setTween(tween9)
                    .addTo(controller);

    var tween10 = new TimelineMax()
        .add(TweenMax.to($line10, 0.9, {strokeDashoffset: 0, ease:Linear.easeNone}))

    new ScrollMagic.Scene({triggerElement: "#chakra", duration: 300, tweenChanges: true})
                    .setTween(tween10)
                    .addTo(controller);

    var tween11 = new TimelineMax()
        .add(TweenMax.to($line11, 0.9, {strokeDashoffset: 0, ease:Linear.easeNone}))

    new ScrollMagic.Scene({triggerElement: "#chakra1", duration: 300, tweenChanges: true})
                    .setTween(tween11)
                    .addTo(controller);

    var tween12 = new TimelineMax()
        .add(TweenMax.to($line12, 0.9, {strokeDashoffset: 0, ease:Linear.easeNone}))

    new ScrollMagic.Scene({triggerElement: "#chakra2", duration: 300, tweenChanges: true})
                    .setTween(tween12)
                    .addTo(controller);
 </script>-->