{% include header.html %}
<section class="service-Bg">
    {% include common_header.html %}
    <div class="commonHeight">
    <img class="commonHeight__img" src="/assets/img/service/Mudras/1.png">
    <h5 class="commonHeight__heading">OUR SERVICES</h5>
    <p class="commonHeight__para">User interface in the eyes of the beholder, Technical specifications is what it is made of. User experience is in their mind.</p>
  </div>
 </section>
<section>
    <div class="service-page">
    <h1 class="service-page__title">browse all graphic design services</h1>
    <div class="service-page__underline"></div>
    {% assign item = site.service %}
    {% for services in item %}
      <div class="row service-page__all-design"> 
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 service-page__img">  
                   <img src="{{services.img}}" class="service-page__all-img">
               </div>
               <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 service-page__content">
                  <h1 class="service-page__subtitle">{{services.title}}</h1>
                   <div class="service-page__subtitle-underline"></div>
                    <ul class="service-page__unordered-list">
                      {% for  serviceList in services.service_lists %}
                       <li class="service-page__list"><a class="service-page__list-anchor" href="{{services.url}}">{{serviceList.title}}</a></li>
                       {% endfor %}
                    </ul>
                    <a class="service-page__link" href="{{services.url}}">know more >></a>
               </div>  
         </div>
      {% endfor %}
       </div>  
 </section> 
{% include common_footer.html %}
{% include footer.html %}
 <script type="text/javascript">
 if (screen.width >= 768) {
    $(window).scroll(function() {
if ($(this).scrollTop() > 700){  
    $('.commonHeader').css({"background-color":"#ee5648","padding-top":"20px","padding-bottom":"20px"});
  }
  else {
    $('.commonHeader').css({"background-color":"transparent","padding-top":"20px","padding-bottom":"20px"});
  }
});
}
else if (screen.width < 768) {
    $(window).scroll(function() {
if ($(this).scrollTop() > 420){  
    $('.commonHeader').css({"background-color":"#ee5648","padding-top":"10px","padding-bottom":"10px"});
  }
  else {
    $('.commonHeader').css({"background-color":"transparent","padding-top":"20px","padding-bottom":"20px"});
  }
});
}
$(window).resize(function() {
  if (screen.width >= 768) {
    $(window).scroll(function() {
if ($(this).scrollTop() > 700){  
    $('.commonHeader').css({"background-color":"#f26522","padding-top":"20px","padding-bottom":"20px"});
  }
  else {
    $('.commonHeader').css({"background-color":"transparent","padding-top":"20px","padding-bottom":"20px"});
  }
});
}
else if (screen.width < 768) {
    $(window).scroll(function() {
if ($(this).scrollTop() > 420){  
    $('.commonHeader').css({"background-color":"#f26522","padding-top":"10px","padding-bottom":"10px"});
  }
  else {
    $('.commonHeader').css({"background-color":"transparent","padding-top":"20px","padding-bottom":"20px"});
  }
});
}
});
</script>
