.hero {
    #text1,#text2,#text3,#text4 {
        display: none;
        opacity: 0;
    }
    .homepageBg {
        // background-color: #241141;
        background-image: url("/assets/img/homepage/BG.jpg");
        overflow-y: hidden;
        height: 100vh;
    }
    .hopageDesk {
        display: flex;
        align-items: center;
        height: 95vh;
    }
    .homepageRow {
        display: table;
        width: 1020px;
        margin: 0 auto;
        .homepageCln {
            display: table-cell;
            float: left;
        }
        .homepageContent {
            display: table-cell;
            float: right;
            width: 475px;
        }
    }
    .homepageBgImg {
        background-repeat: no-repeat;
        background-size: contain;
        height: 530px;
        position: fixed;
        width: 500px;
        margin-left:40px;
        &__img {
            background-image: url("/assets/img/homepage/sprite.png");
            background-repeat: no-repeat;
            background-position: -76px -70px;
            height: 158px;
            width: 201px;
            left: 188px;
            position: relative;
            top: 132px;
        }
    }
    #background_image {
        background-image: url("/assets/img/homepage/ANIMATIONS/1.gif");
    }
    #background_image1 {
        background-image: url("/assets/img/homepage/ANIMATIONS/3.gif");
        display: none;
    }
    #background_image2 {
        background-image: url("/assets/img/homepage/ANIMATIONS/4.gif");
        display: none;
    }
    #background_image3 {
        background-image: url("/assets/img/homepage/ANIMATIONS/5.gif");
        display: none;
    }
    #background_image4 {
        background-image: url("/assets/img/homepage/ANIMATIONS/2.gif");
        display: none;
    }
    .homepageContent {
        color: $secondary-color;
        padding-top: 150px;
        float: right;
        &__heading {
            font-size: $secondary-headingfont;
            font-family: $ternary-titlefamily;
            margin: 8px 0 10px 0;
            line-height: 60px;
            letter-spacing: 1px;
            width: 400px;
        }
        &__para {
            font-family: $secondary-contentfamily;
            font-size: $secondary-contentfont;
            line-height: 25px;
            letter-spacing: 1px;
            margin-bottom: 20px;
            width: 400px;
        }
        &__button {
            background-color: #f1123e;
             border:2px solid #f1123e;  
            border-radius: 15px;
            padding: 8px 15px;
            outline: none;
            color: $secondary-color;
            text-transform: uppercase;
            font-size: $ternary-contentfont;
            font-family: $ternary-contentfamily;
            cursor: pointer;
        }

       &__button:hover{
                    background-color:#241141; 
                    border:2px solid #f1123e;   
            }
        &__link {
            padding:4px 0 7px;
        }
        &__border {
            width: 50px;
            border-top: 7px solid #fff;
        }
    }
    .homepageFooter {
        position: absolute;
        bottom: 20px;
        left: 45%;
        font-family: $secondary-titlefamily;
        font-size: 12px;
        color: $secondary-color;
        &__margin {
            margin-right: 14px;
            vertical-align: middle;
        }
    }
    .scroll-indicators {
        position: fixed;
        right: 70px;
        top: 40%;
        list-style: none;
        li {
            background-color: #fff;
            border-radius: 50%;
            display: block;
            height: 10px;
            margin-bottom: 20px;
            width: 10px;
            cursor: pointer;
            &.active {
                background-color: #f1123e;
            }
        }
    }
    .mobTabSection {
        display: none;
    }
    .tooltip {
        position:relative;
        // z-index: 20;    
    }
    .tooltip span {
        display: none;
    }
    .tooltip:hover {
        z-index: 21;
    }
    .tooltip:hover span {
        display: block;
        color: white;
        pointer-events: none;
        position: absolute;
        top: 4px;
        right: -115px;
        width: 105px;
        font-size: 14px;
        font-family: $ternary-contentfamily;

    }
    // @media screen and (min-width: 1866px) { 
    //     .homepageContent {
    //         &__img {
    //             width: 480px;
    //             height: 500px;
    //         }
    //         &__heading {
    //             font-size: 77px;
    //         }
    //         &__para {
    //             font-size: $primary-contentfont;
    //         }
    //         &__button {
    //             font-size: $secondary-contentfont;;
    //         }
    //     }
    // }
   
     @media screen and (min-width: 1367px) and (max-width: 1865px) {
        .homepageContent {
            &__img {
                width: 380px;
                height: 400px;
            }
        }

    }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
        .slick-prev,.slick-next {
            color: #fff;
            z-index: 1;
            display: none !important;
        }
        .arrow-right {
             color: #ffc700;
            float: right;
            position: fixed;
            right: 5%;
            text-align: right;
            top: 50%;
            font-size: 30px;
            z-index: 1;
            cursor: pointer;
            height: 30px;
            width: 30px;
        }
        .arrow-left {
            color: #ffc700;
            left: 5%;
            position: fixed;
            top: 50%;
            font-size: 30px;
            z-index: 1;
            cursor: pointer;
            height: 30px;
            width: 30px;
        }
        .homepageBg {
            // overflow-y: hidden;
            // height:100%;
        }
        .hopageDesk {
            display: none;
        }
        .mobTabSection {
            display: block;
        }
        .homepageContent {
            align-items: center;
            background-color: #241141;
            display: flex;
            height: 90vh;
            justify-content: center;
            padding: 0;
            text-align: center;
            width: 100%;
            padding-bottom: 2rem;
            &__img {
                width: 500px;
                height: 500px;
                margin: 0 auto;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
            &__heading {
                font-size: $secondary-headingfont;
                margin: 28px 0 18px;
                letter-spacing: 4px;
                width: 100%;
            }
            &__para {
                font-family: $primary-contentfamily;
                margin: 0 30px 16px;
                width: auto;
                letter-spacing: 2px;
            }
            &__button {
                margin-bottom: 125px;
            } 
            &__commomheight {
                outline: none;
                border: none;
            }
        }
        #bg1 {
            background-image: url("/assets/img/homepage/ANIMATIONS/1.gif");
        }
        #bg2 {
            background-image: url("/assets/img/homepage/ANIMATIONS/3.gif");
        }
        #bg3 {
            background-image: url("/assets/img/homepage/ANIMATIONS/4.gif");
        }
        #bg4 {
            background-image: url("/assets/img/homepage/ANIMATIONS/5.gif");
        }
        #bg5 {
            background-image: url("/assets/img/homepage/ANIMATIONS/2.gif");
        }
        .homepageBgImg__img1 {
            position: relative;
        }
       
         .tooltip:hover span {
        top: 32px;
        right: 0;
        }
        .homepageFooter {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 12px;
            position: static;
            text-align: center;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
    .homepageContent{
    margin-top: 90px;
        &__commomheight {
        display: flex;
        justify-content: center;
        align-items: center;
          }
        &__img {
          height: 400px;
          }
        &__heading {
                font-size: 36px;
                margin: 10px 0 0px;
                letter-spacing: 4px;
                width: 100%;
            }
          &__button {
                margin-bottom:0px;
            }
        #img1 {
            left: 28%;
            top: 29%;
            width:210px;
        }
        #img2 {
            left: 38%;
            top: 29%;
            width:180px;
        }
        #img3 {
            left: 32%;
            top: -6%;
            width:175px;
        }
        #img4 {
            left: 38.5%;
            top: 28px;
            width:210px;
        }
        #img5 {
            left: 39%;
            top: 2%;
            width: 145px;
        }      
       }
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
        .homepageBg {
            overflow-y: auto;
        }
        .hopageDesk {
            height: 100vh;
        }
        .mobTabSection {
            // margin-top: -22px;
            height: 90vh;
        }
        .homepageContent {
            height: 100%;
            &__img {
                width: 200px;
                height: 200px;
            }
            &__heading {
                font-size: 18px;
                margin: 0 0 0;
                line-height: 44px;
            }
            &__para {
                  font-size: 10px;
    line-height: 16px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 18px; 
            }
            &__button {
                margin-bottom: 40px;
            }  
        }
        .homepageBgImg__img1 {
            height: 90px;
            width: 90px;
        }
        #img1 {
            left: 27%;
            top: 26%;
        }
        #img2 {
            left: 34%;
            top: 28%;
        }
        #img3 {
            left: 31%;
            top: 5%;
           width: 74px;
        }
        #img4 {
            height: 80px;
            left: 38%;
            top: 11%;
        }
        #img5 {
            height: 105px;
            left: 36%;
            top: 12%;
            width: 70px;
        }
        .tooltip:hover span {
        top: 32px;
        right: 0;
        }
    }
}
