.hero {
    #text1,#text2,#text3,#text4 {
        display: none;
    }
    .homepageBg {
        background-color: #230F42;
        overflow-y: hidden;
        height: 100vh;
    }
    .homepageRow {
        padding: 0 250px 0 250px;
    }
    .homepageBgImg {
        background-image: url("/assets/img/homepage/ANIMATIONS/1.gif");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right top;
        height: 380px;
        position: fixed;
        width: 330px;
        &__img {
            height: 166px;
            left: 12%;
            position: relative;
            top: 24%;
            width: 219px;
        }
    }
    .homepageContent {
        color: #fff;
        padding-top: 85px;
        &__heading {
            font-size: 60px;
            font-family: $ternary-titlefamily;
            margin: 8px 0 10px 0;
            line-height: 60px;
            letter-spacing: 1px;
        }
        &__para {
            font-family: $secondary-contentfamily;
            font-size: $primary-contentfont;
            line-height: 18px;
            letter-spacing: 1px;
        }
        &__button {
            background-color: #f1123e;
            border: medium none;
            border-radius: 15px;
            padding: 5px 15px;
        }
        &__border {
            width: 50px;
            border-top: 5px solid #fff;
        }
    }
}