$mobileHeading: 14px;
$tabHeading:16px;
$laptopHeading:18px;
$desktopHeading:18px;
$highresHeading:22px;
$primary-titlefamily: "montserrat-regular";
$secondary-titlefamily: "montserrat-light";
$ternary-titlefamily: "montserrat-bold";
$primary-contentfamily: "raleway-regular";
$secondary-contentfamily: "raleway-light";
$ternary-contentfamily: "raleway-bold";
.lifeContainer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    &__video {
        margin-bottom: 30px;
        img {
            width: 100%;
        }
    }
    &__content {
        margin: 70px 0px;
    }
    &__details {
        margin: 80px 0px;
        h1 {
            font-family: $ternary-titlefamily;
            font-size: $desktopHeading;
            color: #333;
            letter-spacing: 0.02em;
            text-align: center;
            text-transform: uppercase;
            margin: 0;
        }
        p {
            font-family: $primary-contentfamily;
            font-size: 15px;
            color: #666;
            line-height: 24px;
            margin-top: 40px;
            text-align: center;
        }
    }
}

.contentContainer {
    h1 {
        font-family: $ternary-titlefamily;
        font-size: $desktopHeading;
        color: #333;
        letter-spacing: 0.02em;
    }
    p {
        font-family: $primary-contentfamily;
        font-size: 15px;
        color: #666;
        line-height: 24px;
        margin-bottom: 40px;
    }
}

.imageSecondLayout {
    &__first {}
    &__second {
        margin-top: 30px;
        margin-bottom: 80px;
    }
    &__fLeft {
        img {
            width: 100%;
        }
    }
    &__fRight {
        img {
            width: 100%;
        }
    }
}

.imageFirstLayout {
    .img_cont:first-child {
        margin-bottom: 7px;
    }
    .img_cont0 {
        display: inline;
        width: 800px;
        // background-color: gree;
    }
    .img_cont1 {
        display: inline;
        width: 400px;
        // background-color: red;
    }
    .img_cont2 {
        display: inline;
        width: 400px;
        // background-color: red;
        margin-left: 20px;
    }
    #image {
        display: inline-block;
        width: 100%;
        font-size: 0;
        line-height: 0;
        vertical-align: middle;
        background-size: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url('/assets/img/lifeAtLittleBrahma/1_1.png');
    }
    #image1 {
        display: inline-block;
        width: 100%;
        font-size: 0;
        line-height: 0;
        vertical-align: middle;
        background-size: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url('/assets/img/lifeAtLittleBrahma/1_2.png');
    }
    #image2 {
        display: inline-block;
        width: 100%;
        font-size: 0;
        line-height: 0;
        vertical-align: middle;
        background-size: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url('/assets/img/lifeAtLittleBrahma/1_3.png');
    }
    .img_test {
        display: flex;
    }
    .bg_layout {
        background-color: red;
    }
    #image-inner {
        display: block;
        height: 0;
        padding-top: 67%;
    }
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .imageSecondLayout {
        &__fLeft {
            margin-bottom: 12px;
        }
        &__second {
            margin-top: 15px;
            margin-bottom: 40px;
        }
    }
    .lifeContainer {
        padding-top: 0;
        width: 75%;
        &__details {
            h1 {
                font-family: $ternary-titlefamily;
                font-size: 14px;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0.02em;
            }
            p {
                font-family: $primary-contentfamily;
                font-size: 12px;
                color: #666;
                line-height: 20px;
                margin-bottom: 20px;
            }
        }
    }
    .contentContainer {
        h1 {
            font-family: $ternary-titlefamily;
            font-size: 14px;
            color: #333;
            letter-spacing: 0.02em;
            text-align: center;
        }
        p {
            font-family: $primary-contentfamily;
            font-size: 12px;
            color: #666;
            line-height: 20px;
            margin-bottom: 20px;
            text-align: center;
        }
    }
    .imageFirstLayout {
        #image {
            margin-bottom: 1rem;
        }
        .img_test {
            display: inline;
        }
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .imageSecondLayout {
        &__fLeft {
            margin-bottom: 12px;
        }
        &__second {
            margin-top: 15px;
            margin-bottom: 40px;
        }
    }
    .lifeContainer {
        &__details {
            h1 {
                font-family: $ternary-titlefamily;
                font-size: 15px;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0.02em;
            }
            p {
                font-family: $primary-contentfamily;
                font-size: 13px;
                color: #666;
                line-height: 21px;
                margin-bottom: 40px;
            }
        }
    }
    .contentContainer {
        h1 {
            font-family: $ternary-titlefamily;
            font-size: 15px;
            color: #333;
            letter-spacing: 0.02em;
        }
        p {
            font-family: $primary-contentfamily;
            font-size: 13px;
            color: #666;
            line-height: 21px;
        }
    }
    .imageFirstLayout {
        .img_test {
            display: inline;
        }
    }
}

@media only screen and (min-width:1024px) and (max-width:1366px) {
    .lifeContainer {
        &__details {
            h1 {
                font-family: $ternary-titlefamily;
                font-size: 17px;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0.02em;
            }
            p {
                font-family: $primary-contentfamily;
                font-size: 14px;
                color: #666;
                line-height: 22px;
                margin-bottom: 40px;
            }
        }
    }
    .contentContainer {
        h1 {
            font-family: $ternary-titlefamily;
            font-size: 17px;
            color: #333;
            letter-spacing: 0.02em;
        }
        p {
            font-family: $primary-contentfamily;
            font-size: 14px;
            color: #666;
            line-height: 22px;
        }
    }
}

@media only screen and (min-width:1866px) {
    .imageFirstLayout {
        .img_cont0 {
            display: inline;
            width: 80%;
            // background-color: gree;
        }
        .img_cont2 {
            width: 40%;
            // background-color: red;
        }
    }
    .lifeContainer {
        &__content {
            margin: 95px 0px;
        }
        &__details {
            margin: 95px 0px;
            h1 {
                font-family: $ternary-titlefamily;
                font-size: 24px;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0.02em;
                line-height: 34px;
            }
            p {
                font-family: $primary-contentfamily;
                font-size: 16px;
                color: #666;
                line-height: 25px;
                margin-top: 65px;
            }
        }
    }
    .contentContainer {
        h1 {
            font-family: $ternary-titlefamily;
            font-size: 24px;
            color: #333;
            letter-spacing: 0.02em;
            line-height: 34px;
        }
        p {
            font-family: $primary-contentfamily;
            font-size: 16px;
            color: #666;
            line-height: 25px;
        }
    }
}