$mobileHeading: 14px;
$tabHeading:16px;
$laptopHeading:18px;
$desktopHeading:18px;
$highresHeading:22px;
$primary-titlefamily: "montserrat-regular";
$secondary-titlefamily: "montserrat-light";
$ternary-titlefamily: "montserrat-bold";
$primary-contentfamily: "raleway-regular";
$secondary-contentfamily: "raleway-light";
$ternary-contentfamily: "raleway-bold";
.lifeContainer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    &__video {
        width: 100%;
        position: relative;
        height: 400px;
        margin: 60px 0px;
        background-image: url("/assets/img/lifeAtLittleBrahma/img1.png");
        background-position: center;
        background-size: contain;
    }
    &__content {}
    &__details {
        h1 {
            font-family: $ternary-titlefamily;
            font-size: $desktopHeading;
            color: #333;
            letter-spacing: 0.02em;
            text-align: center;
            text-transform: uppercase;
        }
        p {
            font-family: $primary-contentfamily;
            font-size: 15px;
            color: #666;
            line-height: 24px;
            margin-bottom: 40px;
        }
    }
}

.contentContainer {
    h1 {
        font-family: $ternary-titlefamily;
        font-size: $desktopHeading;
        color: #333;
        letter-spacing: 0.02em;
    }
    p {
        font-family: $primary-contentfamily;
        font-size: 15px;
        color: #666;
        line-height: 24px;
        margin-bottom: 40px;
    }
}

.imageSecondLayout {
    &__first {}
    &__second {
        margin-top: 30px;
        margin-bottom: 80px;
    }
    &__fLeft {
        img {
            width: 100%;
        }
    }
    &__fRight {
        img {
            width: 100%;
        }
    }
}